<!--=====================================-->
<!--=        Blog Area Start       	    =-->
<!--=====================================-->
<section class="section section-padding-equal" id="op-blog">
    <div class="container">
        <div class="section-heading">
            <span class="subtitle text-capitalize wow rollIn">What's Going On</span>
            <h2 class="title text-capitalize wow fadeInUp">Latest articles</h2>
            <p class="wow fadeInUp"><a routerLink="/blog" class="axil-btn btn-fill-white btn-large">Archive</a></p>
        </div>
        <div class="row g-0">
            <div class="col-xl-6 sal-animate wow slideInLeft">
                <div class="blog-list active">
                    <div class="post-thumbnail">
                        <a routerLink="/blog/oct-2022/what-makes-a-good-architecture-one-thats-based-on-academia-or-experience"><img class="img-fluid" style="max-height: 240px;"
                                src="assets/images/blog/what-makes-a-good-architecture-one-thats-based-on-academia-or-experience.webp" alt="What Makes Good Architecture, One That's Based On Academia Or Experience?"></a>
                        <img class="modal-thumb" src="assets/images/blog/what-makes-a-good-architecture-one-thats-based-on-academia-or-experience.webp" alt="What Makes Good Architecture, One That's Based On Academia Or Experience?">
                    </div>
                    <div class="post-content">
                        <h5 class="title"><a routerLink="/blog/oct-2022/what-makes-a-good-architecture-one-thats-based-on-academia-or-experience">What Makes Good Architecture, One That's Based On Academia Or Experience?</a></h5>
                        <p>With the number of software development jobs increasing yearly and the demand for developers growing, there's never been a better time to be in IT. The only problem is that developers don't all come from the same background. Many programmers today learn their trade online without university degrees or professional experience. Others went to school and got degrees in computer science before they started working as an architect - but what makes one type better than another? </p>
                        <a routerLink="/blog/oct-2022/what-makes-a-good-architecture-one-thats-based-on-academia-or-experience" class="more-btn">Learn more<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 sal-animate wow slideInRight">
                <div class="blog-list border-start">
                    <div class="post-thumbnail">
                        <a routerLink="/blog/oct-2022/are-you-crippling-your-agile-team-with-procedure"><img class="img-fluid" style="max-height: 240px;"
                                src="assets/images/blog/are-you-crippling-your-agile-team-with-procedure.webp" alt="Are You Crippling Your Agile Team With Procedure?"></a>
                        <img class="modal-thumb" src="assets/images/blog/are-you-crippling-your-agile-team-with-procedure.webp" alt="Are You Crippling Your Agile Team With Procedure?">
                    </div>
                    <div class="post-content">
                        <h5 class="title"><a routerLink="/blog/oct-2022/are-you-crippling-your-agile-team-with-procedure">Are You Crippling Your Agile Team With Procedure?</a></h5>
                        <p>I was talking with a friend about agile development and how Procedure can sometimes slow you down. We were talking about this other friend who's been working in an agile environment for years now, and he just couldn't figure out why things weren't moving as fast as they used to. He was frustrated because he felt like his team wasn't getting anything done anymore. </p>
                        <a routerLink="/blog/oct-2022/are-you-crippling-your-agile-team-with-procedure" class="more-btn">Learn more<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-1 list-unstyled">
        <li class="shape shape-1"><img src="assets/media/others/bubble-1.png" alt="bubble"></li>
        <li class="shape shape-2"><img src="assets/media/others/line-1.png" alt="bubble"></li>
        <li class="shape shape-3"><img src="assets/media/others/line-2.png" alt="bubble"></li>
        <li class="shape shape-4"><img src="assets/media/others/bubble-2.png" alt="bubble"></li>
    </ul>
</section>