<!--=====================================-->
<!--=        Blog Area Start       	    =-->
<!--=====================================-->
<section class="section section-padding-equal" id="op-blog">
    <div class="container">
        <div class="section-heading">
            <span class="subtitle text-capitalize wow rollIn">What's Going On</span>
            <h2 class="title text-capitalize wow fadeInUp">Latest articles</h2>
            <p class="wow fadeInUp"><a routerLink="/blog" class="axil-btn btn-fill-white btn-large">Archive</a></p>
        </div>
        <div class="row g-0">
            <div class="col-xl-6 sal-animate wow slideInLeft">
                <div class="blog-list active">
                    <div class="post-thumbnail">
                        <a routerLink="/blog/oct-2022/our-transformation-methodology-here-is-our-approach"><img class="img-fluid" style="max-height: 240px;"
                                src="assets/images/blog/our-transformation-methodology-here-is-our-approach.webp" alt="Our transformation methodology - here is our approach"></a>
                        <img class="modal-thumb" src="assets/images/blog/our-transformation-methodology-here-is-our-approach.webp" alt="Our transformation methodology - here is our approach">
                    </div>
                    <div class="post-content">
                        <h5 class="title"><a routerLink="/blog/oct-2022/our-transformation-methodology-here-is-our-approach">Our transformation methodology - here is our approach</a></h5>
                        <p>The world is changing, and so are we. Digital technologies have changed how we work and live, and they will only get more critical in the future.
                            To stay ahead of the curve, your organization needs a digital transformation strategy to help you adapt to these changes and remain relevant as a business.</p>
                        <a routerLink="/blog/oct-2022/our-transformation-methodology-here-is-our-approach" class="more-btn">Learn more<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 sal-animate wow slideInRight">
                <div class="blog-list border-start">
                    <div class="post-thumbnail">
                        <a routerLink="/blog/oct-2022/dont-take-cybersecurity-lightly"><img class="img-fluid" style="max-height: 240px;"
                                src="assets/images/blog/dont-take-cybersecurity-lightly.webp" alt="Don't Take Cybersecurity Lightly"></a>
                        <img class="modal-thumb" src="assets/images/blog/dont-take-cybersecurity-lightly.webp" alt="Don't Take Cybersecurity Lightly">
                    </div>
                    <div class="post-content">
                        <h5 class="title"><a routerLink="/blog/oct-2022/dont-take-cybersecurity-lightly">Don't Take Cybersecurity Lightly</a></h5>
                        <p>Over the last few years, there's been a lot of talk about Cybersecurity and how it affects businesses. </p>
                        <a routerLink="/blog/oct-2022/dont-take-cybersecurity-lightly" class="more-btn">Learn more<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-1 list-unstyled">
        <li class="shape shape-1"><img src="assets/media/others/bubble-1.png" alt="Taliferro Group - Blog area bubble"></li>
        <li class="shape shape-2"><img src="assets/media/others/line-1.png" alt="Taliferro Group - Blog area bubble"></li>
        <li class="shape shape-3"><img src="assets/media/others/line-2.png" alt="Taliferro Group - Blog area bubble"></li>
        <li class="shape shape-4"><img src="assets/media/others/bubble-2.png" alt="Taliferro Group - Blog area bubble"></li>
    </ul>
</section>