<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <!-- Start Header -->
    <header id="masthead" class="site-header">
        <nav class="navbar navbar-expand-lg" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/#products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About</a>
                        </li>
                    </ul>
                    <span class="navbar-text"> 425.305.3748 </span>
                </div>
            </div>
        </nav> 

        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1 style="font-size: 150px;">4 0 4</h1>
                    </div>
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </header>
    <!-- End Header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content text-center">
                                <h2>The requested page cannot be found.</h2>
                                
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div> <!-- #primary -->
    </div> <!-- #content -->
    <!-- Start Footer -->
    <footer id="colophon" class="container-fluid site-footer footer-color">
        <div class="container footer-container site-top-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 bottom-footer">
                    <div class="col-md-12 col-sm-12 copy-text">
                        <p class="text-center">© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a routerLink="/privacy-policy"
                                style="color:aliceblue">Privacy Policy</a> | <a href="/terms-of-service" style="color:aliceblue">Terms of Service</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- End Footer -->
</div>