<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->


<div id="main-wrapper" class="main-wrapper">

    <!--=====================================-->
    <!--=        Header Area Start       	=-->
    <!--=====================================-->
    <app-header-area-light></app-header-area-light>
    <!--=====================================-->
    <!--=           404 Area Start          =-->
    <!--=====================================-->
    <section class="error-page onepage-screen-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="content" >
                        <h2 class="title text-capitalize">Page not found</h2>
                        <p>Sorry about that. <i class="fa fa-frown-o" aria-hidden="true"></i></p>
                        <a routerLink="/" class="axil-btn btn-fill-primary">Go Home</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail wow fadeIn">
                        <img src="assets/media/others/404.png" alt="404">
                    </div>
                </div>
            </div>
        </div>
        <ul class="shape-group-8 list-unstyled">
            <li class="shape shape-1 wow fadeInUp">
                <img src="/assets/media/others/bubble-9.png" alt="Bubble">
            </li>
            <li class="shape shape-2 wow fadeInUp">
                <img src="/assets/media/others/bubble-27.png" alt="Bubble">
            </li>
            <li class="shape shape-3 wow fadeInUp">
                <img src="/assets/media/others/line-4.png" alt="Line">
            </li>
        </ul>
    </section>


</div>