<div class="breadcrum-area breadcrumb-banner" id="op-home">
    <div class="container">
        <div class="section-heading heading-left wow slideILeft">
            <h1 class="title h2 wow fadeInUp">{{header}}</h1>
            <p class="wow fadeInUp">{{description}}</p>
        </div>
        <div class="banner-thumbnail wow fadeInUp">
            <img class="img-fluid" style="max-width: 800px;" src="{{image}}" alt="Thank You So Much">
        </div>
    </div>
    <ul class="shape-group-8 list-unstyled">
        <li class="shape shape-1 wow slideInLeft">
            <img src="assets/media/others/bubble-9.png" alt="Taliferro Group - Bubble1">
        </li>
        <li class="shape shape-2 wow slideInRight">
            <img src="assets/media/others/bubble-21.png" alt="Taliferro Group - Thank You Bubble2">
        </li>
        <li class="shape shape-3 wow fadeInUp">
            <img src="assets/media/others/line-4.png" alt="Taliferro Group - Thank You Bubble3">
        </li>
    </ul>
</div>