<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
<footer class="footer-area">
    <div class="container">
        <div class="footer-top">
            <div class="footer-social-link wow fadeInUp">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/taliferro.group/"  aria-label="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/TaliferroLLC"  aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/taliferro/"  aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/taliferrogroup/"  aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://angel.co/company/taliferro-group"  aria-label="Angel List"><i class="fa fa-fw fa-angellist"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-main">
            <div class="row">
                <div class="col-xl-6 col-lg-5 sal-animate wow slideInRight">
                    <div class="footer-widget border-end">
                        <div class="footer-newsletter">
                            <h2 class="title">Get in touch!</h2>
                            <p>We are more than simply a custom software company. We are your information transformation experts.</p>
                            <a class="subscribe-btn" href="https://calendly.com/ty-showers/30min"  aria-label="Schedule an Appointment">Schedule an Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 sal-animate wow slideInLeft">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-widget">
                                <h6 class="widget-title">Services</h6>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><span><strong style="font-weight:600">Agile Training</strong> </span></li>
                                        <li><span><strong style="font-weight:600">Cloud Architecture</strong> </span></li>
                                        <li><span><strong style="font-weight:600">API Design</strong> </span></li>
                                        <li><span><strong style="font-weight:600">Data Design</strong> </span></li>
                                        <li><span><strong style="font-weight:600">Website Development</strong> </span></li>
                                        <li><span><strong style="font-weight:600">APIGEE Integration</strong> </span></li>
                                        <li><span><strong style="font-weight:600">Website Optimization</strong> </span></li>
                                        <li><span><strong style="font-weight:600">Pay-Per-Click</strong> </span></li>
                                        <li><span><strong style="font-weight:600">Social Media Marketing</strong> </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <h6 class="widget-title">Resourses</h6>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/blog" aria-label="Blog Archive">Blog Archive</a></li>
                                        <li><a routerLink="/blog/dont-let-your-web-store-turn-into-a-desert">Articles</a></li>
                                        <li><a href="#op-portfolio" aria-label="SaaS">SaaS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <h6 class="widget-title">Support</h6>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/refund-policy" aria-label="Refund Policy">Refund Policy</a></li>
                                        <li><a routerLink="/privacy-policy" aria-label="Privacy Policy">Privacy Policy</a></li>
                                        <li><a routerLink="/terms-of-service" aria-label="Terms of Service">Terms</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom sal-animate wow fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <span class="" style="font-size:xx-small">© Copyright. Taliferro ® Is Registered In The U.S. Patent And Trademark Office.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-link">
                        <ul class="list-unstyled">
                            <li><a href="https://taliferro.com/privacy-policy" aria-label="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="https://taliferro.com/terms-of-service" aria-label="Terms of Service">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>