<!--=====================================-->
<!--=        Service Area Start         =-->
<!--=====================================-->
<section class="section section-padding" id="op-service">
    <div class="container">
        <div class="section-heading heading-left mb--20 mb_md--70">
            <span class="subtitle  wow fadeInUp">What We Can Do For You</span>
            <h2 class="title  wow fadeInUp">Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 mt--200 mt_md--0 sal-animate  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <img src="assets/media/icon/96w/coding-view-96.png" alt="Design">
                    </div>
                    <div class="content">
                        <h5 class="title">Design</h5>
                        <p>Information that flows easily allows for more effective decision making.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt--100 mt_md--0 sal-animate  wow fadeInUp">
                <div class="services-grid service-style-2 active">
                    <div class="thumbnail">
                        <img src="assets/media/icon/96w/sitemap-96.png" alt="Architecture">
                    </div>
                    <div class="content">
                        <h5 class="title">Architecture</h5>
                        <p>Expertise across a variety of platforms ensures the best solution.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sal-animate  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <img src="assets/media/icon/96w/computer-programing-96.png" alt="Development">
                    </div>
                    <div class="content">
                        <h5 class="title">Development</h5>
                        <p>Our development process is streamlined for the right solution faster. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-7 list-unstyled">
        <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
        <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
        <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
    </ul>
</section>