<section class="section-padding-equal case-study-solution color-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading heading-left">
                    <h2 class="title">Take A Look</h2>
                    <p>We build applications and devise marketing strategies to help meet your goals.</p>
                </div>
                <div class="col-md-12 video-block">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe title="About Taliferro" *ngIf="(iVideo === 0)" is="x-frame-bypass" class="embed-responsive-item" src="https://www.youtube.com/embed/D2BlJ2eclwA" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe title="Laboratory Information System Explainer" *ngIf="(iVideo === 1)" is="x-frame-bypass" class="embed-responsive-item" src="https://www.youtube.com/embed/KJVzpCt8DHI" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe title="From Website to Web Business" *ngIf="(iVideo === 2)" is="x-frame-bypass" class="embed-responsive-item" src="https://www.youtube.com/embed/AGg92kXYAB4" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-10 list-unstyled">
        <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Taliferro Group - video decoration"></li>
        <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Taliferro Group - video decoration"></li>
    </ul>
</section>