<section class="section-padding-equal case-study-solution color-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading heading-left">
                    <h2 class="title">Our Process</h2>
                    <p>If you love what you do and want to make money from it, we'll show you how.</p>
                    <p>We will help you create a solution that will save you time, increase your profits, and build a strong relationship with your customers.</p>
                </div>
                <div class="col-md-12 video-block">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe is="x-frame-bypass" class="embed-responsive-item" src="https://www.youtube.com/embed/D2BlJ2eclwA" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- <div class="about-expert">
                    <div class="thumbnail paralax-image">
                        <img src="assets/media/about/about-1.png" alt="Thumbnail">
                        <div class="popup-video">
                            <a href="https://www.youtube.com/watch?v=D2BlJ2eclwA" class="play-btn popup-youtube"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <ul class="shape-group-10 list-unstyled">
        <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
        <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
    </ul>
</section>