<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'What we\'ve learned from doing our own Social Media Marketing'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/blog/what-weve-learned-from-doing-our-own-social-media-marketing.webp"
                                    alt="What we've learned from doing our own Social Media Marketing">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Oct 12, 2022</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="wow fadeInUp"> Introduction </h2>
                            <p class="wow fadeInUp mb--80"> We're a small business, and we've been doing social media marketing for a few weeks. We've learned a lot along the way, but more importantly: we've
                                learned what not to do! Here are some of our biggest takeaways: </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Watch out for scams </h3>
                            <p class="wow fadeInUp"> Scams are everywhere on social media. They pop up in your feed and look like legitimate content, but they're not. The best way to avoid scams is to
                                always watch out for them (and report them). It's pretty straightforward: </p>
                            <p class="wow fadeInUp"> Ensure that the account claiming to help you is affiliated with the company it says it is. If you have questions about an account, contact the
                                company directly and ask if that person or group has been vetted as a representative of their brand. </p>
                            <p class="wow fadeInUp mb--80"> If something seems too good to be true, it probably is! Know what you're clicking on before clicking. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Ask people selling courses to show their successful clients </h3>
                            <p class="wow fadeInUp"> We've learned a ton from doing our social media marketing. One of the most important things we've learned is how to use social media for business.
                                We've found that asking people who sell courses on how to do social media marketing is a precious lesson in itself. </p>
                            <p class="wow fadeInUp"> We can't stress enough how much you should ask for examples of successful campaigns and strategies when researching ways to improve your campaigns.
                                The best way to learn is by measure, so as long as you're willing to put in some work, you'll find success quickly if you follow along with what other businesses have
                                done before you. </p>
                            <p class="wow fadeInUp mb--80"> Asking around for references is also great if anyone else has done what you'd like to do. This will give them the incentive to help out (especially
                                if they see potential value in it), and even better yet: it gives them incentive because it makes them look good! </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Practice diligence and commitment </h3>
                            <p class="wow fadeInUp"> You need to be committed and diligent. You'll want to write a blog post every week, but sometimes life gets in the way, and that's okay. Just
                                commit to writing something once a week, and you'll still be able to market your business effectively. And when you set goals for yourself, even if they're not met 100%
                                of the time, it shows that you're committing yourself fully as an entrepreneur with great ambition for growth and success. </p>
                            <p class="wow fadeInUp mb--80"> We didn't always practice diligence on social media platforms like Twitter or Facebook (or Instagram) in our first few months. Still, now we put
                                effort into making sure we have at least one post up per day from each platform so that people know what's going on with us (and keep coming back!) This helps us grow
                                our audience within these networks while also staying connected with them outside of them through email newsletters or other forms of marketing- a win-win situation.
                            </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> As of 10/8/2022, Our Facebook followers are zero </h3>
                            <ul class="wow fadeInUp mb--80">
                                <li> We have no followers on Facebook. </li>
                                <li> We are not using social media to promote our business. </li>
                                <li> We are using Facebook as a platform for educational purposes only, and we aren't trying to sell anything on the site. </li>
                                <li> We post to Facebook often, but Facebook wants money to promote your business page if you don't pay them off the bat (even then, it's costly). </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> What we've learned </h3>
                            <p class="wow fadeInUp"> To be successful, you need to: </p>
                            <ul class="wow fadeInUp mb--80">
                                <li> Have goals and make sure they are specific. If your goal is "to grow your business," then it's too vague. A better plan would be "to get 30 new clients in the next
                                    three months". Goals should be measurable. </li>
                                <li> Take risks, and don't be afraid of failure. Don't decide something is too complicated or won't work before trying it out! You will learn much more from failing
                                    than succeeding because you can reflect on what worked and what didn't. </li>
                                <li> Ask for help when needed. Professional advice or guidance is sometimes required, so don't hesitate to reach out when necessary. </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Don't give up on your goals </h3>
                            <p class="wow fadeInUp mb--80"> The first is to not give up on your goals. If you've set a goal, define it and stick to it. Don't be afraid to ask for help or advice when needed,
                                and don't be scared of criticism or feedback, as these can be useful in helping you achieve your goal. </p>
                            <h2 class="wow fadeInUp"> Conclusion </h2>
                            <p class="wow fadeInUp mb--80"> We hope you've learned a little something from our experiences. We've had a few bumps in the road, but we're still here and learning how to do this
                                right. If you want to get started with your social media marketing, please reach out to us. We'd love to help guide you through it all and show off some cool tricks
                                along the way :) </p>
                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/oct-2022/the-marriage-of-software-development-and-social-media-marketing"><i class="fa fa-chevron-left"
                                            aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="/blog/oct-2022/leadership-isnt-about-platitudes-or-is-it" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>