<section class="section section-padding bg-color-light pb--70">
    <div class="container">
        <div class="section-heading mb--90">
            <span class="subtitle text-capitalize wow fadeInUp">{{subtitle}}</span>
            <h2 class="title text-capitalize wow fadeInUp">{{header}}</h2>
            <p class="wow fadeInUp">{{description}}</p>
        </div>
        <div class="process-work wow fadeInUp">
            <div class="thumbnail paralax-image">
                <img  class="img-fluid" style="max-width: 410px;" src="{{image1}}" alt="Thumbnail">
            </div>
            <div class="content">
                <span class="subtitle text-capitalize">{{subtitle1}}</span>
                <h3 class="title text-capitalize">{{title1}}</h3>
                <p class="text-sentence">{{description1}}.</p>
            </div>
        </div>
        <div class="process-work content-reverse wow fadeInUp">
            <div class="thumbnail paralax-image">
                <img  class="img-fluid" style="max-width: 410px;" src="{{image2}}" alt="Thumbnail">
            </div>
            <div class="content">
                <span class="subtitle text-capitalize">{{subtitle2}}</span>
                <h3 class="title text-capitalize">{{title2}}</h3>
                <p class="text-sentence">{{description2}}</p>
            </div>
        </div>
        <div class="process-work wow fadeInUp">
            <div class="thumbnail paralax-image">
                <img  class="img-fluid" style="max-width: 410px;" src="{{image3}}" alt="Thumbnail">
            </div>
            <div class="content">
                <span class="subtitle text-capitalize">{{subtitle3}}</span>
                <h3 class="title text-capitalize">{{title3}}</h3>
                <p class="text-sentence">{{description3}}</p>
            </div>
        </div>
        <div class="process-work content-reverse wow fadeInUp">
            <div class="thumbnail paralax-image">
                <img class="img-fluid" style="max-width: 410px;" src="{{image4}}" alt="Thumbnail">
            </div>
            <div class="content">
                <span class="subtitle text-capitalize">{{subtitle4}}</span>
                <h3 class="title text-capitalize">{{title4}}</h3>
                <p class="text-sentence">{{description4}}</p>
            </div>
        </div>
    </div>
    <ul class="shape-group-17 list-unstyled">
        <li class="shape shape-2 wow fadeInUp"><img src="assets/media/others/bubble-23.png" alt="Bubble"></li>
        <li class="shape shape-3 wow fadeInUp"><img src="assets/media/others/line-4.png" alt="Line"></li>
        <li class="shape shape-4 wow fadeInUp"><img src="assets/media/others/line-5.png" alt="Line"></li>
        <li class="shape shape-5 wow fadeInUp"><img src="assets/media/others/line-4.png" alt="Line"></li>
        <li class="shape shape-6 wow fadeInUp"><img src="assets/media/others/line-5.png" alt="Line"></li>
    </ul>
</section>