<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'API Design'" [description]="'A great API is more than just a set of endpoints. It\'s a way to make your company\'s data accessible to developers securely while also providing them with everything they need to build their own applications.'" [image]="'assets/images/api-design.png'"></app-banner-area2>
    <app-design-process-area
    [subtitle]="'Secure Your API'"
    [header]="'Best Practices'"
    [description]="'An API Gateway is a middleman between your company\'s backend server and the developer\'s frontend application. This way, you can control who has access to what resources and data and what processes are allowed for each request.'"
    [image1]="'/assets/images/api-design1.png'"
    [subtitle1]="'safety first'"
    [title1]="'Security'"
    [description1]="'We are committed to your data\'s safety. That means we use the best practices, including encryption, authentication, and access control. We also offer two-factor authentication for added security.'"
    [image2]="'/assets/images/api-design2.png'"
    [subtitle2]="'indicates you are serious'"
    [title2]="'Developer Portal'"
    [description2]="'A developer portal is designed to be intuitive and easy to use so that you can get up and running quickly.'"
    [image3]="'/assets/images/api-design3.png'"
    [subtitle3]="'Good design attracts'"
    [title3]="'Developers as Users'"
    [description3]="' We have the technical expertise and the experience to develop a robust API for your business. Our goal is to make sure your API is in line with best practices and that it can be easily integrated into any developer portal.'"
    [image4]="'/assets/images/api-design4.png'"
    [subtitle4]="'a process'"
    [title4]="'Methodology'"
    [description4]="'Developing an API is a lot like building a house. You need to plan it out carefully and make sure you\'re building it with your users in mind. A good API design will have security at its core and ensure the developer portal is well-designed and intuitive.'"
    ></app-design-process-area>
    <app-about-us-area
    [header]="'Design Methodologies'"
    [subtitle]="'professional services'"
    [description]="'We believe that the best APIs are created with a designer’s process, methodology, and practice. We also understand that experience is key to creating a great product. We will use our expertise as a design expert team to create an easy-to-use and easy-to-understand API for your users. We believe in iterative design practices to ensure each new release of our API is better than the last.'"
    [title1]="'API Design Methodologies'"
    [description1]="'API design is a complex process that requires many considerations and practices. A sound API design methodology considers the business needs, requirements, and technical challenges.'"
    [title2]="'Agile API Design Methodology'"
    [description2]="'The Agile API Design Methodology is focused on the end-user and their needs. This methodology focuses on creating an API that will help users accomplish whatever they want within the application while staying within budget and time constraints.'"
    [title3]="'Waterfall API Design Methodology'"
    [description3]="'This methodology focuses on taking one step at a time, so each step is completed before moving on to the next. It is better suited for more stable projects with defined specifications from the start.'"
    [formTitle]="'Let\'s Start Designing'"
    ></app-about-us-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>