<a href="#main-wrapper" id="backto-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area></app-header-area>
    <app-banner-area></app-banner-area>
    <app-service-area></app-service-area>
    <app-project-area></app-project-area>
    <app-video-area></app-video-area>
    <app-testimonial-area></app-testimonial-area>
    <app-counter-area></app-counter-area>
    <app-blog-area></app-blog-area>
    <app-contact-area></app-contact-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>