<a name="team"></a>
<section id="team---2" class="container-fluid section-block team-2  color-block">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Executive Team </h2>
            <div class="block-desc">
                <p>Vikki co-founded two IT startups and other business ventures, including a pop culture and arts ezine and a private wine tasting company. Her penchant for planning,
                    coordinating, and executing is grounded in events and project management. She oversees Taliferro project initiatives and serves as an internal consultant on matters
                    of agile and change management.</p>
            </div>

            <div class="col-md-4 col-sm-12 member-block">
                <div class="border-box">
                    <div class="member-photo">
                        <img src="/assets/images/team-slider1.jpg" alt="Vikki Owens">
                    </div>
                    <div class="member-content">
                        <h2>Vikki Owens</h2>
                        <span>Co-Founder and Managing Partner</span><br>
                        <div class="row">
                            <div class="col-md-6"><img src="assets/images/ScrumProductOwnerBadge_seal-cspo.png" alt="" class="img-fluid"> </div>
                            <div class="col-md-6"><img src="assets/images/CertScrumMasterSeal.png" alt="" class="img-fluid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 member-block">
                <div class="border-box">
                    <div class="member-photo">
                        <img src="/assets/images/team-slider2.jpg" alt="Tyrone Showers">
                    </div> <!-- .member-photo -->
                    <div class="member-content">
                        <h2>Tyrone Showers</h2>
                        <span>Co-Founder, Managing Partner and CTO</span>
                    </div>
                </div> <!-- .border-box -->
            </div>
            <div class="col-md-4 col-sm-12 member-block">
                <div class="border-box">
                    <div class="member-photo">
                        <img src="/assets/images/team-slider3.jpeg" alt="Nathan Brock">
                    </div> <!-- .member-photo -->
                    <div class="member-content">
                        <h2>Nathan Brock</h2>
                        <span>Chief Marketing Officer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
