<!--=====================================-->
<!--=        Project Area Start         =-->
<!--=====================================-->
<section class="section section-padding-2 bg-color-light" id="op-portfolio">
    <div class="container">
        <div class="row">
            <div class="section-heading heading-left text-capitalize">
                <span class="subtitle wow slideInLeft ">Explore Widgets and SaaS Products</span>
                <h3 class="title wow slideInLeft text-capitalize">Passwordless Sign In, LIS, e-Commerce and CRM </h3>
            </div>
        </div>
        <div class="container" style="max-width: 1200px;">
            <div class="row">
                <div class="col-md-6  wow slideInRight">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://passwordless.taliferro.com" aria-label="Passwordless Authentication">
                                <img src="assets/media/project/project-2.webp" alt="Passwordless Authentication">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-2.webp" alt="Passwordless Authentication">
                        </div>
                        <div class="content">
                            <h2 style="font-size:larger; font-weight:bold;" class="title"><a href="https://passwordless.taliferro.com" aria-label="Passwordless Authentication">Passwordless
                                    Authentication</a></h2>
                            <span class="subtitle">Give your customers a better way to login.</span>
                            <div class="details-description">
                                <p>Statistics show that businesses lose 37% of potential sales due to a high-friction login system.</p>
                                <p>We help small businesses and e-commerce VIP customers by providing a passwordless login that can only be used by verified customers. It prevents fraud, saves time,
                                    and increases revenue.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  wow slideInLeft">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://lis.taliferro.com" aria-label="Laboratory Information System">
                                <img src="assets/media/project/project-1.webp" alt="Laboratory Information System">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-1.webp" alt="Laboratory Information System">
                        </div>
                        <div class="content">
                            <h2 class="title" style="font-size:larger; font-weight:bold;"><a href="https://lis.taliferro.com" aria-label="Laboratory Information System">Laboratory Information
                                    System</a></h2>
                            <span class="subtitle">Faster. More efficient. Less maintenance needed.</span>
                            <div class="details-description">
                                <p>Use the cloud. It's up there somewhere. Do you know where? Leave it to us. We're experts in cloud technology. We'll install our completely HIPAA Compliant Laboratory
                                    Information System software in the cloud and set you up to use it right away.</p>
                                <p>Increase efficiency of your laboratory. Save money by eliminating IT costs. Let our team of professionals work for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  wow fadeInUp">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://e-commerce.taliferro.com" aria-label="e-Commerce">
                                <img src="assets/media/project/project-3.webp" alt="e-Commerce">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-3.webp" alt="e-Commerce">
                        </div>
                        <div class="content">
                            <h2 class="title" style="font-size:larger; font-weight:bold;"><a href="https://e-commerce.taliferro.com" aria-label="e-Commerce">e-Commerce</a></h2>
                            <span class="subtitle">Get set up to sell online in a few minutes.</span>
                            <div class="details-description">
                                <p>Did you know that the average e-commerce conversion rate is a paltry 3.57%?</p>
                                <p>Everyone can sell online these days, but why bother when Taliferro Group has created a brand new solution that makes e-Commerce easy. More sales, less work. It's
                                    easy! </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  wow fadeInUp">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://crm.taliferro.com" aria-label="CRM/Contact Management">
                                <img src="assets/media/project/project-4.webp" alt="Customer Relationship Management">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-4.webp" alt="Customer Relationship Management">
                        </div>
                        <div class="content">
                            <h2 class="title" style="font-size:larger; font-weight:bold;"><a href="https://crm.taliferro.com" aria-label="CRM/Contact Management">CRM</a></h2>
                            <span class="subtitle">Contact Manager. Track progress, close new business.</span>
                            <div class="details-description">
                                <p>We help you find the right customers, with our AI-based lead identification and contact automation as a perfect solution for sales.</p>
                                <p>The sales and marketing tool that brings intelligence to your CRM. We're using AI and predictive analytics to give you the best experience with your customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>