<!--=====================================-->
<!--=        Project Area Start         =-->
<!--=====================================-->
<section class="section section-padding-2 bg-color-light" id="op-portfolio">
    <div class="container">
        <div class="row">
            <div class="section-heading heading-left text-capitalize">
                <span class="subtitle wow slideInLeft ">Our Products</span>
                <h2 class="title wow slideInLeft text-capitalize">Our finest work</h2>
            </div>
        </div>
        <div class="container" style="max-width: 1200px;">
            <div class="row">
                <div class="col-md-6  wow slideInLeft">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://lis.taliferro.com">
                                <img src="assets/media/project/project-1.png" alt="Laboratory Information System">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-1.png" alt="Laboratory Information System">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://lis.taliferro.com">Laboratory Information System</a></h4>
                            <span class="subtitle">Faster. More efficient. Less maintenance needed.</span>
                            <div class="details-description">
                                <p>Use the cloud. It's up there somewhere. Do you know where? Leave it to us. We're experts in cloud technology. We'll install our completely HIPAA Compliant Laboratory
                                    Information System software in the cloud and set you up to use it right away.</p>
                                <p>Increase efficiency of your laboratory. Save money by eliminating IT costs. Let our team of professionals work for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  wow slideInRight">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://passwordless.taliferro.com">
                                <img src="assets/media/project/project-2.png" alt="Passwordless Authentication">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-2.png" alt="Passwordless Authentication">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://passwordless.taliferro.com">Passwordless Authentication</a></h4>
                            <span class="subtitle">We've got a better way to login.</span>
                            <div class="details-description">
                                <p>Statistics show that businesses lose 37% of potential sales due to a high-friction login system.</p>
                                <p>We help small businesses and e-commerce VIP customers by providing a passwordless login that can only be used by verified customers. It prevents fraud, saves time, and
                                    increases revenue.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  wow fadeInUp">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://e-commerce.taliferro.com">
                                <img src="assets/media/project/project-3.png" alt="e-Commerce">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-3.png" alt="e-Commerce">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://e-commerce.taliferro.com">e-Commerce</a></h4>
                            <span class="subtitle">Get set up to sell online in a few minutes.</span>
                            <div class="details-description">
                                <p>Did you know that the average e-commerce conversion rate is a paltry 3.57%?</p>
                                <p>Everyone can sell online these days, but why bother when Taliferro Group has created a brand new solution that makes e-Commerce easy. More sales, less work. It's easy!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  wow fadeInUp">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://crm.taliferro.com">
                                <img src="assets/media/project/project-4.png" alt="Customer Relationship Management">
                            </a>
                            <img class="modal-thumb" src="assets/media/project/project-4.png" alt="Customer Relationship Management">
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://crm.taliferro.com">CRM</a></h4>
                            <span class="subtitle">Predictive analytics for a customer experience.</span>
                            <div class="details-description">
                                <p>We help you find the right customers, with our AI-based lead identification and contact automation as a perfect solution for sales.</p>
                                <p>The sales and marketing tool that brings intelligence to your CRM. We're using AI and predictive analytics to give you the best experience with your customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>
<!-- <section class="section section-padding-2 bg-color-light" id="op-portfolio">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">Our Products</span>
                    <h2 class="title">Some of our <br> finest work.</h2>
                </div>
                <div class="axil-isotope-wrapper">
                    <div class="row isotope-list">
                        <div class="col-md-6  wow fadeInUp">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-1.png" alt="project">
                                    </a>
                                    <img class="modal-thumb" src="assets/media/project/project-1.png" alt="project">
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">Laboratory Information System</a></h4>
                                    <span class="subtitle">Faster. More efficient. Less maintenance needed.</span>
                                    <div class="details-description">
                                        <p>Use the cloud. It's up there somewhere. Do you know where? Leave it to us. We're experts in cloud technology. We'll install our completely HIPAA Compliant Laboratory Information System software in the cloud and set you up to use it right away.</p>
                                        <p>Increase efficiency of your laboratory. Save money by eliminating IT costs. Let our team of professionals work for you.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  wow fadeInUp">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-2.png" alt="project">
                                    </a>
                                    <img class="modal-thumb" src="assets/media/project/project-2.png" alt="project">
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">Passwordless Authentication</a></h4>
                                    <span class="subtitle">We've got a better way to login.</span>
                                    <div class="details-description">
                                        <p>Statistics show that businesses lose 37% of potential sales due to a high-friction login system.</p>
                                        <p>We help small businesses and e-commerce VIP customers by providing a passwordless login that can only be used by verified customers. It prevents fraud, saves time, and increases revenue.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  wow fadeInUp">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-3.png" alt="project">
                                    </a>
                                    <img class="modal-thumb" src="assets/media/project/project-3.png" alt="project">
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">e-Commerce</a></h4>
                                    <span class="subtitle">Get set up to sell online in a few minutes.</span>
                                    <div class="details-description">
                                        <p>Did you know that the average e-commerce conversion rate is a paltry 3.57%?</p>
                                        <p>Everyone can sell online these days, but why bother when Taliferro Group has created a brand new solution that makes e-Commerce easy. More sales, less work. It's easy!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  wow fadeInUp">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-4.png" alt="project">
                                    </a>
                                    <img class="modal-thumb" src="assets/media/project/project-4.png" alt="project">
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">Customer Relationship Management</a></h4>
                                    <span class="subtitle">When was the last time you took care of your customers?</span>
                                    <div class="details-description">
                                        <p>We help you find the right customers, with our AI-based lead identification and contact automation as a perfect solution for sales.</p>
                                        <p>The sales and marketing tool that brings intelligence to your CRM. We're using AI and predictive analytics to give you the best experience with your customers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
                <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
            </ul>
        </section> -->