<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'We used our website as a use case to speed up the performance, and this is what we found'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/blog/we-used-our-website-as-a-use-case-to-speed-up-the-performance-and-this-is-what-we-found.webp"
                                    alt="We used our website as a use case to speed up the performance, and this is what we found">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Oct 6, 2022</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="wow fadeInUp"> Introduction </h2>
                            <p class="wow fadeInUp"> When we decided to redesign our website, we thought improving performance was an excellent opportunity. We had been looking at Google Chrome's
                                Lighthouse tool for a while and noticed some areas where we were falling short. We used the tool as an initial baseline for what we wanted to achieve with the project.
                                Our goal was to increase performance so that our site would load faster - meaning more users could access our content. We used our website as a use case. Why? Well,
                                what could be better than using the actual website you're trying to optimize? </p>
                            <p class="wow fadeInUp mb--80"> We measured before and after and found a 60% increase in performance. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Executing the plan </h3>
                            <p class="wow fadeInUp"> Once we knew our target and had a plan, it was time to execute. We used the following tools: </p>
                            <ul class="wow fadeInUp mb--80">
                                <li> Lighthouse - A tool that gives you an overall score on your site's performance from a web performance perspective. It also provides recommendations for improvement
                                    based on those scores. </li>
                                <li> WebPagetest - This tool allows you to run tests from different locations worldwide (or even just in your neighborhood) with varying levels of a simulated load to
                                    see how other servers will perform under various conditions. </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> What we measured </h3>
                            <p class="wow fadeInUp mb--80"> We measured the time it took to load our website using different browsers and different network speeds on other devices. The results showed
                                that our site was slow to load for most visitors. The chart below shows how long it took for our site to appear when we measured on an iPhone XS Max with a 1 Gbps cable
                                connection. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> What we did </h3>
                            <ul class="wow fadeInUp mb--80">
                                <li>Changed most image formats to webp</li>
                                <li>Added missing accessibility</li>
                                <li>Added missing SEO</li>
                                <li>Got rid of unused JavaScript</li>
                                <li>Remove unnecessary 3rd party scripts - they really slow a site down</li>
                                <li>Preloaded images</li>
                                <li> Removed unused images from directories </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> What we learned </h3>
                            <p class="wow fadeInUp"> We first learned that website performance is more important than you think. The second thing we learned is that measuring your website's
                                performance will help you identify what you were trying to do in the first place. Your site is your storefront, and it needs to be fast and easy for your visitors to
                                use. You may not have thought about it, but website performance is essential. If your site takes too long to load or doesn't function properly, you could lose customers
                                and revenue. </p>
                            <p class="wow fadeInUp mb--80"> However, there's more than one way to gauge the success of a website: speed isn't everything. You need to measure what you're trying to
                                accomplish with your site for any improvements you make on the performance side of things (or anywhere). In our case, our goal was not just better page load times but
                                also increased user engagement by making the experience more engaging so that people would want to return again and again. </p>
                            <h2 class="wow fadeInUp"> Conclusion </h2>
                            <p class="wow fadeInUp mb--80"> In the end, our speed improvement plan was a success. We were able to make our website faster, and it helped us achieve some of our goals.
                                But what's most important is that we learned something in the process. The next time you're trying to improve performance, don't forget about measuring what you were
                                hoping to get out of all this work in the first place. </p>
                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/oct-2022/what-is-youtube-studio"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="/blog/oct-2022/how-to-choose-a-custom-website-development-company" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>