<footer id="colophon" class="container-fluid site-footer footer-color">
    <div class="container footer-container site-top-footer">
        <div class="row">
            <div class="col-md-12 col-sm-12 bottom-footer">
                <div class="col-md-12 col-sm-12 copy-text">
                    <p class="text-center">© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a routerLink="/privacy-policy"
                            style="color:aliceblue">Privacy Policy</a> | <a routerLink="/terms-of-service" style="color:aliceblue">Terms of Service</a> | <a routerLink="/refund-policy"
                            style="color:aliceblue">Refund Policy</a>. </p>
                </div>
            </div>
        </div>
    </div>
</footer>
