<footer id="colophon" class="container-fluid site-footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-12 site-bottom-footer">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="https://taliferro.com" title="Home">Home</a></li>
                        <li><a href="https://blog.taliferro.com" title="Blog">Blog</a></li>
                        <li><a href="https://taliferro.com/#about" title="Post">About</a></li>
                        <li><a href="https://taliferro.com/#contact" title="Contact Us">Contact</a></li>
                    </ul>
                </nav>
                <div class="col-md-12 social-links">
                    <ul class="footer-social-icons">
                        <li><a href="https://www.facebook.com/taliferro.group/" title="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/TaliferroLLC" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCbSklLhEDs-4kld584LtdlQ" title="YouTube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/taliferro/" title="Linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://angel.co/company/taliferro-group" title="AngelList"><i class="fa fa-fw fa-angellist" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/taliferrogroup/" title="Instagram"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com/tshowers" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- .social-links -->
                <div class="col-md-12 copy-text">
                    <p>© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a href="https://taliferro.com/privacy-policy">Privacy Policy</a> |
                        <a href="https://taliferro.com/terms-of-service">Terms of Service</a> | <a href="https://taliferro.com/refund-policy">Refund Policy</a>.</p>
                </div>
            </div> <!-- .site-bottom-footer -->
        </div>
    </div>
</footer>