<div class="blog-author">
    <div class="author">
        <div class="author-thumb wow fadeInUp">
            <img src="assets/media/blog/author-1.png" alt="Tyrone Showers">
        </div>
        <div class="info">
            <h5 class="title wow fadeInUp"><a routerLink="/tyrone-showers">Tyrone Showers</a></h5>
            <p class=" wow fadeInUp">Ty is an award-winning technologist who demonstrates and offers extensive experience in competitive travel, biotechnology, telecommunications, and retail industries. He has a solid
                commitment to education and training, including a Bachelor's Degree in Computer Science and a proven history of leadership. </p>
            <ul class="social-share list-unstyled wow fadeInUp">
                <li><a href="https://www.facebook.com/tyrone.showers.7"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/tyrone_showers"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/bookershowers/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/tyshowers/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/tshowers"><i class="fa fa-github"></i></a></li>
                <li><a href="https://soundcloud.com/tyshowers"><i class="fa fa-soundcloud"></i></a></li>
            </ul>
        </div>
    </div>
</div>