<!--=====================================-->
<!--=       Breadcrumb Area Start       =-->
<!--=====================================-->
<div class="breadcrum-area">
    <div class="container">
        <div class="breadcrumb">
            <ul class="list-unstyled">
                <li><a routerLink="/">Home</a></li>
                <li class="active">{{title}}</li>
            </ul>
            <h1 class="title h2">{{title}}</h1>
        </div>
    </div>
    <ul class="shape-group-8 list-unstyled">
        <li class="shape shape-1 wow fadeInLeft">
            <img src="/assets/media/others/bubble-9.png" alt="Taliferro Group - Bread Crumb Decoration">
        </li>
        <li class="shape shape-2 wow fadeIn">
            <img src="/assets/media/others/bubble-11.png" alt="Taliferro Group - Bread Crumb Decoration">
        </li>
        <li class="shape shape-3 wow fadeInRight">
            <img src="/assets/media/others/line-4.png" alt="Taliferro Group - Bread Crumb Decoration">
        </li>
    </ul>
</div>