<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
<footer class="footer-area">
    <div class="container">
        <div class="footer-top">
            <div class="footer-social-link">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/taliferro.group/"><i class="fa fa-facebook-f wow fadeInUp"></i></a></li>
                    <li><a href="https://twitter.com/TaliferroLLC"><i class="fa fa-twitter wow fadeInUp"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/taliferro/"><i class="fa fa-linkedin wow fadeInUp"></i></a></li>
                    <li><a href="https://www.instagram.com/taliferrogroup/"><i class="fa fa-instagram wow fadeInUp"></i></a></li>
                    <li><a href="https://angel.co/company/taliferro-group"><i class="fa fa-fw fa-angellist wow fadeInUp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-main">
            <div class="row">
                <div class="col-xl-6 col-lg-5 sal-animate wow slideInRight">
                    <div class="footer-widget border-end">
                        <div class="footer-newsletter">
                            <h2 class="title">Get in touch!</h2>
                            <p>We are more than simply a custom software company. We are your information transformation experts.</p>
                            <a class="subscribe-btn" href="https://www.picktime.com/taliferrogroup">Schedule an Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 sal-animate wow slideInLeft">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-widget">
                                <h6 class="widget-title">Services</h6>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a href="#">API Design</a></li>
                                        <li><a href="#">Website Development</a></li>
                                        <li><a href="#">APIGEE Integration</a></li>
                                        <li><a href="#">Agile Training</a></li>
                                        <li><a href="#">Cloud Architecture</a></li>
                                        <li><a href="#">Data Design</a></li>
                                        <li><a href="#">Search Engine Optimization</a></li>
                                        <li><a href="#">Pay-Per-Click</a></li>
                                        <li><a href="#">Social Media Marketing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <h6 class="widget-title">Resourses</h6>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a href="https://blog.taliferro.com">Blog Archive</a></li>
                                        <li><a routerLink="/blog/dont-let-your-web-store-turn-into-a-desert">Articles</a></li>
                                        <li><a href="#op-portfolio">SaaS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <h6 class="widget-title">Support</h6>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/refund-policy">Refund Policy</a></li>
                                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                        <li><a routerLink="/terms-of-service">Terms</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom sal-animate wow fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <span class="copyright-text">© Copyright. Taliferro ® Is Registered In The U.S. Patent And Trademark Office.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-link">
                        <ul class="list-unstyled">
                            <li><a href="https://taliferro.com/privacy-policy">Privacy Policy</a></li>
                            <li><a href="https://taliferro.com/terms-of-service">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>