<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
<footer class="footer-area">
    <div class="container">
        <div class="footer-top">
            <div class="footer-social-link">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/taliferro.group/" aria-label="Facebook" title="Facebook"><i class="fa fa-facebook-f wow fadeInUp"></i></a></li>
                    <li><a href="https://twitter.com/TaliferroLLC" aria-label="Twitter" title="Twitter"><i class="fa fa-twitter wow fadeInUp"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/taliferro/" aria-label="LinkedIn" title="LinkedIn"><i class="fa fa-linkedin wow fadeInUp"></i></a></li>
                    <li><a href="https://www.instagram.com/taliferrogroup/" aria-label="Instagram" title="Instagram"><i class="fa fa-instagram wow fadeInUp"></i></a></li>
                    <li><a href="https://angel.co/company/taliferro-group" aria-label="Angel.co" title="Angel List"><i class="fa fa-fw fa-angellist wow fadeInUp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-main">
            <div class="row">
                <div class="col-xl-6 col-lg-5 sal-animate wow slideInRight">
                    <div class="footer-widget border-end">
                        <div class="footer-newsletter">
                            <h2 class="title">Get in touch!</h2>
                            <p>We are more than simply a custom software company. We are your information transformation experts.</p>
                            <a class="subscribe-btn" href="https://calendly.com/ty-showers/30min">Schedule an Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 sal-animate wow slideInLeft">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-widget">
                                <div class="widget-title mb-4">Services</div>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li>Scaling </li>
                                        <li>Digital Transformation</li>
                                        <li>Cybersecurity Issues</li>
                                        <li>Cost Management and Containment</li>
                                        <li>Governance</li>
                                        <li>Compliance</li>
                                        <li>Performance</li>
                                        <li>Multiple Cloud Management</li>
                                        <li>API Gateway Setup</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <div class="widget-title mb-4">Resourses</div>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/blog" aria-label="Blog Archive">Blog Archive</a></li>
                                        <li><a routerLink="/blog/dont-let-your-web-store-turn-into-a-desert">Articles</a></li>
                                        <li><a href="#op-portfolio" aria-label="SaaS">SaaS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer-widget">
                                <div class="widget-title mb-4">Support</div>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/refund-policy">Refund Policy</a></li>
                                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                        <li><a routerLink="/terms-of-service">Terms</a></li>
                                        <li><a routerLink="/#op-contact" aria-label="Contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom sal-animate wow fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <span class="" style="font-size:xx-small">© Copyright. Taliferro ® Is Registered In The U.S. Patent And Trademark Office.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-link">
                        <ul class="list-unstyled">
                            <li><a href="https://taliferro.com/privacy-policy" aria-label="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="https://taliferro.com/terms-of-service" aria-label="Terms of Service">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>