<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'Agile Coaching'" [description]="'Tired of business as usual? Taliferro Group helps companies improve their agility and deliver great products by applying Scrum, Agile Coaching and adopting Continuous Integration.'" [image]="'assets/images/agile-coaching.png'"></app-banner-area2>
    <app-design-process-area
    [subtitle]="'Empowering people to build great things'"
    [header]="'Passion for Agility'"
    [description]="'Thinking about experimenting with Agile? The Talifero Group could help you out.'"
    [image1]="'/assets/images/agile-coaching1.png'"
    [subtitle1]="'agile transitions'"
    [title1]="'efficient and effective'"
    [description1]="'We make software teams more efficient and effective. We support agile transitions and help your company achieve continuous delivery.'"
    [image2]="'/assets/images/agile-coaching2.png'"
    [subtitle2]="'strengths and weaknesses'"
    [title2]="'Analysis'"
    [description2]="'Coaching is an invaluable part of the Agile process. It can be a daunting task to analyse your personal strengths and weaknesses, set goals, and work on them. Our experience as coaches will help you navigate these difficult waters.'"
    [image3]="'/assets/images/agile-coaching3.png'"
    [subtitle3]="'Tips on coaching'"
    [title3]="'practice what you preach'"
    [description3]="' Your team is looking to you for direction, don\'t give them excuses.Do away with the drama  - Even a little bit of drama can stir up controversy and split your team apart.'"
    [image4]="'/assets/images/agile-coaching4.png'"
    [subtitle4]="'to help you get started with Scrum'"
    [title4]="'3 tips'"
    [description4]="'1. Create a product backlog and pick the most valuable things. 2. Segregate work into sprints of 2-4 weeks 3. Select a cross functional team'"
    ></app-design-process-area>
    <app-about-us-area
    [header]="'agile methodologies'"
    [subtitle]="'professional services'"
    [description]="'We help software companies worldwide understand and embrace Scrum and Agile principles. Taliferro roup works with companies from the beginning to the end of their delivery.'"
    [title1]="'Transformation'"
    [description1]="'We help you transform your people and your business through improved communication, collaboration, self-organization and Agile Coaching.'"
    [title2]="'Startups'"
    [description2]="'We help startups and scaleups succeed by providing coaching, scrum, continuous integration and continuous delivery support in a shortened time frame.'"
    [title3]="'Teams'"
    [description3]="'Agile coaching and continuous integration for high-performance teams that love to deliver working software.'"
    [formTitle]="'Start Your Acceleration'"
    ></app-about-us-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>