<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'Website Development'" [description]="'You paid someone to build it and have to pay a monthly hosting fee. You use it to show people your business and share information about your products and services. Your website is an essential part of your business. It should be used to sell your products and services, collect customer data, communicate with your customers, and generate leads.'" [image]="'assets/images/website-development.png'"></app-banner-area2>
    <app-design-process-area
    [subtitle]="'Think Web Business'"
    [header]="'Not just a website'"
    [description]="'It\'s a tool that can help you build and grow your business, but it is not the end goal. If you want to be successful with your website, you need to have a clear vision of what you want to achieve and how it will support those goals. You should know what is important to you and what matters most to your customers—whether they are current or potential ones.'"
    [image1]="'/assets/images/website-development1.png'"
    [subtitle1]="'sound design and optimization'"
    [title1]="'Simplicity'"
    [description1]="'Website development is a complex process, but we\'re here to make it as simple as possible. Our goal is to integrate sound design and optimization into your business model to make your website efficient and user-friendly. '"
    [image2]="'/assets/images/website-development2.png'"
    [subtitle2]="'goal analysis'"
    [title2]="'Strategy'"
    [description2]="'We start by analyzing your website needs and goals, so we can create a strategy for achieving them. We understand that every business is different and has different goals and requirements for its website. That\'s why we work with you to create a strategy based on your needs and goals so that we can develop a plan of action that will help you achieve those goals while staying within budget.'"
    [image3]="'/assets/images/website-development3.png'"
    [subtitle3]="'user needs'"
    [title3]="'Auditing'"
    [description3]="'We take pride in our ability to develop a website that meets your needs and exceeds your expectations. We perform regular audits to ensure your website meets users\' needs and makes the best use of its resources.'"
    [image4]="'/assets/images/website-development4.png'"
    [subtitle4]="'keeping the disabled in mind'"
    [title4]="'accessibility'"
    [description4]="'We build websites with accessibility in mind so that they can be accessed by anyone, regardless of their device or internet connection.'"
    ></app-design-process-area>
    <app-about-us-area
    [header]="'website methodology'"
    [subtitle]="'professional services'"
    [description]="'We believe that a good website should be designed with your audience in mind and that it should be easy to navigate. We also believe that you shouldn\'t have to learn new software or code to make your site work as you need it to. Our team of developers are experts at ensuring your website is optimized with SEO, so it can attract more visitors, which means more leads and sales for your business.'"
    [title1]="'Customization'"
    [description1]="'A customized solution that\'s built specifically for your company\'s needs and goals.'"
    [title2]="'Content Integration'"
    [description2]="'We perform integration for multiple platforms so all of your content is easily accessible from one place (and not just scattered across different social media sites.)'"
    [title3]="'user interface'"
    [description3]="'A user interface (UI) that\'s easy to navigate and provides users with all the information they need on a single page.'"
    [formTitle]="'Start Your Acceleration'"
    ></app-about-us-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>