<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'Thank You!'" [description]="'We\'ll be in touch.'" [image]="'assets/images/thank-you-so-much.svg'"></app-banner-area2>
    <app-service-area2></app-service-area2>
    <app-special-area></app-special-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>