<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <!-- Start Header -->
    <header id="masthead" class="site-header">
        <nav class="navbar navbar-expand-lg" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/#products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About</a>
                        </li>
                    </ul>
                    <span class="navbar-text"> 425.305.3748 </span>
                </div>
            </div>
        </nav>
        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1>Refund Policy</h1>
                    </div>
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </header>
    <!-- End Header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content">
                                <p> We handle returns on a case-by-case basis with the ultimate goal of making our customers happy. We stand behind our goods and services, and want customers to be satisfied with them. We'll always do our best to take care of customers—our philosophy is to deal with them fairly and reasonably. We have long believed that when we treat our customers fairly, they in turn are fair with us. We apply refunds to the tender with which returned items were purchased. If we choose to provide a refund and no record of sale is available, we'll ask for personal identification and a refund will be provided at the current price.
                                </p><p>
                                    Boutique refunds must be processed at the store where they were originally purchased. </p>
                                <p>All refunds will be credited to your original form of payment. If we choose to provide a refund and no record of sale is available, we will ask for personal identification and a refund will be provided at current price. </p>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div> <!-- #primary -->
    </div> <!-- #content -->
    <!-- Start Footer -->
	<footer id="colophon" class="container-fluid site-footer">
		<div class="container footer-container">
			<div class="row">
				<div class="col-md-12 site-bottom-footer">
					<nav class="footer-nav">
						<ul>
							<li><a href="https://taliferro.com" title="Home">Home</a></li>
							<li><a href="https://blog.taliferro.com" title="Blog">Blog</a></li>
							<li><a href="https://taliferro.com/#about" title="Post">About</a></li>
							<li><a href="https://taliferro.com/#contact" title="Contact Us">Contact</a></li>
						</ul>
					</nav>
					<div class="col-md-12 social-links">
						<ul class="footer-social-icons">
							<li><a href="https://www.facebook.com/taliferro.group/" title="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/TaliferroLLC" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCbSklLhEDs-4kld584LtdlQ" title="YouTube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/taliferro/" title="Linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://angel.co/company/taliferro-group" title="AngelList"><i class="fa fa-fw fa-angellist" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/taliferrogroup/" title="Instagram"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/tshowers" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						</ul>
					</div> <!-- .social-links -->
					<div class="col-md-12 copy-text">
						<p>© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a href="https://taliferro.com/privacy-policy">Privacy Policy</a> |
							<a href="https://taliferro.com/terms-of-service">Terms of Service</a> | <a href="https://taliferro.com/refund-policy">Refund Policy</a>.</p>
					</div>
				</div> <!-- .site-bottom-footer -->
			</div>
		</div>
	</footer>
    <!-- End Footer -->
</div>