<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="far fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div class="my_switcher d-none d-lg-block">
    <ul>
        <li title="Light Mode">
            <a href="javascript:void(0)" class="setColor light" data-theme="light">
                <i class="fal fa-lightbulb-on"></i>
            </a>
        </li>
        <li title="Dark Mode">
            <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                <i class="fas fa-moon"></i>
            </a>
        </li>
    </ul>
</div>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light  [title]="'Refund Policy'"></app-bread-crumb-light>
    <!--=====================================-->
    <!--=    Privacy Policy Area Start      =-->
    <!--=====================================-->
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="privacy-policy-content">
                        <div class="section-title">
                            <p  class="wow fadeInUp"> We handle returns on a case-by-case basis with the ultimate goal of making our customers happy. We stand behind our goods and services, and want customers to be
                                satisfied with them. We'll always do our best to take care of customers—our philosophy is to deal with them fairly and reasonably. We have long believed that when we
                                treat our customers fairly, they in turn are fair with us. We apply refunds to the tender with which returned items were purchased. If we choose to provide a refund and
                                no record of sale is available, we'll ask for personal identification and a refund will be provided at the current price. </p>
                            <p  class="wow fadeInUp"> Boutique refunds must be processed at the store where they were originally purchased. </p>
                            <p  class="wow fadeInUp">All refunds will be credited to your original form of payment. If we choose to provide a refund and no record of sale is available, we will ask for personal
                                identification and a refund will be provided at current price. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>