<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <header id="masthead" class="site-header">
        <nav id="site-navigation" class="navbar main-navigation nav-dark navbar-top">
            <div class="container-fluid container-nav nav-no-shadow">
                <div class="container">
                    <div class="menu-buttons">
                        <ul>
                            <li><a href="/#about" class="button button-simple" title="link">About</a></li>
                            <li><a href="/#contact" class="button button-full" title="link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Taliferro Group</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1>We are not a social media marketing company</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content">
                                <h2> Introduction </h2>
                                <p> In this day and age, everyone wants to be on social media. And with good reason – the internet is a great tool for reaching your target market but there's so much
                                    wrong information out there, your potential customers could be misinformed about your products and services. The solution? Utilizing the right sales and marketing
                                    technologies can help you reach your target market, generate leads and increase sales automatically without spending all day on them yourself. The only thing left
                                    to do is create an amazing customer experience which will set you apart from other businesses who are just trying to make a quick buck online. </p>
                                <p> Utilizing the right sales and marketing technologies can help you reach your target market, generate leads and increase sales automatically. </p>
                                <p> At Taliferro Group, we're not a social media marketing company. We provide a customer experience engineering technology which may include social media marketing. We use the right tools and create an
                                    experience that engages your audience on all channels—from email to print, digital advertising and in-person events—to help you reach your target market, increase
                                    sales and generate leads automatically. </p>
                                <p> To compete with established brands with large budgets is a daunting task if you are new to the market. </p>
                                <p> Start small and focus on what you can do well. In the beginning, focus on making a few friends who can help spread the word about your product or service. Don't try
                                    to be everything to everyone right off the bat! Be realistic about your budget; don't hire Google AdWords experts when you only have $500 to spend per month because
                                    they will tell you that they need at least $10K per month just for their fees alone! Instead, look into other more affordable options such as Facebook Ads or
                                    Instagram influencers who charge by impressions rather than clicks/clicks-throughs as this may work better given how much cheaper these platforms are compared to
                                    Google AdWords which charges by both clicks/clicks-throughs AND impressions (though this does come at a cost since it means less control over where exactly those
                                    ads appear since Facebook does not allow us direct placement control). </p>
                                <p> Be patient and persistent; it may take some time before we see any results from our efforts but never give up hope! Remember that Rome wasn't built in one day
                                    either so keep pushing forward despite setbacks along the way! </p>
                                <h3 class="text-capitalize"> Target Market </h3>
                                <p> When you're trying to reach a new audience, it's difficult to grab their attention when there are already so many distractions online. To do this, you need
                                    something amazing to give people a reason to pay attention to what you have to say—but how? </p>
                                <p> When potential customers search for answers from their mobile devices, you want them to get the correct information about your offerings on social media. </p>
                                <p> Do you want potential customers to get the wrong information about your products and services? No, of course not. That's why it's so important that when they search
                                    for answers from their mobile devices, you want them to get the correct information about your offerings on social media. </p>
                                <p> We're not a social media marketing company. We are an integrated marketing technology company and we create Customer Experience Engineering technology that helps
                                    companies increase engagement across all channels with their target audiences. </p>
                                <h3 class="text-capitalize"> Social media is a powerful tool </h3>
                                <p> Social media is a powerful tool for increasing brand awareness and building strong relationships with your customers. It allows you to generate leads, increase
                                    sales, and boost profits more easily than ever before. </p>
                                <p> The best part? It doesn't cost a single dime! </p>
                                <p> Companies with Facebook pages get 32% more monthly web traffic than those without a Facebook presence. </p>
                                <p> You might be thinking, “But why should I care about Facebook?” </p>
                                <p> I mean, after all, it's only the most popular social media platform in the world with over 2 billion monthly active users and 1.4 billion daily active users. And
                                    also it has a high click through rate (CTR) and conversion rate (CR). And did we mention that it's free to use? </p>
                                <p> Facebook is a powerful tool for reaching your target market because you can target specific groups of people based on their interests or demographics. If you're
                                    selling luxury watches online and want to reach affluent men ages 35-60 who live in San Francisco, then no need to go any further than Facebook. </p>
                                <p> With proper management, social media can also be a platform to generate real leads who are interested in what you have to offer. </p>
                                <p> Social media is also a great place to generate real leads who are interested in what you have to offer. With proper management, social media can also be a platform
                                    to generate real leads. </p>
                                <p> Navigating through all the marketing tools available online can be very time consuming and overwhelming while you're trying to do all you can to grow your business.
                                </p>
                                <p> You are so busy running your business and trying to grow it that you don't want to waste time with tools you don't need. Not only is this important for your own
                                    sanity, but it is also critical if you want to make sure the money in your marketing budget gets spent on things that help grow your business and create leads.
                                    That's why we have created a technology platform where we help people navigate through all the marketing tools available online so they can quickly identify what
                                    works best for them. </p>
                                <p> When you have more than one social media platform that needs management, scheduling posts manually can become very tedious and time consuming. </p>
                                <p> Social media is a time consuming activity and managing more than one social media platform can be very time consuming. You may need to post content on two or three
                                    different platforms, schedule posts in advance and monitor them for engagement. While there are some great third party tools available that make this easier, they
                                    are expensive, which is why many small businesses choose not to use them. </p>
                                <h3 class="text-capitalize"> There is no shortage of opportunities to advertise  </h3>
                                <p> There is no shortage of opportunities to advertise on social media platforms such as Google Ads, Facebook Business Manager, and Instagram Advertising through
                                    Facebook for example but not every company has the knowledge or experience to use them effectively. </p>
                                <p> This is why we created Customer Experience Engineering technology to improve how businesses market themselves. Our algorithms collect data from various sources and
                                    analyze it in order to provide insights that can be used by advertisers when creating campaigns or improving existing ones. </p>
                                <h2> Conclusion </h2>
                                <p> Sometimes it can be overwhelming for a small business owner to navigate through all these marketing tools available online. When you have more than one social media
                                    platform that needs management, scheduling posts manually becomes very tedious and time consuming. The good news is there are many tools out there that can help
                                    automate this process while still allowing you to create custom content specific for each network without having to spend hours doing so manually. </p>
                                    <div class="row">
                                        <div class="col"><a href="/blog/oh-how-I-hate-passwords-and-2-factor-authentication"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a> </div>
                                        <div class="col text-end"><a href="/blog/knowing-how-to-create-the-right-cloud-architecture"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                                    </div>    
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div> <!-- #primary -->
    </div> <!-- #content -->
    <!-- Start Footer -->
    <app-footer></app-footer>
    <!-- End Footer -->
</div>