<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'I was a telecommunications consultant for eight years - it is a different culture'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/blog/i-was-a-telecommunications-consultant-for-eight-years.webp"
                                    alt="I was a telecommunications consultant for eight years - it is a different culture">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Oct 24, 2022</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="wow fadeInUp"> Introduction </h2>
                            <p class="wow fadeInUp"> I loved the work and found it incredibly rewarding, but that doesn't mean it's easy. If you're considering a career in telecom consulting, here are
                                some things I wish someone had told me when I started out. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Hit the ground running </h3>
                            <p class="wow fadeInUp"> In my experience, telecommunications consultants are expected to hit the ground running and be able to adapt quickly. If a client wants a new
                                system implemented because they need it by Friday, you better have it ready for them by then. You'll have to work under pressure and deal with various project
                                situations. In addition, you'll have to work collaboratively with your team members and independently when needed - all while maintaining quality and accuracy in your
                                work product. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> It's a more casual work environment </h3>
                            <p class="wow fadeInUp"> Telecom consultants are a mix of people from different backgrounds. Many PhDs and engineers are working in telecommunications, but there is also a
                                large contingent comprised of other professionals who do not have specific technical experiences. This mix of personalities creates a casual environment where everyone
                                works together to solve problems and provide solutions to customers. While we all take our jobs seriously and want to help our customers succeed, we also understand
                                that there's no need for us all to be buttoned up every single day. This job isn't an excuse for you to slack off or be disrespectful; we're still representing our
                                company (and yourself), so you should always treat others respectfully, regardless of how everyday things may get during work hours. </p>
                            <p class="wow fadeInUp"> If you're working for a larger consulting company, there are opportunities for internal assignments too, but most of my jobs were client-facing
                                roles. </p>
                            <p class="wow fadeInUp"> This is one of the main reasons why I liked being a consultant. You get to work on projects for clients but also for the company. The
                                best part is that there are internal assignments too. Even though your primary goal is to help clients achieve their goals, you may get to work on projects for internal
                                and external clients. </p>
                            <p class="wow fadeInUp"> If you're working in telecommunications and you're thinking about becoming an independent consultant, remember that this could be an excellent
                                option for you if: </p>
                                <ul  class="wow fadeInUp">
                                    <li>
                                        You want more control over what type of work you do (or don't do).
                                    </li>
                                    <li>
                                        Have an entrepreneurial spirit - create your opportunities where ever possible.
                                    </li>
                                </ul>
                                <h3 class="title mb--30 text-capitalize wow fadeInUp"> The real work begins after the "sale" </h3>
                            <p class="wow fadeInUp"> You probably think that your job is done once you get the sale. Nope! If a customer signs on with your company, they become another number in an
                                endless stream of people to call or email. You need to ensure they are getting value out of the product and service—and if not, why not? You'll also be responsible for
                                ensuring that everything works smoothly between their network and yours. </p>
                            <p class="wow fadeInUp"> If anything goes wrong with the installation or ongoing support (which happens more often than you think), it will be up to you as a consultant to
                                fix it. </p>
                            <p class="wow fadeInUp"> You're always selling. </p>
                            <p class="wow fadeInUp"> If you're a telecommunications consultant, the only way to make any money is if you are selling something. </p>
                            <p class="wow fadeInUp"> No matter what customers say they want or need, they don't want that. They will always ask for something more expensive or better quality than what
                                they have right now, and it is up to you as a consultant to convince them that this new item is what they need. This might be an upgrade in speed or storage capacity on
                                their broadband plan, an upgrade of their mobile phone package, or even switching providers altogether if there's a better deal available elsewhere. </p>
                            <p class="wow fadeInUp"> The key here is not simply getting them to sign on the dotted line—you also need to get them thinking about buying more from your company again in
                                the future (and hopefully, this time, upgrading more expensive items.) </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Meetings, meetings, and more meetings </h3>
                            <p class="wow fadeInUp"> The first thing to know about working in telecommunications is that there are a lot of meetings—so many that you'll start to wonder if there's
                                something wrong with your own body and it doesn't have blood flowing through it. </p>
                            <p class="wow fadeInUp"> It's not necessarily bad. You do get used to them, but at first, they can be frustrating because there are many cases where you might have worked
                                on something for a long time and then have to go through the same process all over again just because someone else has decided their opinion matters more than yours
                                does. The best way around this is to ensure everyone knows that what you're doing isn't up for debate or change once it's done and approved by management (and sometimes
                                even before). I recommend writing down scenarios where people question your decisions. This makes things easier when everyone realizes how much time they wasted arguing
                                over little things instead of getting actual work done. </p>
                            <p class="wow fadeInUp"> As far as how long these meetings last. I've seen some go for six hours without anyone noticing except me since I kept track using my phone timer
                                app :). But usually not, though usually, only two hours tops. </p>
                            <p class="wow fadeInUp"> You often work 50-60 hours weekly, but they are billed as 40. </p>
                            <p class="wow fadeInUp"> If you're considering a career in telecommunications consulting, know that it's not the job for everyone. But if the following traits describe you,
                                then this could be your calling: </p>
                            <ul class="wow fadeInUp">
                                <li> You must be able to work long hours </li>
                                <li> You must be able to work under pressure </li>
                                <li> You must be able to work independently </li>
                                <li> You must be able to learn quickly </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Being a telecom consultant is hard work </h3>
                            <p class="wow fadeInUp"> The pay is good. The hours are long and unpredictable depending on client deadlines, but that's what you sign up for when you choose this career
                                path. </p>
                            <p class="wow fadeInUp"> The work environment is casual and client-facing, so switching from a client meeting to an engineering meeting quickly and efficiently is
                                essential. You'll also need strong interpersonal skills as you communicate with internal and external teams throughout your day. </p>
                            <p class="wow fadeInUp"> Telecom consultants are tasked with solving technical problems in multiple business areas (engineering, sales, operations), which means there will
                                never be any dull moments. And finally - just like any other consulting role - being able to solve challenging problems for clients will provide great satisfaction over
                                time. </p>
                            <h2 class="wow fadeInUp"> Conclusion </h2>
                            <p class="wow fadeInUp"> I'm glad I decided to leave telecom consulting and try something new. The experience was invaluable. </p>
                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/oct-2022/website-took-just-one-second-longer-to-load"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="/blog/oct-2022/our-transformation-methodology-here-is-our-approach" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <app-posts-history></app-posts-history>
                </div>

            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>