<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <!-- Start Header -->
    <header id="masthead" class="site-header">
        <nav class="navbar navbar-expand-lg" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/#products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#about">About</a>
                        </li>
                    </ul>
                    <span class="navbar-text"> 425.305.3748 </span>
                </div>
            </div>
        </nav>
        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1>Privacy Policy</h1>
                    </div>
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </header>
    <!-- End Header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content">
                                <p> This site is owned by Taliferro Group. This Privacy Policy is designed to tell you about our practices regarding collection, use, and disclosure of information that
                                    you may provide via this site. Please be sure to read this entire Privacy Policy before using, or submitting information, to this site. This site is intended for
                                    use by residents of the United States. </p>
                                <h4> Your Consent</h4>
                                <p> By using this site, you agree with the terms of this Privacy Policy. Whenever you submit information via this site, you consent to the collection, use, and
                                    disclosure of that information in accordance with this Privacy Policy. Active Information Collection </p>
                                <p> Like many Web sites, this site actively collects information from its visitors both by asking you specific questions and by permitting you to communicate with us
                                    directly via e-mail, feedback form, and/or chat room. Some of the information that you submit may be personally identifiable information (that is, information that
                                    can be uniquely identified with you, such as your full name, address, e-mail address, phone number, and so on). Some areas of this site may require you to submit
                                    information in order for you to benefit from the specified features (such as newsletter subscriptions, tips/pointers, order processing) or to participate in a
                                    particular activity (such as sweepstakes or other promotions). You will be informed at each information collection point what information is required and what
                                    information is optional. </p>
                                <h4> Passive Information Collection </h4>
                                <p> As you navigate through a Web site, certain information can be passively collected (that is, gathered without actively providing the information) using various
                                    technologies and means, such as Internet Protocol addresses, cookies, Internet tags, and navigational data collection. This site uses Internet Protocol (IP)
                                    addresses. An IP Address is a number assigned to your computer by your Internet service provider so you can access the Internet and is generally considered to be
                                    non-personally identifiable information, because in most cases an IP address is dynamic (changing each time you connect to the Internet), rather than static (unique
                                    to a particular user’s computer). We use your IP address to diagnose problems with our server, report aggregate information, determine the fastest route for your
                                    computer to use in connecting to our site, and administer and improve the site. A “cookie” is a bit of information that a Web site sends to your Web browser that
                                    helps the site remember information about you and your preferences. We do use cookies at this site. </p>
                                <p> “Internet tags” (also known as single-pixel GIFs, clear GIFs, invisible GIFs, and 1-by-1 GIFs) are smaller than cookies and tell the Web site server information
                                    such as the IP address and browser type related to the visitor's computer. </p>
                                <p> We do use Internet tags at this site. </p>
                                <p> “Navigational data” (“log files,” “server logs,” and “clickstream” data) are used for system management, to improve the content of the site, market research
                                    purposes, and to communicate information to visitors. </p>
                                <p> This site uses navigational data. </p>
                                <h4> Use and Disclosure of Information </h4>
                                <p> Except as otherwise stated, we may use your information to improve the content of our site, to customize the site to your preferences, to communicate information to
                                    you (if you have requested it), for our marketing and research purposes, and for the purposes specified in this Privacy Policy. If you provide personally
                                    identifiable information to this site, we will not combine such information with other actively collected information. We will take reasonable measures to prevent
                                    personally identifiable information from being combined with passively collected information, unless you consent otherwise. We will not disclose your personal
                                    information to any company. Access and Correction </p>
                                <p> To keep your personally identifiable information accurate, current, and complete, please contact us as specified below. We will take reasonable steps to update or
                                    correct personally identifiable information in our possession that you have previously submitted via this site. </p>
                                <h4> Security </h4>
                                <p> We take reasonable steps to protect your personally identifiable information as you transmit your information from your computer to our site and to protect such
                                    information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. You should keep in mind that no Internet transmission is ever 100%
                                    secure or error-free. In particular, e-mail sent to or from this site may not be secure, and you should therefore take special care in deciding what information you
                                    send to us via e-mail. Moreover, where you use passwords, ID numbers, or other special access features on this site, it is your responsibility to safeguard them.
                                </p>
                                <h4> How to Contact Us </h4>
                                <p> If you have any questions, comments, or concerns about this Privacy Policy or the information practices of this site, please contact us as follows: </p>
                                <p> Taliferro Group<br> 1424 11th Ave STE 400<br> Seattle, WA 98122<br> (425) 305-3748<br>
                                </p>
                                <p>
                                <h4> Changes to This Privacy Policy </h4>
                                <p> If this Privacy Policy changes, the revised policy will be posted on this site. Please check back periodically, and especially before you provide any personally
                                    identifiable information. </p>
                                <p> This Privacy Policy was last updated on July 27, 2022. </p>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div> <!-- #primary -->
    </div> <!-- #content -->
    <!-- Start Footer -->
	<footer id="colophon" class="container-fluid site-footer">
		<div class="container footer-container">
			<div class="row">
				<div class="col-md-12 site-bottom-footer">
					<nav class="footer-nav">
						<ul>
							<li><a href="https://taliferro.com" title="Home">Home</a></li>
							<li><a href="https://blog.taliferro.com" title="Blog">Blog</a></li>
							<li><a href="https://taliferro.com/#about" title="Post">About</a></li>
							<li><a href="https://taliferro.com/#contact" title="Contact Us">Contact</a></li>
						</ul>
					</nav>
					<div class="col-md-12 social-links">
						<ul class="footer-social-icons">
							<li><a href="https://www.facebook.com/taliferro.group/" title="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/TaliferroLLC" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCbSklLhEDs-4kld584LtdlQ" title="YouTube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/company/taliferro/" title="Linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="https://angel.co/company/taliferro-group" title="AngelList"><i class="fa fa-fw fa-angellist" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/taliferrogroup/" title="Instagram"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/tshowers" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						</ul>
					</div> <!-- .social-links -->
					<div class="col-md-12 copy-text">
						<p>© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a href="https://taliferro.com/privacy-policy">Privacy Policy</a> |
							<a href="https://taliferro.com/terms-of-service">Terms of Service</a> | <a href="https://taliferro.com/refund-policy">Refund Policy</a>.</p>
					</div>
				</div> <!-- .site-bottom-footer -->
			</div>
		</div>
	</footer>
    <!-- End Footer -->
</div>