<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'e-Commerce Architecture'" [description]="'With e-commerce architecture and website creation, you want to ensure that the site complies with best practices and sound design and integrates with other systems. We help you ensure that both front-end and back-end development occur within the e-commerce experience. Finally, you can choose to have your e-commerce in the cloud, which can be a cost-effective way of achieving these goals.'" [image]="'assets/images/e-commerce-architecture.png'"></app-banner-area2>
    <app-design-process-area
    [subtitle]="'Empowering people to build great things'"
    [header]="'The Modern Business'"
    [description]="'e-Commerce is an essential component of modern business. It allows you to expand your reach, improve customer service, and increase revenue. But before you can get started with e-commerce, you need to make sure that your site is ready for it.'"
    [image1]="'/assets/images/e-commerce-architecture1.png'"
    [subtitle1]="'the foundation'"
    [title1]="'scalable'"
    [description1]="'e-Commerce architecture is the foundation of any online business. It must be fast and scalable to simultaneously handle traffic spikes and large numbers of users. E-commerce architecture must also be secure so your customers\' sensitive data is not compromised.'"
    [image2]="'/assets/images/e-commerce-architecture3.png'"
    [subtitle2]="'process automation'"
    [title2]="'integration'"
    [description2]="' e-Commerce architecture should integrate seamlessly with other systems like accounting or inventory management software, so your business runs smoothly from start to finish.'"
    [image3]="'/assets/images/e-commerce-architecture2.png'"
    [subtitle3]="'repeat visitors'"
    [title3]="'user experience'"
    [description3]="'Good design is also critical for a successful e-commerce site. A good user experience (UX) will encourage repeat visitors and make customers feel respected and valued by your company. A bad UX will drive them away in droves! An e-commerce website should also have an easy checkout '"
    [image4]="'/assets/images/e-commerce-architecture4.png'"
    [subtitle4]="'comfortable making purchases'"
    [title4]="'Easy To Use'"
    [description4]="'We\'ll also help you design a site that will be engaging and easy-to-use for your visitors, so they feel comfortable making purchases and feel confident about their experience with your brand.'"
    ></app-design-process-area>
    <app-about-us-area
    [header]="'Good e-Commerce Architecture'"
    [subtitle]="'professional services'"
    [description]="'e-Commerce architecture is a complex issue, and it\'s something that we\'ve been working on for years. It\'s not just a matter of building a website: you have to be able to create a system that works with many different types of e-Commerce platforms and integrates seamlessly with other systems your company uses. We\'ll also ensure your e-Commerce site has everything it needs to work seamlessly with your existing infrastructure.'"
    [title1]="'Good design'"
    [description1]="'We have a team of designers who can help you create an e-commerce site that is both attractive and easy to use.'"
    [title2]="'Integration'"
    [description2]="'Our team knows how to integrate your e-commerce site with other systems, such as a membership portal or your company\'s ERP system.'"
    [title3]="'e-Commerce in the cloud'"
    [description3]="'Thanks to our cloud infrastructure, you never have to worry about hosting fees or maintenance costs—we do all that for you.'"
    [formTitle]="'Start Your Success'"
    ></app-about-us-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>