<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'The Taliferro Group Story'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/taliferro-group-logo.webp" alt="The Taliferro Group Story">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Oct 10, 2022</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="wow fadeInUp"> Introduction </h2>
                            <p class="wow fadeInUp"> The Taliferro Group is a technology company that is focused on making life easier and less painful. This is done by building both consumer-facing
                                software and internal tools for businesses. </p>
                            <p class="wow fadeInUp">I co-founded this start-up with Vikki Owens (she's the real boss) because of things that annoy me and I want fixed. The two things I'm passionate about that really annoy me: </p>
                            <ul class="wow fadeInUp mb--80">
                                <li> search; I can never find anything </li>
                                <li> passwords (why do I need a password for every site?) </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Passion Project number 1 - Make search better </h3>
                            <p class="wow fadeInUp"> You know how it goes. You're on your laptop or phone and want to find something—a restaurant with an open table, a good movie to watch on Netflix,
                                a new Web hosting company for your business. You Google it! And then nothing happens. Thousands of results appear on the search engine results page. But none are
                                helpful or relevant; they're just links to websites with nothing to do with what you need or want. </p>
                            <p class="wow fadeInUp mb--80"> How frustrating is that? What if there were only one result? The right result! Wouldn't that make life so much easier? That's exactly what I
                                thought: A technology focused on giving consumers more control over their digital experiences by making searching better by returning one result instead of thousands.
                            </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> After 24 years, the world needs a better search engine, one that returns a single result </h4>
                            <p class="wow fadeInUp mb--80"> The world has changed a lot in the last twenty years. The Internet was once a new frontier, but now we rely on it for everything from
                                shopping to finding new jobs and making friends. But with all this change and reliance on technology, one thing remains constant: search engines are still not very good
                                at finding what you want. Sure, they're better than they used to be, but they're still far from perfect. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> The early days </h4>
                            <p class="wow fadeInUp"> In the early days of the Web, search engines relied on software called spiders to scan Web pages and index links, keywords, and basic information
                                about available websites. But even early search engines could not return meaningful results for complex queries. That's because most of the major search companies had
                                access only to a small fraction of what was available online at any given time (and there's still plenty they don't get). So they had to rely on rules—words like "the"
                                or "of"—to decide which results were relevant. Whether searching for an ancient Chinese poem or a recipe for chocolate mousse cake with raspberry sauce, all depended on
                                how many times each word appeared within the page title or body text. As far as these algorithms were concerned, every page containing those words might as well have
                                been identical in content and importance. </p>
                            <p class="wow fadeInUp mb--80"> The result was an era where anything could turn up at #1: In 1997, AltaVista users searching for "cheese" got hit with an article titled
                                "Cheese Whiz" from The Onion; looking up "girls" showed them pictures from a Brazilian nude magazine called Sexy Girls; asking Google "who is my mother?" returned some
                                weird answers about Goldie Hawn instead of helpful information about your family lineage (which would be useful if you wanted it). </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> 1998 - Google - mathematics, not rules </h4>
                            <p class="wow fadeInUp mb--80"> Google's innovation was so radical at the time that it's hard to realize how much it changed the world. At first glance, Google's search
                                results seem like any other, but they are actually based on mathematical formulas rather than rules. The breakthrough came when the founders realized that if they could
                                measure how vital each website was in relation to all others, they could rank them accordingly. Ranking would make it easy for users to find exactly what they were
                                looking for, no matter how many results were returned by a search engine. Today we take this kind of intelligent ranking for granted, but many people then wondered
                                whether such an idea would even work. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> Google's Domination </h4>
                            <p class="wow fadeInUp"> I would have laughed if you had told me in 1998 that Google would be a verb. But here we are: if you "Google something," you're doing what most
                                people do when looking for information online—you're using the world's most popular search engine. </p>
                            <p class="wow fadeInUp"> This may well be one of the most significant accomplishments in modern business history, yet no one seems to care about it! It's not just that we
                                all use it; it's that Google has become part of our lexicon so thoroughly that the word itself has been absorbed into our language. This is unprecedented in the history
                                of technology companies: there is no other company whose name has become so much a part of its industry. </p>
                            <p class="wow fadeInUp"> So why does everyone take this for granted? </p>
                            <p class="wow fadeInUp"> Search engines work, but they don't work well. </p>
                            <p class="wow fadeInUp"> The search engines we use today are significant from a software engineering perspective. They give us all the information we need. But as humans,
                                we want more than just an answer—we want context. We want to know why that answer is relevant and why others aren't. We want to know who is saying it and if they have
                                any history of being right before now; how much time has passed since then? When we search for something on Google or Bing today, there's no way for them to provide
                                this kind of contextualized relevance by themselves: they have no idea what you're interested in or who you are as a person—none whatsoever! </p>
                            <p class="wow fadeInUp"> That's why I'm going to talk about my vision for creating a better search engine using machine learning techniques such as deep learning with
                                neural networks that can understand the context better than traditional methods (which only focus on keywords). Though I used many scary words, if you can imagine a
                                mind map, you can imagine a better way. </p>
                            <p class="wow fadeInUp"> When we search for something, we get thousands of results or a list of links that may or may not relate to the information we're seeking. </p>
                            <p class="wow fadeInUp"> Search engines return results based on what other people have searched. They do this by looking at how many other people have clicked on similar
                                searches, but this doesn't help when the results aren't relevant to your needs. They don't understand context, so they don't know who you are or what you're interested
                                in. The result? A list of links that may or may not match your goal. </p>
                            <p class="wow fadeInUp mb--80"> To fix this problem, we need to move from an "abstract web" (a collection of data) to a "personal web," which understands who we are and how
                                we use technology on our terms as individuals. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> Context is King </h4>
                            <p class="wow fadeInUp"> Search engines are terrible at understanding context. They don't know what you're interested in or who you are. They can't think like humans, so
                                they can't serve personalized results. </p>
                            <p class="wow fadeInUp"> We don't have to settle for this—it's 2022. The time for change is now! </p>
                            <p class="wow fadeInUp mb--80"> In short, they can't think like human beings who can utilize their entire knowledge base to research a topic on the Web and develop
                                something relevant and personal. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> FIND </h4>
                            <p class="wow fadeInUp"> FIND could be a new search engine with a different plan: to return only one result every time you ask it something. </p>
                            <p class="wow fadeInUp"> After 24 years of disappointment and frustration with traditional search engines, we decided enough was enough. So we're building FIND—a search
                                engine that uses the concept of a mind map to understand what people want, who they are, and how they think so that it can serve one result as quickly as possible. FIND
                                is not just another fast-loading app for searching on your phone or tablet; it's an entire paradigm shift in how people interact with information online—and offline.
                            </p>
                            <p class="wow fadeInUp"> You've probably heard a lot about machine learning and artificial intelligence recently. These areas of computer science deal with computers doing
                                things without being explicitly programmed to do them, but they're often used interchangeably by the general public. The difference between the two is that machine
                                learning is the science of getting computers to act in ways that seem intelligent, while artificial intelligence is more accurately defined as making computers do
                                things that seem intelligent. </p>
                            <p class="wow fadeInUp"> Think back to when you first used Google. Like most people, you probably started by typing in a word or two—maybe "pen" or "pizza." You likely
                                weren't thinking about the history of pens or pizzas, but even if you were, Google figured out what information would be helpful based on your past search activity and
                                other factors. </p>
                            <p class="wow fadeInUp"> The company's algorithms had learned that people who used those words probably wanted to know more about them. Over time, this ability has expanded
                                dramatically: In addition to being able to tell which words are related, it can now understand what people mean when they use terms such as "pizza" versus "sauce." This
                                makes finding relevant results more accessible than ever before—and it also means that humans don't have to do all the hard work themselves anymore (imagine how long it
                                would take for each person individually). </p>
                            <p class="wow fadeInUp"> FIND uses similar artificial intelligence technology but with some critical differences from Google. FIND is the next step in how people will
                                consume information on the Internet. FIND machine learning and artificial intelligence technology can understand what people want, who they are, and how they think so
                                that it can serve them relevant results as quickly as possible. If additional context is needed, there are options users can add. </p>
                            <img src="/assets/images/FIND.png" alt="FIND" class="img-fluid rounded mb-2">
                                <p class="wow fadeInUp mb--80"> We're living in an age where people are looking not just for information but also for advice and guidance. They want to know what they
                                should do next, who they should be listening to, and how they can reach their goals. We need a search engine that can provide these things to reach our full potential
                                as human beings—FIND is the tool we need. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Passion Project number 2 - eliminate passwords </h3>
                            <p class="wow fadeInUp mb--80"> One day, while trying to watch an episode of Stephen Colbert on Apple TV, I was asked to perform 2-factor authentication. I was already sick
                                of logging into every application and remembering passwords; however, as they say, having to 2-factor authenticate to watch a TV show broke the camel's back. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> What's Wrong With Passwords </h4>
                            <p class="wow fadeInUp mb--80"> Passwords are not a secure way to authenticate. They're easy to guess and hard to remember, and you must keep up with them for every website
                                you use. Passwords can be stolen in various ways, including phishing attacks or simply copying them from your browser history when you leave your computer unattended.
                                Passwords are just too darned inconvenient. We need something better than passwords — but what? </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> 2-Factor Authentication Is A Pain </h4>
                            <p class="wow fadeInUp mb--80"> And it should be; it's meant to keep your information safe from hackers. You're probably familiar with the process: you enter your password
                                and then get a code texted to your phone that you must enter for your account to be unlocked. That's two factors, hence "2-factor" authentication. It's an extra layer
                                of protection, so hackers can't get into your accounts without both pieces of information—your password and your phone number—which is excellent. But this additional
                                security means more work for everyone else too. Entering the code takes time and effort whenever someone wants to access their account. This can be tedious during brief
                                sessions at work or school when we all want fast access to get back to what matters (like this article). Getting the code on all our devices isn't always easy.
                                Sometimes we don't even realize there are multiple devices until after someone has already stolen our identity. The thief creates new identities under their name
                                instead of ours through clever trickery involving social media profiles or email addresses that were switched before anyone noticed anything suspicious. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> Security Questions Are (Not) The Solution </h4>
                            <p class="wow fadeInUp"> We've all been there: you're at a new site, and they ask you to create a password. It's okay, though—they say they'll save it for you so that you
                                don't have to remember it. Then, after entering your email address and setting up a secure password (hopefully), they say: "That's great! Now we just need to verify
                                that this is really your account by asking some security questions." You're okay with this because you probably know the answers anyway. The only problem is that these
                                questions are actually not secure; in fact, if someone wanted access to your account enough, they could guess the answer from knowing just a few facts about you (e.g.,
                                the name of my favorite band or song). </p>
                            <p class="wow fadeInUp mb--80"> Security questions were designed with good intentions: give users control over their accounts by keeping them safe with something other than
                                passwords alone and make sure everyone has an equal chance at access through these verifications instead of requiring everyone to use strong passwords themselves. But
                                as we've seen above with our examples ("What city were you born in?"), there are several flaws within this design which makes them much less effective than intended
                                when it comes down to protecting user accounts from hackers and bots looking for easy targets. </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> The Future Of Authentication </h4>
                            <p class="wow fadeInUp"> Passwordless authentication is an essential part of the future of authentication. Passwordless authentication is more secure than traditional
                                two-factor authentication because it's based on a single factor: you. </p>
                                <img src="/assets/images/passwordless.png" alt="Passwordless" class="img-fluid rounded mb-2">

                            <p class="wow fadeInUp"> 2FA has been around for years, and while it's been helpful in protecting your accounts, passwordless authentication offers something that 2FA
                                can't: convenience. If you use the same password across all your accounts, they are all vulnerable if that one account is compromised by hackers. </p>
                            <p class="wow fadeInUp"> Passwordless authentication removes this risk by using a token instead of a password alone and by tying it to your fingerprint or face scan instead
                                of having to enter something static like characters into your device each time you want access to an account or service. The future of security will be based on these
                                kinds of technologies which are not only easier for users but also more secure than anything else currently available today. </p>
                            <p class="wow fadeInUp mb--80"> The future of security will be based on these kinds of technologies which are not only easier for users but also more secure than anything
                                else currently available today! </p>
                            <h4 class="title mb--30 text-capitalize wow fadeInUp"> Passwordless Authentication Is The Future </h4>
                            <p class="wow fadeInUp mb--80"> It's easy to use, saves time, and is more secure than traditional methods. It's easy for everyone involved—and it will save us all a lot of
                                headaches in the long run. The bottom line is that we're at a point where the need for secure authentication is more urgent than ever. With more and more of our data
                                being stolen daily, using weak passwords that can be easily guessed or brute-forced is no longer an option. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Funding Passion Projects </h3>
                            <p class="wow fadeInUp"> At my previous job, I worked on creating a Laboratory Information System (LIS). I started to get excited about the idea of building a software
                                company because I knew from experience how complicated it was to run a lab. I had learned so much about how things could be streamlined and automated to make life
                                easier for everyone involved in running a scientific facility. So when I left that company and began looking at what kind of business to start, it seemed like so many
                                incredible opportunities were out there! </p>
                            <p class="wow fadeInUp"> I decided that if I were going to do this thing right, I would have no choice but to go all in on it: quitting my job and focusing exclusively on
                                starting my own tech company. The goal was always clear: build something great so that one day you'd be able to fund your passion projects with revenue from your
                                startup. </p>
                            <p class="wow fadeInUp"> Since leaving my job, I have discovered most biotechnology companies' operations aren't very good as most of their investment goes into the
                                research or testing they perform. </p>
                            <p class="wow fadeInUp"> The <a href="https://lis.taliferro.com">laboratory information system (LIS)</a>  I was creating at the time was for B2C, but the company shut down operations. So I decided to take what I
                                learned and create a serverless SaaS product to help biotechnology companies better manage their operations and data. My solution is a cloud platform for tracking and
                                managing laboratory information and operations —from a practitioner, client, or patient engagement to test result delivery. </p>
                            <p class="wow fadeInUp"> The product is serverless and would be half of what's currently on the market today. It has capabilities that make it unique compared to any other
                                systems (and at least two years ahead). The friction identified within this market is existing solutions are too expensive for most companies without venture capital
                                dollars or large budgets. My product has several significant advantages over other products on the market: </p>
                            <ul class="wow fadeInUp">
                                <li> It enables the collection of data from multiple sources </li>
                                <li> It allows users to customize the interface </li>
                                <li> It has built-in risk mitigation tools </li>
                                <li> Visual dashboards showing revenue from e-commerce </li>
                                <li> Can integrate into Shopify for a B2C </li>
                                <li> Can communicate testing status via text message and email </li>
                                <li> Logging into patients' files (passwordless) </li>
                                <li> Searching for patient records (proprietary search FIND) </li>
                                <li> Ordering supplies through an integrated supply management system </li>
                                <li> Accessing current test results from any internet-connected device </li>
                            </ul>
                            <div class="video-block">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe title="Laboratory Information System Explainer" is="x-frame-bypass" class="embed-responsive-item" src="https://www.youtube.com/embed/KJVzpCt8DHI" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <p class="wow fadeInUp"> Another friction point I have identified is that most biotechnology companies start with basic software but can't scale. The cost of the software
                                they need is too high, so they skimp on operations. It takes serious capital to build a lab information system from scratch. </p>
                            <p class="wow fadeInUp"> For biotechnology companies to scale current systems is expensive, only large corporations can afford to scale properly. </p>
                            <p class="wow fadeInUp"> My solution is unique because we take a different approach to the problem than our competitors. We have already proven that our technology works at
                                scale. Our competitors have created systems that only work for one market segment— small businesses or enterprise clients. But our product can be used by both, which
                                means it's more flexible and scalable than anything on the market. </p>
                            <p class="wow fadeInUp"> Our technology allows us to reduce friction. With your help and our unique technology, we can enable biotechs and healthcare to scale. Scalability
                                is a win-win because if biotechs can rise quickly, humanity benefits faster. We are confident that this problem is worth solving today and will help labs worldwide
                                unlock their potential and make their work faster, easier, and more accurate than ever. </p>
                            <p class="wow fadeInUp"> The LIS works with most of what we envision having available within production models down the line. The most significant exception is that some
                                functionality requires manual entry rather than automatic integration due to resource limitations and some hardware components (this is also why we need funds). Here
                                are the tailwinds and trends that support our approach for the next 4-10 years: </p>
                            <ul class="wow fadeInUp">
                                <li> The need for more accurate results: We have seen a gradual decrease in accuracy over time as people use tools that are not designed with scientific principles in
                                    mind. This has happened at scale, so we believe this trend will continue. </li>
                                <li> The need for more efficient processes: We believe the current workflow is not optimized to maximize efficiency or minimize errors. For example, many studies fail
                                    because they don't have proper controls to ensure data quality and accuracy (especially when dealing with low volumes). </li>
                                <li> The need for more reliable data: There is no doubt that issues with data reliability negatively impact productivity at every level within healthcare organizations
                                    and lead to higher costs associated with rework and reprocessing samples. </li>
                                <li> Security: This can be attributed to outdated technology solutions used by most labs today which lack adequate cybersecurity measures against hackers or malicious
                                    insiders who may want to access confidential medical information about patients using their systems/equipment at any given time of day/night (24 hours x 365 days
                                    per year). </li>
                            </ul>
                            <p class="wow fadeInUp"> Our tool could dramatically change the biomedical research community by making accurate and reliable lab management more affordable for academic
                                institutions and nonprofit organizations. Providing an easy way to track experiments would help scientists focus on their research, not on administrative tasks like
                                managing inventory or worrying about whether one of the machines in their lab is broken. This will make it easier for them to share data with colleagues worldwide. </p>
                            <p class="wow fadeInUp mb--80"> We are excited about the potential of this technology to improve people's lives. We hope you will consider investing in our company and
                                supporting the development of a platform that will help accelerate drug discovery and clinical trials for new therapies. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> e-Commerce Platform </h3>
                            <p class="wow fadeInUp mb--80"> I developed an e-Commerce Platform years ago, so I need to finish it. I've been told I have tunnel vision and want to complete everything I
                                start. This meant that when I started creating this platform, I decided that when it was done, it would be the best eCommerce solution out there. That meant investing
                                in all the bells and whistles like marketing automation, inventory management, reporting tools, etc. It also meant integrating multiple platforms, including Shopify
                                (where most of my customers were) Twilio and Apple. All these things take time, the project is still not finished, but soon it will be ready for release as a SaaS
                                product. The next step is getting customers on board so we can generate revenue. They are further helping to fund the passion projects. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Integrate the CRM into e-Commerce </h3>
                            <p class="wow fadeInUp mb--80"> I have learned one thing: no matter how much effort goes into creating a fantastic website or marketing campaign, everything falls apart
                                fast if you don't have systems for managing your customer relationships post-purchase. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Share learning so others can benefit through blog posts </h3>
                            <p class="wow fadeInUp"> I started blogging in August 2022, and I've written about everything from leadership to marketing. You can reach out to me to see if I can help you
                                with your blog posts. </p>
                            <p class="wow fadeInUp"> In addition to blogging about my experiences, I also share meaningful content on social media channels like Facebook and LinkedIn. I regularly
                                contribute to these platforms because they allow us to authentically engage with potential clients and partners. </p>
                            <p class="wow fadeInUp mb--80"> Finally, I speak at events that help business leaders understand how technology can be used as a force for positive change within their
                                organizations (and outside of them). </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Ease the world's pain and simplify with technology </h3>
                            <p class="wow fadeInUp"> Technology can make life easier. </p>
                            <p class="wow fadeInUp"> It can help us be more efficient, productive, and ultimately more successful in everything we do. </p>
                            <p class="wow fadeInUp mb--80"> The world is a much better place with technology in it. </p>
                            <h2 class="wow fadeInUp"> Conclusion </h2>
                            <p class="wow fadeInUp mb--80"> The ideas behind Taliferro Group are not new. In fact, they have been around for a long time, but I believe the world is ready for them now.
                                That's why I started this company - to make the world a better place. </p>
                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/oct-2022/using-the-lighthouse-google-developer-tool-to-measure-your-websites-performance"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="#" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>