   <!-- Case Study Modal Box -->
   <div class="op-case-modal op-modal-wrap">
    <div class="op-modal-inner">
        <button class="close" aria-label="Close"><i class="fa fa-times"></i></button>
        <div class="op-modal-content">
            <div class="case-content"></div>
        </div>
    </div>
</div>
<!-- Case Study Modal Box -->

<!-- Portfolio Modal Box -->
<div class="op-portfolio-modal op-modal-wrap">
    <div class="op-modal-inner">
        <button class="close" aria-label="Close"><i class="fa fa-times"></i></button>
        <div class="op-modal-content">
            <div class="portfolio-thumbnail"></div>
            <div class="portfolio-content"></div>
        </div>
    </div>
</div>
<!-- Portfolio Modal Box -->

<!-- Blog Modal Box -->
<div class="op-blog-modal op-modal-wrap">
    <div class="op-modal-inner">
        <button class="close" aria-label="Close"><i class="fa fa-times"></i></button>
        <div class="op-modal-content">
            <div class="post-thumbnail"></div>
            <div class="post-content"></div>
        </div>
    </div>
</div>
<!-- Blog Modal Box -->