<div class="widget widget-recent-post">
    <h4 class="widget-title">Recent Post</h4>
    <div class="post-list-wrap">
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2022/e-commerce-architecture-best-practices"><img style="max-width:124px" src="assets/images/blog/e-commerce-architecture-best-practices.webp" alt="e-Commerce Architecture Best Practices"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/nov-2022/e-commerce-architecture-best-practices">e-Commerce Architecture Best Practices</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Nov 4, 2022</li>
                    <li>6 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2022/modern-e-commerce-architecture"><img style="max-width:124px" src="assets/images/blog/modern-e-commerce-architecture.webp" alt="Modern e-Commerce Architecture"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/nov-2022/modern-e-commerce-architecture">Modern e-Commerce Architecture</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Nov 3, 2022</li>
                    <li>7 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2022/best-practices-for-network-systems"><img style="max-width:124px" src="assets/images/blog/best-practices-for-network-systems.webp" alt="Best Practices for Network Systems"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/nov-2022/best-practices-for-network-systems">Best Practices for Network Systems</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Nov 2, 2021</li>
                    <li>10 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2022/e-commerce-scalability-strategy"><img style="max-width:124px" src="assets/images/blog/e-commerce-scalability-strategy.webp" alt="e-Commerce Scalability Strategy"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/oct-2022/e-commerce-scalability-strategy">e-Commerce Scalability Strategy</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Oct 31, 2021</li>
                    <li>8 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2022/how-we-can-help-with-your-digital-transformation"><img style="max-width:124px" src="assets/images/blog/how-we-can-help-with-your-digital-transformation.webp" alt="How we can help with your Digital Transformation"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/oct-2022/how-we-can-help-with-your-digital-transformation">How we can help with your Digital Transformation</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Oct 28, 2021</li>
                    <li>7 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2022/dont-take-cybersecurity-lightly"><img style="max-width:124px" src="assets/images/blog/dont-take-cybersecurity-lightly.webp" alt="Don't take Cybersecurity Lightly"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/oct-2022/dont-take-cybersecurity-lightly">Don't take Cybersecurity Lightly</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Oct 27, 2021</li>
                    <li>8 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2022/lack-of-resources-or-expertise-is-not-a-big-issue-for-companies"><img style="max-width:124px" src="assets/images/blog/lack-of-resources-or-expertise-is-not-a-big-issue-for-companies.webp" alt="Lack of Resources or Expertise is not a big issue for companies"></a>
            </div>
            <div class="post-content">
                <h6 class="title"><a routerLink="/blog/oct-2022/lack-of-resources-or-expertise-is-not-a-big-issue-for-companies">Lack of Resources or Expertise is not a big issue for companies</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>Oct 26, 2021</li>
                    <li>8 min to read</li>
                </ul>
            </div>
        </div>

    </div>
</div> 
