        <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
        <section class="section call-to-action-area">
            <div class="container">
                <div class="call-to-action">
                    <div class="section-heading heading-light">
                        <span style="color: whitesmoke;" class="text-capitalize wow slideInLeft">Contact us to arrange a product demonstration</span>
                        <h2 class="title text-capitalize wow slideInRight">The best move you'll ever make</h2>
                        <a href="#op-contact" class="axil-btn btn-large btn-fill-white text-capitalize wow fadeInUp">Fix My Information Technology</a>
                    </div>
                    <div class="thumbnail">
                        <div class="larg-thumb sal-animate wow fadeInUp">
                            <img class="paralax-image" src="assets/media/others/chat-group.png" alt="Chat">
                        </div>
                        <ul class="list-unstyled small-thumb">
                            <li class="shape shape-1 sal-animate wow slideInLeft">
                                <img class="paralax-image" src="assets/media/others/png/person-using-smartphone-1.png" alt="Person Contacting Taliferro Group 1">
                            </li>
                            <li class="shape shape-2 sal-animate wow slideInRight">
                                <img height=""  class="paralax-image img-fluid" src="assets/media/others/png/person-using-smartphone-5.png" alt="Person Contacting Taliferro Group 2">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-9">
                <li class="shape shape-1"><img src="assets/media/others/bubble-12.png" alt="Comments"></li>
                <li class="shape shape-2"><img src="assets/media/others/bubble-16.png" alt="Comments"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-13.png" alt="Comments"></li>
                <li class="shape shape-4"><img src="assets/media/others/bubble-14.png" alt="Comments"></li>
                <li class="shape shape-5"><img src="assets/media/others/bubble-16.png" alt="Comments"></li>
                <li class="shape shape-6"><img src="assets/media/others/bubble-15.png" alt="Comments"></li>
                <li class="shape shape-7"><img src="assets/media/others/bubble-16.png" alt="Comments"></li>
            </ul>
        </section>