<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <!-- Start Header -->
    <header id="masthead" class="site-header">
      <nav class="navbar navbar-expand-lg" style="background-color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                </ul>
                <span class="navbar-text"> 425.305.3748 </span>
            </div>
        </div>
    </nav>
        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1>Terms Of Use</h1>
                    </div>
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </header>
    <!-- End Header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content">
                                <h1 class="style2"></h1>
<p>
  This page states
  the &quot;Terms and Conditions&quot; under which you may use &quot;Taliferro Group&quot;.
  Please read this page carefully. If you do not accept the Terms and
  Conditions stated here, do not use this web site application service. By using
  this web site service, you are indicating your acceptance to be bound by the terms
  of these Terms and Conditions. Taliferro Group (the &quot;Company&quot;) may revise
  these Terms and Conditions at any time by updating this posting. You
  should visit this page periodically to review the Terms and Conditions,
  because they are binding. The terms &quot;You&quot; and &quot;User&quot; as used herein
  to refer to all individuals and/or entities accessing this web site for any
  reason.</p>
<h2>Use of Web Site Content.</h2>
<p> The Company authorizes
  you to view and access a single copy of the content available on or from
  Taliferro Group (the &quot;Web Site&quot;) solely for your personal, and/or business use.</p>
<p> The contents of this Web
  Site, and all other websites under the Company's control, whether
  partial or otherwise (the Website and such other websites are sometimes
  collectively referred to as 'Taliferro Group Sites') such as text, graphics,
  images, logos, button icons, software and other Web Site content
  (collectively, 'Web Site Content'), are protected under both United States
  and foreign copyright, trademark and other laws. All Web Site software is
  the property of the Company. The
  compilation (meaning the collection, arrangement and assembly) of all
  content related to &quot;Taliferro Group&quot; on this Web Site is the exclusive property of the Company and
  protected by U.S. and international copyright laws. Unauthorized use of
  &quot;Taliferro Group&quot; Web Site Content may violate copyright, trademark, and other laws. You
  must retain all copyright, trademark, service-mark and other proprietary
  notices contained in the original Web Site Content on any copy you make of
  the Web Site Content. You may not sell or modify the &quot;Taliferro Group&quot; Web Site Content or
  reproduce, display, publicly perform, distribute, or otherwise use the Web
  Site Content in any way for any public or commercial purpose. The use of
  the &quot;Taliferro Group&quot; Web Site Content on any other web site or in a networked computer
  environment for any purpose is prohibited.</p>
<p>
  You shall not copy or
  adapt the HTML code that the Company creates to generate any Web Site
  Content or the pages making up any Taliferro Group Site. It is also protected by
  the Company's copyright.</p>

<h2>Acceptable Site Use.</h2>
<p>
  General Rules: Users may
  not use any Taliferro Group Site in order to transmit, distribute, store or
  destroy material, including without limitation Web Site Content, (a) in
  violation of any applicable law or regulation, (b) in a manner that will
  infringe the copyright, trademark, trade secret or other intellectual
  property rights of others or violate the privacy, publicity or other
  personal rights of others, or (c) that is defamatory, obscene,
  threatening, abusive or hateful.
</p>
<p> Taliferro Group Site Security
  Rules. Users are prohibited from violating or attempting to violate the
  security of any Taliferro Group Site, including, without limitation, (a)
  accessing data not intended for such user or logging into a server or
  account which the user is not authorized to access, (b) attempting to
  probe, scan or test the vulnerability of a system or network or to breach
  security or authentication measures without proper authorization, (c)
  attempting to interfere with service to any user, host or network,
  including, without limitation, via means of submitting a virus to any Taliferro Group
  Site, overloading, &quot;flooding&quot;, &quot;spamming&quot;, &quot;mail-bombing&quot; or
  &quot;crashing&quot;, (d) sending unsolicited e-mail, including promotions and/or
  advertising of products or services, unless authorized, or (e) forging any TCP/IP packet
  header or any part of the header information in any e-mail or newsgroup
  posting. Violations of system or network security may result in civil or
  criminal liability. The Company will investigate occurrences which may
  involve such violations and may involve, and cooperate with, law
  enforcement authorities in prosecuting users who are involved in such
  violations.
  </p>
<h2>Inactivity</h2>
<p>
  If the users accounts is inactive for more than 30 consecutive days, The Company reserves the right
  to eliminate the account by deletion.  All data entered from inception will be deleted.
</p>
<h2>Specific Prohibited Uses.</h2>
<p> Taliferro Group Sites may be
  used only for lawful purposes by individuals utilizing &quot;Taliferro Group&quot; to run their business. The
  Company specifically prohibits any use of the Web Site, and all users
  agree not to use the Web Site, for any of the following:
  </p>
<ul>
  <li class="content_text">Deleting or revising any
      material posted by any other person or entity without authorization.   </li>
  <li class="content_text">Using any device,
      software or routine to interfere or attempt to interfere with the proper
      working of any Taliferro Group Site or any activity being conducted on this
      site.   </li>
  <li class="content_text">Taking any action which
      imposes an unreasonable or disproportionately large load on any Taliferro Group Site's infrastructure.   </li>
  <li class="content_text">If you have a password
      allowing access to the &quot;Taliferro Group&quot; Web Site, disclosing to or
      sharing your password with any third parties or using your password for
      any unauthorized purpose. </li>
  <li class="content_text">Notwithstanding anything
      to the contrary contained herein, using or attempting to use any engine,
      software, tool, agent or other device or mechanism (including without
      limitation browsers, spiders, robots, avatars or intelligent agents) to
      navigate or search any Taliferro Group Site other than the search engine and
      search agents available from the Company on such Taliferro Group Site and other
      than generally available third party web browsers (e.g., Netscape
      Navigator, Microsoft Explorer).   </li>
  <li class="content_text">Attempting to decipher,
      decompile, disassemble or reverse engineer any of the software comprising
      or in any way making up a part of any Taliferro Group Site.   </li>
  <li class="content_text">Aggregating, copying or
      duplicating in any manner any of the Web Site Content or information
      available from any Taliferro Group Site.   </li>
  <li class="content_text">Framing of or linking to
      any of the Web Site Content or information available from any Taliferro Group
            Site without authorization.    </li>
</ul>
<h2>User Information.</h2>
<p> When you register for the &quot;Taliferro Group&quot; Web Site, you will be asked to provide the Company with certain
  information including, without limitation, a valid email address (your
  &quot;Information&quot;). In addition to the terms and conditions that may be set
  forth in any privacy policy on this Web Site, you understand and agree
  that the Company may disclose to third parties, on an anonymous basis,
  certain aggregate information contained in your registration application.
  The Company will not disclose to any third party your name, address,
  e-mail address or telephone number without your prior consent, except to
  the extent necessary or appropriate to comply with applicable laws or in
  legal proceedings where such information is relevant.
  &nbsp;
</p>
<h2>User Submissions.</h2>
<p> As a user, you are
  responsible for your own database and are responsible for the
  consequences of posting information to the database. By using any
  Taliferro Group Site you agree not to, do the following things:
  </p>
<ul>
  <li class="content_text"> post material that is
      copyrighted, unless you are the copyright owner or have the permission of
      the copyright owner to post it;&nbsp;   </li>
  <li class="content_text"> post material that reveals trade secrets,
      unless you own them or have the permission of the owner;&nbsp;   </li>
  <li class="content_text"> post material
      that infringes on any other intellectual property rights of others or on
      the privacy or publicity rights of others;&nbsp;   </li>
  <li class="content_text"> post material that is obscene,
      defamatory, threatening, harassing, abusive, hateful, or embarrassing to
      another user or any other person or entity;&nbsp;   </li>
  <li class="content_text"> post a sexually-explicit image
      or statement;&nbsp;   </li>
  <li class="content_text"> post advertisements or solicitations of business, post chain
      letters or pyramid schemes;&nbsp;   </li>
  <li class="content_text"> impersonate another person;&nbsp;   </li>
  <li class="content_text"> or post material
      that contains viruses, Trojan horses, worms, time bombs, cancelbots or
      other computer programming routines or engines that are intended to
      damage, detrimentally interfere with, surreptitiously intercept or
      expropriate any system, data or information.   </li>
</ul>
<p>
  The Company does not
  represent or guarantee the truthfulness, accuracy, or reliability of
  information posted by users or endorse any opinions expressed by users.
  You acknowledge that any reliance on material added to the database by other users will
  be at your own risk.
</p>
<p>
  The Company acts as a
  passive conduit for the online distribution and publication of user-posted information and has no obligation to screen communications
  or information in advance and is not responsible for screening or
  monitoring material posted by users. If notified by a user of
  communications which allegedly do not conform to these Terms and
  Conditions, the Company may investigate the allegation and determine in
  good faith and its sole discretion whether to remove or request the
  removal of the communication. The Company has no liability or
  responsibility to users for performance or nonperformance of such
  activities. The Company reserves the right to expel users and prevent
  their further access to the Web Site for violating the Terms and
  Conditions or the law and the right to remove communications which are
  abusive, illegal, or disruptive. The Company may take any action with
  respect to user-submitted information that it deems necessary or
  appropriate in its sole discretion if it believes it may create liability
  for the Company or may cause the Company to lose (in whole or in part) the
  services of its ISPs or other suppliers.
</p>
<p> We appreciate hearing
  from our customers and welcome your comments regarding our services and
  the Taliferro Group Sites. Please be advised, however, that our policy does not
  permit us to accept or consider creative ideas, suggestions, inventions or
  materials other than those which we have specifically requested. While we
  do value your feedback on our services, please be specific in your
  comments regarding our services and do not submit creative ideas,
  inventions, suggestions, or materials. If, despite our request, you send
  us creative suggestions, ideas, drawings, concepts, inventions, or other
  information (collectively the &quot;Submission&quot;), the Submission shall be the
  property of the Company. None of the Submission shall be subject to any
  obligation of confidence on our part and we shall not be liable for any
  use or disclosure of any Submission. The Company shall own exclusively all
  now known or later discovered rights to the Submission and shall be
  entitled to unrestricted use of the Submission for any purpose whatsoever,
  commercial or otherwise, without compensation to you or any other person
  who submitted the Submission.
  </p>
<h2>Registration and Password.</h2>
<p>
  You are responsible for
  maintaining the confidentiality of your information and password. You
  shall be responsible for all uses of your registration, whether or not
  authorized by you. You agree to immediately notify the Company of any
  unauthorized use of your registration or password.
</p>
<p> The Company is not involved in the actual
  transaction between companies and their employees. As a result, the Company has
  no control over the quality, safety or legality of the information posted
  to the database, or
  the validity of the information.
  &nbsp;
</p>
<p>
  Because user
  authentication on the Internet is difficult, the Company cannot and does
  not confirm that each user is who they claim to be. Because we do not and
  cannot be involved in user-to-user dealings or control the behavior of
  participants on any &quot;Taliferro Group&quot; Site, in the event that you have a dispute
  with one or more users, you release the Company (and our agents and
  employees) from claims, demands and damages (actual and consequential,
  direct and indirect) of every kind and nature, known and unknown,
  suspected and unsuspected, disclosed and undisclosed, arising out of or in
  any way connected with such disputes.
</p>
<p> We are under no legal
  obligation to, and generally do not, control the information posted by users which is made available through the &quot;Taliferro Group&quot; Web Site and/or the other Taliferro Group Sites. By its very nature, other people's information may be
  offensive, harmful or inaccurate, and in some cases will be mislabeled or
  deceptively labeled.
  </p>
<p> We expect that you will
  use caution and common sense when using the &quot;Taliferro Group&quot; Web Site and/or the other
  &quot;Taliferro Group&quot; Sites.
  </p>
<p>
  The Web Site Content may
  contain inaccuracies or typographical errors. The Company makes no
  representations about the accuracy, reliability, completeness, or
  timeliness of any &quot;Taliferro Group&quot; Site or the Web Site Content. The use of Taliferro Group
  Sites and the Web Site Content is at your own risk. Changes are
  periodically made to &quot;Taliferro Group&quot; Sites and may be made at any time.
</p>
<p> You acknowledge and
  agree that you are solely responsible for the form, content and accuracy
  of any material contained within your database placed by you on the &quot;Taliferro Group&quot; Site.
  &nbsp;
</p>
<p> The Company is not to be
  considered to be an employer with respect to your use of any &quot;Taliferro Group&quot; Site and the Company shall not be responsible for any
  business decisions, for whatever reason made, made by any entity posting
  information to the
  &quot;
  Taliferro Group
  &quot;
  database.
  </p>
<p><span> THE COMPANY DOES NOT
  WARRANT THAT ANY &quot;Taliferro Group&quot; SITE WILL OPERATE ERROR-FREE OR THAT ANY &quot;Taliferro Group&quot;
  SITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES OR OTHER
  HARMFUL MECHANISMS. IF YOUR USE OF ANY Taliferro Group SITE OR THE MATERIAL
  RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, THE
  COMPANY IS NOT RESPONSIBLE FOR THOSE COSTS. THE &quot;Taliferro Group&quot; SITES AND WEB
  SITE CONTENT ARE PROVIDED ON AN &quot;AS IS&quot; BASIS WITHOUT ANY WARRANTIES OF
  ANY KIND. THE COMPANY, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS
  ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF
  MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT. THE
  COMPANY MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS,
  OR TIMELINESS OF THE MATERIAL, SERVICES, SOFTWARE, TEXT, GRAPHICS, AND
  LINKS.
  </span>
  </p>
<h2>
  Disclaimer of Consequential
  Damages.</h2>
<p>
  IN NO EVENT SHALL THE
  COMPANY, ITS SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON ANY &quot;Taliferro Group&quot;
  SITE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT
  LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES
  RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE
  OR INABILITY TO USE ANY &quot;Taliferro Group&quot; SITE AND THE MATERIAL, WHETHER BASED ON
  WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT
  THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p>
<h2>
  No Resale or Unauthorized
  Commercial Use.</h2>
<p>
  You agree not to resell
  or assign your rights or obligations under these Terms of Use. You also
  agree not to make any unauthorized commercial use of any &quot;Taliferro Group&quot; Site.
</p>
<h2>Limitation of Liability.</h2>
<p>
  The aggregate
  liability for the Company to you for all claims arising from the use of
  the Materials or any &quot;Taliferro Group&quot; Site is limited to $100.
</p>
<h2>Termination.</h2>
<p> The Company reserves the
  right, at its sole discretion, to pursue all of its legal remedies,
  including, but not limited to deletion of your database from the &quot;Taliferro Group&quot; Web Site
  and the other Taliferro Group Sites and immediate termination of your
  registration with or ability to access this Web Site and the other Taliferro Group
  Sites and/or any other service provided to you by the Company,
  upon any breach by you of these Terms and Conditions or if the Company is
  unable to verify or authenticate any information you submit to the Web
  Site or other Taliferro Group Site registration.
  </p>
<h2>Indemnity.</h2>
<p>
  You agree to
  defend, indemnify, and hold harmless the Company, its officers, directors,
  employees and agents, from and against any claims, actions or demands,
  including without limitation reasonable legal and accounting fees,
  alleging or resulting from your use of the Material or your breach of the
  terms of these Terms and Conditions. The Company shall provide notice to
  you promptly of any such claim, suit, or proceeding and shall assist you,
  at your expense, in defending any such claim, suit or proceeding.
</p>
<h2>General.</h2>
<p> The Company makes no
  claims that the Materials may be lawfully viewed or accessed outside of
  the United States. Access to the Materials may not be legal by certain
  persons or in certain countries. If you access the Web Site from outside
  of the United States, you do so at your own risk and are responsible for
  compliance with the laws of your jurisdiction. These Terms and Conditions
  are governed by the internal substantive laws of the Commonwealth of
  Florida, without respect to its conflict of laws principles.
  Jurisdiction for any claims arising under this agreement shall lie
  exclusively with the state or federal courts within Miami, Florida.
  If any provision of these Terms and Conditions are found to be invalid by
  any court having competent jurisdiction, the invalidity of such provision
  shall not affect the validity of the remaining provisions of these Terms
  and Conditions, which shall remain in full force and effect. No waiver of
  any term of these Terms and Conditions shall be deemed a further or
  continuing waiver of such term or any other term. Except as expressly
  provided in additional terms of use for areas of the Web Site, a
  particular &quot;Legal Notice,&quot; or Software License or material on particular
  Web pages, these Terms and Conditions constitute the entire agreement
  between you and the Company with respect to the use of Web Site. No
  changes to these Terms and Conditions shall be made except by a revised
  posting on this page.
  </p>
<h2>Additional Terms of Use.</h2>
<p>
  Certain areas of
  this Web Site and the other &quot;Taliferro Group Group&quot; Sites are subject to additional
  terms of use. By using such areas, or any part thereof, you agree to be
  bound by the additional terms of use applicable to such areas.</p>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div> <!-- #primary -->
    </div> <!-- #content -->
    <!-- Start Footer -->
    <footer id="colophon" class="container-fluid site-footer">
      <div class="container footer-container">
        <div class="row">
          <div class="col-md-12 site-bottom-footer">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://taliferro.com" title="Home">Home</a></li>
                <li><a href="https://blog.taliferro.com" title="Blog">Blog</a></li>
                <li><a href="https://taliferro.com/#about" title="Post">About</a></li>
                <li><a href="https://taliferro.com/#contact" title="Contact Us">Contact</a></li>
              </ul>
            </nav>
            <div class="col-md-12 social-links">
              <ul class="footer-social-icons">
                <li><a href="https://www.facebook.com/taliferro.group/" title="Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="https://twitter.com/TaliferroLLC" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCbSklLhEDs-4kld584LtdlQ" title="YouTube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/company/taliferro/" title="Linkedin"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://angel.co/company/taliferro-group" title="AngelList"><i class="fa fa-fw fa-angellist" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/taliferrogroup/" title="Instagram"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a></li>
                              <li><a href="https://github.com/tshowers" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              </ul>
            </div> <!-- .social-links -->
            <div class="col-md-12 copy-text">
              <p>© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a href="https://taliferro.com/privacy-policy">Privacy Policy</a> |
                <a href="https://taliferro.com/terms-of-service">Terms of Service</a> | <a href="https://taliferro.com/refund-policy">Refund Policy</a>.</p>
            </div>
          </div> <!-- .site-bottom-footer -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->
</div>