<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'Social Media Marketing'" [description]="'Social media marketing is a vast and ever-changing field. To be successful with social media marketing, you need to be diligent, patient, and willing to pay-per-click. You also need to invest in content marketing.'" [image]="'assets/images/social-media-marketing.png'"></app-banner-area2>
    <app-design-process-area
    [subtitle]="'Empowering people to build great things'"
    [header]="'With SSM Patience is a Virtue'"
    [description]="'Despite what you\'ve heard, there\'s no exact formula for success with social media marketing. But if you\'re looking to make it work, we can help with some key ingredients to help you get there.'"
    [image1]="'/assets/images/social-media-marketing1.png'"
    [subtitle1]="'post often'"
    [title1]="'Content'"
    [description1]="'There\'s so much advice, but how do you know what\'s best for your company? And how can you make sure you\'re doing things right? The truth is, there\'s a lot of bad advice out there. But we\'ve got some good news: we know what works for our clients by practicing what works and what doesn\'t.'"
    [image2]="'/assets/images/social-media-marketing2.png'"
    [subtitle2]="'keep at it'"
    [title2]="'The Long game'"
    [description2]="'Social media marketing is a long-term game—you can\'t expect immediate results. If you want to see the fruits of your labor pay off, keep at it.'"
    [image3]="'/assets/images/social-media-marketing3.png'"
    [subtitle3]="'Strategy'"
    [title3]="'we practice what we preach'"
    [description3]="'Social media marketing is a powerful tool to help you reach your audience and grow your business. But there are many different strategies, each with its strengths and weaknesses. We can help you define what\'s best for you.'"
    [image4]="'/assets/images/social-media-marketing4.png'"
    [subtitle4]="'to help you get started with Scrum'"
    [title4]="'audience connection'"
    [description4]="'SSM can help you connect with your audience and build loyalty. Still, it can be a challenge for businesses just starting with social media. We can explain how to make the most of your social media strategy to get more engagement and use social media best practices to create a consistent brand across your channels.'"
    ></app-design-process-area>
    <app-about-us-area
    [header]="'Social media methodologies'"
    [subtitle]="'making it work for you'"
    [description]="'Social media marketing is great for reaching your audience and building a community. It\'s an effective way to make your brand relevant, share valuable content, and generate leads..'"
    [title1]="'Diligence'"
    [description1]="'Set aside time each week to engage with your audience on social media. Don\'t just post once and call it good—you need to keep things alive by sharing updates, answering questions, and engaging in conversations with the people who follow you.'"
    [title2]="'Patience'"
    [description2]="'It takes time for people to get familiar with your brand and start following you on social media. You might not see results right away, but don\'t give up! Keep making quality content that appeals to your target market and they\'ll eventually come around.'"
    [title3]="'Pay-Per-Click'"
    [description3]="'We can manage your pay-per-click advertising to help boost your social reach by targeting users who are more likely to engage with your content based on their interests or location (or both). This can help get more eyes on your posts without having them be buried in other content from their friends\' feeds.'"
    [formTitle]="'Start Your Acceleration'"
    ></app-about-us-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>