<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'Using The Lighthouse Google Developer Tool to measure your website\'s performance'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/blog/using-the-lighthouse-google-developer-tool-to-measure-your-websites-performance.webp"
                                    alt="Are you crippling your Agile team with Procedure?">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Oct 9, 2022</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="wow fadeInUp"> Introduction </h2>
                            <p class="wow fadeInUp"> Google Lighthouse is a Google Developer tool that helps measure the quality and performance of your website. Initially released in 2017 as an
                                open-source project, it has gained popularity among developers and website owners who want to see how they can improve their websites. The lighthouse report offers
                                valuable insights into many aspects of your site that you may not have thought about or even considered before: accessibility, SEO, performance, and more. This article
                                will cover how to use the Lighthouse tool, what it does, best practices for using it effectively, and much more. </p>
                            <p class="wow fadeInUp"> Google Lighthouse is a tool that helps you test the performance of your websites. It can be accessed right in Chrome's DevTools, or by running it
                                on any URL. It runs a series of tests and grades your site on how well it performs as a whole. It analyzes your pages and provides actionable feedback to help you
                                improve them. </p>
                            <p class="wow fadeInUp mb--80"> The best way to think about this is like an end-to-end test for your web app: it measures how quickly pages load, whether they're usable,
                                and if they are accessible (including supporting keyboard navigation). The results from these tests are then run through an automated grading system that gives each
                                page a score based on these factors. You can install The Lighthouse extension in Google Chrome by downloading it here:
                                https://developers.google.com/web/tools/lighthouse </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> How to access Lighthouse </h3>
                            <p class="wow fadeInUp mb--80"> Lighthouse is a Google Chrome extension, so you'll need to install it first. It's available for Mac, Windows, Linux, and Android. Once
                                you've installed Lighthouse, head to the Chrome Web Store page and click on 'Add to Chrome. A dialog box will appear asking if you want to do this—click 'Add
                                Extension.' You'll know it worked when you see a little lighthouse icon in your browser toolbar. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> The Lighthouse report </h3>
                            <p class="wow fadeInUp mb--80"> The Lighthouse report is a set of audits that run against your website. The report gives you a score and a list of recommendations. You can
                                also download the report as HTML or JSON for further analysis. The Lighthouse report is divided into four sections: performance, accessibility, best practices, and SEO.
                                These sections are explained below with examples from our own experience using Lighthouse on our website. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> How Lighthouse Scores Your Site </h3>
                            <p class="wow fadeInUp mb--80"> Lighthouse is an automated web auditing tool that helps you find, fix, and verify the quality of your web pages. It's a scorecard for your
                                site's performance, accessibility, and best practices. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Best Practices </h3>
                            <p class="wow fadeInUp"> Here are some best practices to keep in mind: </p>
                            <ul class="wow fadeInUp mb--80">
                                <li> Use progressive enhancement. This fundamental concept ensures that your site works even if JavaScript is not enabled or the browser does not support it. It's also
                                    used to provide a better experience on lower-end devices. </li>
                                <li> Use a mobile-first approach. This means you should start with small screens and then build up from there when designing for larger ones (instead of creating full
                                    desktop displays). </li>
                                <li> Employ responsive design whenever possible. Responsive design refers to serving different stylesheets depending on the device being used (iPad vs. iPhone vs.
                                    desktop computer) so that users get the best experience possible based on their device type/browser version/etc., without requiring any unique code for things "to
                                    work" properly across all available platforms at once - which could become unmanageable quickly. </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Performance </h3>
                            <p class="wow fadeInUp"> This section provides information on how quickly your website loads, its performance on mobile devices, and some tips on improving it further in
                                the future. </p>
                            <p class="wow fadeInUp"> Lighthouse has a Performance tab that checks if your website is optimized for speed. It checks the following performance metrics: </p>
                            <ul class="wow fadeInUp mb--80">
                                <li> Load time </li>
                                <li> First meaningful paint </li>
                                <li> Time to interact (aka TTI) </li>
                                <li> Estimated network roundtrip time (RTT) </li>
                                <li> Estimated DOMContentLoaded time (DCL) </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Accessibility </h3>
                            <p class="wow fadeInUp"> Accessibility is an important topic that can make or break your website. It's something you don't want to skimp on, but it's also one of those
                                things that not everyone knows how to measure or fix. In this section, we'll cover what accessibility is, why it matters and how to test for it using Lighthouse. </p>
                            <p class="wow fadeInUp"> This section rates the accessibility of your website based on certain guidelines set forth by Section 508 of the Rehabilitation Act (which requires
                                federal agencies to provide access to persons with disabilities), WCAG 2.0 standards (an industry standard for making websites accessible) as well as ARIA roles (a
                                specification developed by W3C to improve compatibility between HTML-based applications). You'll also find tips here if you want more information about what makes a
                                good experience for someone using assistive technology like screen readers or braille displays. </p>
                            <p class="wow fadeInUp mb--80"> Not only will Lighthouse display how to improve and optimize your website performance, but it also helps make your website mobile friendly,
                                accessible, and more. The good news is that most of these problems are easy to fix once identified. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> SEO </h3>
                            <p class="wow fadeInUp"> SEO is the process of optimizing your website to help search engines find and index your content. Lighthouse will check for best practices,
                                including your use of meta-descriptions and titles, unique page resources, and appropriate canonicalization. </p>
                            <p class="wow fadeInUp"> Lighthouse can help measure how well you've implemented SEO best practices on your site as it runs through several tests that analyze different
                                aspects of a web page's performance: </p>
                            <ul class="wow fadeInUp mb--80">
                                <li> Site speed (including caching) </li>
                                <li> HTTPS/SSL support (secure communication over the web) </li>
                                <li> Accessibility characteristics for people with disabilities or alternative needs </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> PWA </h3>
                            <p class="wow fadeInUp mb--80"> When you hear PWA, you may think of a submarine sandwich. It is an acronym for Progressive Web Apps. Progressive Web Apps are a set of
                                technologies that allows you to create web apps that feel like native apps. They're helpful for creating responsive websites and adding offline capabilities and push
                                notifications to your website. </p>
                            <h2 class="wow fadeInUp"> Conclusion </h2>
                            <p class="wow fadeInUp mb--80"> After reading the above, you should understand how to use Lighthouse to test your website and identify areas for improvement. If you're
                                looking to improve your site's performance, Lighthouse can be used in conjunction with other tools or resources like Google's PageSpeed Insights or WebPageTest.io. The
                                tool is handy as part of an overall strategy for optimizing web pages—mainly those already well-optimized but needs additional work. It's also helpful when measuring
                                the accessibility of sites because it can provide recommendations on improving accessibility features like WAVE scores and adding alt text descriptions for images
                                (which will help search engines understand what's being described). The Lighthouse tool can quickly identify performance issues and improve your site. This is a great
                                way to get started with performance optimization. However, it's important to remember that many other tools are available for web developers who want more detailed data
                                on their sites' performance. </p>
                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/oct-2022/architectural-cheat-sheet"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="/blog/oct-2022/the-taliferro-group-story" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>