<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <header id="masthead" class="site-header">
        <nav id="site-navigation" class="navbar main-navigation nav-dark navbar-top">
            <div class="container-fluid container-nav nav-no-shadow">
                <div class="container">
                    <div class="menu-buttons">
                        <ul>
                            <li><a href="/#about" class="button button-simple" title="link">About</a></li>
                            <li><a href="/#contact" class="button button-full" title="link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Taliferro Group</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1>Oh how I've grown to hate passwords and 2-factor authentication</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content">
                                <h2> Introduction </h2>
                                <p> I've been involved in the cybersecurity industry for over 15 years. In that time, I have seen many changes in how we use passwords, two-factor authentication and
                                    security questions. The good news is that there has been a shift towards using more secure methods of authentication. The bad news is that we still haven't solved
                                    the problem of passwords being the weakest link in most security systems. </p>
                                <h3 class="text-capitalize"> What's wrong with passwords </h3>
                                <p> Passwords are not a secure way to authenticate. They're easy to guess, hard to remember and you have to keep up with them for every website you use. Passwords can
                                    be stolen in a variety of ways, including phishing attacks or simply copying them from your browser history when you leave your computer unattended. </p>
                                <p> Passwords are just too darned inconvenient! We need something better than passwords — but what? </p>
                                <h3 class="text-capitalize"> 2-factor authentication is a pain </h3>
                                <p> And it should be; it's meant to keep your information safe from hackers. You're probably familiar with the process: you enter your password, then you get a code
                                    texted to your phone that you have to enter in addition to the password in order for your account to be unlocked. That's two factors, hence "2-factor"
                                    authentication. It's an extra layer of protection so hackers can't get into your accounts without both pieces of information—your password and your phone
                                    number—which is great! But this additional security means more work for everyone else too: </p>
                                <p> Entering the code takes time and effort every time someone wants access (even if they're not trying very hard). This can be tedious during brief sessions at work or
                                    school when all we want is access fast so we can get back to what matters (like this article). </p>
                                <p> Getting the code on all our devices isn't always easy either because sometimes we don't even realize there are multiple devices until after someone has already
                                    stolen our identity and created new ones under their name instead of ours through some clever trickery involving social media profiles or email addresses that were
                                    switched before anyone noticed anything suspicious was happening at all. </p>
                                <h3 class="text-capitalize"> Security questions are (not) the solution </h3>
                                <p> We've all been there: you're at a new site, and they ask you to create a password. It's okay, though—they say they'll save it for you so that you don't have to
                                    remember it. Then, after entering your email address and setting up a secure password (hopefully), they say: "That's great! Now we just need to verify that this is
                                    really your account by asking some security questions." You're fine with this because hey—you probably know the answers anyway. The only problem is that these
                                    questions are actually not secure; in fact, if someone wanted access to your account enough, they could guess the answer from knowing just a few facts about you
                                    (e.g., the name of my favorite band or song). </p>
                                <p> Security questions were designed with good intentions: give users control over their accounts by keeping them safe with something other than passwords alone and
                                    make sure everyone has an equal chance at access through these verifications instead of requiring everyone use strong passwords themselves. But as we've seen above
                                    with our examples ("What city were you born in?"), there are several flaws within these measures' design which makes them much less effective than intended when it
                                    comes down to protecting user accounts from hackers and bots looking for easy targets. </p>
                                <h3 class="text-capitalize"> The future of authentication </h3>
                                <p> Passwordless authentication is an important part of the future of authentication. Passwordless authentication is more secure than traditional two-factor
                                    authentication because it’s based on a single factor: you. </p>
                                <p> 2FA has been around for years, and while it’s been helpful to protect your accounts, passwordless authentication offers something that 2FA can’t: convenience. If
                                    you use the same password across all your accounts, they are all vulnerable if that one account is compromised by hackers. Passwordless authentication removes this
                                    risk by using a token instead of a password alone and by tying it to your fingerprint or face scan instead of having to enter something static like characters into
                                    your device each time you want access to an account or service. </p>
                                <p> The future of security will be based on these kinds of technologies which are not only easier for users but also more secure than anything else currently available
                                    today! </p>
                                <h3 class="text-capitalize"> Passwordless authentication is the future. </h3>
                                <p> Passwordless authentication is the future. It's easy to use, saves you time and is more secure than traditional methods. </p>
                                <p> In fact, passwordless authentication is the future of authentication. It's easy for everyone involved—and it will save us all a lot of headaches in the long run.
                                </p>
                                <h3> Conclusion </h3>
                                <p> The bottom line is, we’re at a point in time where the need for secure authentication is more urgent than ever. With more and more of our personal data being stolen
                                    on a daily basis, using weak passwords that can be easily guessed or brute-forced is no longer an option. </p>
                                    <div class="row">
                                        <div class="col"><a href="/blog/is-your-website-just-a-business-expense-or-is-it-making-you-money"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a> </div>
                                        <div class="col text-end"><a href="/blog/we-are-not-a-social-media-marketing-company"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                                    </div>    
    
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div> <!-- #primary -->
    </div> <!-- #content -->
    <!-- Start Footer -->
    <app-footer></app-footer>
    <!-- End Footer -->
</div>