<div id="page" class="site">
    <div class="baseline-grid1"></div>
    <header id="masthead" class="site-header">
        <nav id="site-navigation" class="navbar main-navigation nav-dark navbar-top">
            <div class="container-fluid container-nav nav-no-shadow">
                <div class="container">
                    <div class="menu-buttons">
                        <ul>
                            <li><a href="/#about" class="button button-simple" title="link">About</a></li>
                            <li><a href="/#contact" class="button button-full" title="link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Taliferro Group</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid header-content-page header-content-white">
            <div class="header-img-page"></div>
            <div class="header-overlay-page"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 page-header-box">
                        <h1>Using a CRM to increase sales</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section class="container-fluid page-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 page-content">





                            </div>
                        </div> <!-- .row -->
                        </div> <!-- .container -->
                        </section>
                        </main>
                        </div> <!-- #primary -->
                        </div> <!-- #content -->
                        <!-- Start Footer -->
                        <app-footer></app-footer>
                        <!-- End Footer -->
                        </div>