<!--=====================================-->
<!--=        Testimonial Area Start     =-->
<!--=====================================-->
<section class="section section-padding" id="op-testimonial">
    <div class="container">
        <div class="section-heading heading-left">
            <span class="subtitle wow fadeInUp">Testimonials</span>
            <h2 class="title wow fadeInUp">Leadership Accolades</h2>
            <p class=" wow fadeInUp">Nothing but praise for our work.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 sal-animate wow fadeInUp">
                <div class="testimonial-grid active">
                    <p>"Ty developed proper architecture deliverables and pushed to have them all reviews by the team, such as security, caching strategy, implementation plan, technology plan, and
                        capability roadmap.”</p>
                    <div class="author-info">
                        <div class="content">
                            <span class="name">Kevin Stride</span>
                            <span class="designation">Manager EY Cyber Security</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sal-animate wow fadeInUp">
                <div class="testimonial-grid">
                    <p>"Ty authored the bulk of AT&T’s Guidelines for RESTful API Design. This document is an extremely useful compendium of best practices that we have used to drive consistency
                        across APIs."</p>
                    <div class="author-info">
                        <div class="content">
                            <span class="name">Ed Lambert</span>
                            <span class="designation">Director AT&T</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sal-animate wow fadeInUp">
                <div class="testimonial-grid">
                    <p>"Ty is extremely responsive, provided clear guidance and helped navigate the process of enabling cross company access...it was nice to have a real contact to work with"</p>
                    <div class="author-info">
                        <div class="content">
                            <span class="name">Corey Kallison</span>
                            <span class="designation">Manager Takeda</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-4 list-unstyled">
        <li class="shape-1"><img src="assets/media/others/bubble-1.png" alt="Taliferro - Testimonial"></li>
    </ul>
</section>