<a href="#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-banner-area2  [header]="'Website Optimization'" [description]="'You could be falling behind in accessibility best practices, or your social media marketing isn’t doing the job of reaching prospective customers or driving conversions for your business.'" [image]="'assets/images/website-optimization.png'"></app-banner-area2>
    <app-design-process-area
    [subtitle]="'Metrics, Metrics, Metrics'"
    [header]="'Performance is Key'"
    [description]="'Your marketing strategy might not be working as well as it should. If you are getting tons of traffic to your website or blog, but still looking at poor quality business, then you need some help.'"
    [image1]="'/assets/images/website-optimization1.png'"
    [subtitle1]="'Low Results'"
    [title1]="'Lots of Traffic'"
    [description1]="'There is a lot more to marketing than just driving traffic to a landing page and hoping for the best. You must know how to convert website traffic into business and be able to track it all with proper metrics. How can you improve if you don\'t know where you stand?'"
    [image2]="'/assets/images/website-optimization2.png'"
    [subtitle2]="'Quality Counts'"
    [title2]="'Conversion'"
    [description2]="'You should know what percentage of website visitors become customers after visiting one or more pages on your site. This metric helps determine whether or not content on your website is actually working in generating leads and sales for your business.'"
    [image3]="'/assets/images/website-optimization3.png'"
    [subtitle3]="'Turning Visitors into customers'"
    [title3]="'Customer satisfaction'"
    [description3]="' You should know what percentage of website visitors become customers after visiting one or more pages on your site. This metric helps determine whether or not content on your website is actually working in generating leads and sales for your business.'"
    [image4]="'/assets/images/website-optimization4.png'"
    [subtitle4]="'often overlooked'"
    [title4]="'Mobility and Security'"
    [description4]="'If your website isn\'t mobile-friendly, your audience may be shrinking. You must ensure that your website is optimized for search engines, has a responsive design, and loads fast.'"
    ></app-design-process-area>
    <app-about-us-area
    [header]="'Optimization'"
    [subtitle]="'professional services'"
    [description]="'We know it\'s not easy to find a web development company in your city, but we are here to help you with our services. Contact us now, and let us show how much better we can do than others! We are the best in the business and will ensure that your website is up-to-date with all the latest trends.'"
    [title1]="'Expertise'"
    [description1]="'Our experts help you with everything from performance, accessibility, and best practices to social media marketing.'"
    [title2]="'Contemporary'"
    [description2]="'We ensure that your website is up-to-date with all the latest trends.'"
    [title3]="'Competition'"
    [description3]="'The competition in your industry is fiercer than ever before, and you can\'t afford to give up anything less than the best for your business.'"
    [formTitle]="'Start Optimizing'"
    ></app-about-us-area>
    <app-benefit-area></app-benefit-area>
    <app-call-to-action></app-call-to-action>
    <app-footer-area></app-footer-area>
</div>