<a href="#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'Be careful of adding widgets to your Shopify store - they could slow your site down and cost you sales'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/blog/be-careful-of-adding-widgets-to-your-shopify-store.webp"
                                    alt="Be careful of adding widgets to your Shopify store">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Oct 21, 2022</li>
                                    </ul>
                                </div>
                            </div>
                            <h2 class="wow fadeInUp">Introduction</h2>
                            <p class="wow fadeInUp"> You run a Shopify store and decide to use one of those third-party widgets to add some functionality to your store. You know customers are less
                                likely to buy from sites with slow response times. For example, on Amazon, a page load slowdown of just one second measured across their website could cost them $1.6
                                billion in sales each year. Poorly designed third-party apps can slow down even industry-leading Shopify themes. I want to share with you examples of how a simple
                                widget can seriously slow your site down. </p>
                            <p class="wow fadeInUp"> In this case, we're going to look at Google Analytics. Once the widget is installed, you will see that it adds some excellent information about
                                visitors on your homepage. This looks great, right?  But how did this impact your site's performance? Is it slowing down other parts of your site because they're
                            loading slower due to all the extra code associated with that widget? </p>
                            <p class="wow fadeInUp"> You know customers are less likely to buy from sites with slow response
                                times. It's a fact and not just a theory. Sites with fast load times outperform their slower counterparts regarding customer engagement, conversions, and brand
                                perception. </p>
                            <p class="wow fadeInUp"> The problem is that many Shopify stores are adding third-party apps or widgets without understanding what impact they will have on their site's
                                performance, including: </p>
                            <ul class="wow fadeInUp">
                                <li> Whether or not the app or widget uses a content delivery network (CDN) </li>
                                <li> The number of requests made by each app/widget to get its data from your store </li>
                                <li> How much JavaScript was loaded by each page </li>
                            </ul>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> To illustrate the potential impact that a page load slowdown can have, let's look at Amazon.com </h3>
                            <p class="wow fadeInUp"> According to a recent study, Amazon is estimated to lose $1.6 billion in sales each year due to slow page load times on its website. That's more
                                than enough money to buy every employee at their headquarters a brand-new car. </p>
                            <p class="wow fadeInUp"> Now imagine how much this could affect you if your store were affected by similar issues. </p>
                            <p class="wow fadeInUp"> Poorly designed third-party apps can slow down even industry-leading Shopify themes. </p>
                            <p class="wow fadeInUp"> A widget is a third-party app that you add to your Shopify store. </p>
                            <h3 class="title mb--30 text-capitalize wow fadeInUp"> Widgets can slow down your site and cost you sales </h3>
                            <p class="wow fadeInUp"> You can find out if a widget is slowing down your site by doing a speed check on Google PageSpeed Insights or WebPageTest.net. </p>
                            <p class="wow fadeInUp"> If you want to see how adding a new widget will affect your store's speed, try reading their documentation and downloading the demo version of the
                                app before installing it on your shop. </p>
                            <p class="wow fadeInUp"> There are a lot of Shopify themes out there, and each one will have its own set of widgets. If your theme has any widgets that aren't optimized for
                                speed, then you need to remove them. </p>
                            <p class="wow fadeInUp"> It may seem like an easy solution, but it's worth considering the impact on your bottom line and the risk you're taking with customer perception
                                before making that decision. </p>
                            <p class="wow fadeInUp"> You may have heard that widgets are a great way to boost your sales by displaying relevant products and information on your site. But it can be a
                                risky proposition. For example, you might be tempted to add a widget from one of the big e-commerce platforms - Amazon, eBay or Walmart - to display products from these
                                sites directly within your store. However, this could slow down your website drastically and cause customers to abandon their shopping cart during checkout. This type
                                of thing has been known to happen with other types of widgets too: Google Analytics, Facebook Live Chat; Pinterest Shop Now; "Related Products" boxes; live chat plugins
                                (like Olark); etc.</p>
                            <p class="wow fadeInUp"> We've seen that if people start having problems with a page loading too slowly, they'll bounce back out of the browser window pretty quickly
                                without even giving you another chance at getting them interested in what else is available in your store! So think carefully when considering adding new functionality
                                or functionality that could affect speed and perception of quality/trustworthiness before adding anything new because there's no point spending more money than
                                necessary just for some extra clicks (which probably wouldn't convert anyway). </p>
                            <p class="wow fadeInUp"> Before adding a widget to your store, it's essential to know what impact it will have on site performance. If you're using Shopify Plus, you can
                                use the built-in performance test tool with the hosting platform. </p>
                            <p class="wow fadeInUp"> You can also use an external tool like GTMetrix and WebPageTest to get an idea of how your site will perform once the widget is added. </p>
                            <h2> Conclusion </h2>
                            <p class="wow fadeInUp"> I hope you found this article helpful. If you have any questions or comments about what we've covered today, please feel free to contact me. Thanks
                                for reading and happy selling :) </p>
                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/oct-2022/api-policies"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="#" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i> </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>