<!--=====================================-->
<!--=        Counter Up Area Start      =-->
<!--=====================================-->
<section class="section section-padding bg-color-dark" id="op-experience">
    <div class="container">
        <div class="section-heading heading-light">
            <span class="subtitle wow fadeInUp">About</span>
            <h2 class="title wow fadeInUp">Taliferro Group</h2>
            <p class="wow fadeInUp">We're an experienced team of innovators, project leaders, and business developers. We've done it before. In the venture business, software creation, manufacturing
                and consulting with established international partners on numerous projects in various industries — from (finance) tech and industrial engineering to healthcare. We help our clients
                achieve high performance in the digital economy through high-quality innovative solutions that boost their productivity, efficiency and competitiveness </p>
            <p class="wow fadeInUp"> Our products engage your team, saves you time and improves financial performance. Taliferro Group is at the forefront of data-aware technology with an eye on the
                future. We believe in providing executives and their team first class software without the box and without hefty pricing. Our customers range from smaller organizations to some of the
                largest companies in the world.</p>
        </div>
    </div>
    <ul class="list-unstyled shape-group-10">
        <!-- <li class="shape shape-1"><img src="assets/media/others/line-9.webp" alt="Circle"></li> -->
        <li class="shape shape-2"><img src="assets/media/others/bubble-42.png" alt="Taliferro Group - circle"></li>
        <li class="shape shape-3"><img src="assets/media/others/bubble-43.png" alt="Taliferro Group - circle"></li>
    </ul>
</section>