<section class="section section-padding bg-color-light" id="op-service">
    <div class="container">
        <div class="section-heading heading-left">
            <span class="subtitle">What We Can Do For You</span>
            <h2 class="title">IT Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Design</h5>
                        <p>API, Data and Application design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title"> Development</h5>
                        <p>Application, Mobile and Website development</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Marketing</h5>
                        <p>SEO, PPC, Content Marketing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-graduation-cap  fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Agile Coaching</h5>
                        <p>Scrum, DevOps, CI/CD </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-sliders fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Optimization</h5>
                        <p>Website, Application, Data</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-sitemap fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Architecture</h5>
                        <p>Cloud, Enterprise, Security</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>