<section class="section section-padding bg-color-light" id="op-service">
    <div class="container">
        <div class="section-heading heading-left">
            <span class="subtitle wow fadeInUp">What We Can Do For You</span>

            <h2 class="title wow fadeInUp">Challenges You're Facing</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Scaling</h5>
                        <p>Action plans for increasing efficiency and reducing costs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title"> Digital Transformation</h5>
                        <p>Help make the most of your digital potential</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Cybersecurity Issues</h5>
                        <p>Data breach prevention and other attacks on your network</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-graduation-cap  fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Lack of Resources or Expertise</h5>
                        <p>Experts ready to train your staff and provide you with the resources you need. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-sliders fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Performance</h5>
                        <p>We're here to help you improve website and system performance.

                            </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <i class="fa fa-sitemap fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                        <h5 class="title">Cloud Management</h5>
                        <p>SWe help you manage multiple clouds and make sure they are fully functional and secure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>