<a href="#main-wrapper" id="backto-top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'Don\'t let your web store turn into a desert'"></app-bread-crumb-light>
    <section class="section-padding privacy-policy-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid" src="/assets/images/blog/desert.png" alt="Don't let your web store turn into a desert">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail" src="assets/media/blog/author-1.png" alt="Tyrone Showers">
                                </div>
                                <div class="info"> 
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>Aug 30, 2022</li>
                                    </ul>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>