<div id="page" class="site">
    <!-- Start Header -->
    <header id="masthead" class="site-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/taliferro-group-logo.png" alt="" width="48" height="48" class="d-inline-block align-text-top"> Taliferro Group </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                    </ul>
                    <span class="navbar-text"> 425.305.3748 </span>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
        <div class="container-fluid header-content-5 header-content-white">
            <div class="header-image-block">
                <div class="header-bg-overlay"></div>
                <div class="header-bg-image"></div>
            </div>
            <div class="container header-container header-5">
                <div class="row">
                    <div class="title-centered-content">
                        <div class="col-md-6 header-text">
                            <h1 class=" wow fadeIn">Harmonic SaaS</h1>
                            <div class="title-desc">
                                <p class=" wow fadeIn">Achieving overall business objectives using business software, such as retaining customers, requires a seamless flow of information between all
                                    business functions. To execute complex processes efficiently requires the exchange of information quickly and easily between applications. </p>
                                <P class=" wow fadeIn">We understand this paradigm and strive for its perfection. Whether advising clients or producing push-instead-of-pull products our mission is the
                                    useful flow of information to help you make decisions.</P>
                            </div>
                            <ul class="header-nav-buttons">
                                <li><a href="#products" class="button button-full wow fadeIn" title="Products">Products</a></li>
                                <li><a href="#services" class="button button-border wow fadeIn" title="Services">Services</a></li>
                            </ul>
                        </div> <!-- .header-text -->
                    </div> <!-- .title-centered-content -->
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .container-fluid -->
    </header>
    <!-- End Header -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <section id="about---2" class="container-fluid section-block about-2 ">
                    <a name="products"></a>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-7 col-xs-12">
                                <div class="about-features">
                                    <!-- Feature block 1 -->
                                    <div class="feature-box feature-box-primary wow slideInUp">
                                        <a href="https://passwordless.taliferro.com">
                                            <i class="icon-lock" style="color: white"></i> <!-- icon -->
                                            <p>Passwordless Sign In Authentication</p>
                                        </a>
                                    </div>
                                    <!-- Feature block 2 -->
                                    <div class="feature-box feature-box-second wow  slideInUp">
                                        <a href="https://crm.taliferro.com">
                                            <span class="badge badge-second">beta</span>
                                            <i class="icon-people" style="color: white"></i> <!-- icon -->
                                            <p>Customer Relationship Management</p>
                                        </a>
                                    </div>
                                    <!-- Feature block 3 -->
                                    <div class="feature-box feature-box-primary wow  slideInUp">
                                        <a href="https://e-commerce.taliferro.com">
                                            <span class="badge badge-primary">enterprise</span>
                                            <i class="icon-credit-card" style="color: white"></i> <!-- icon -->
                                            <p>e-Commerce Platform Backoffice</p>
                                        </a>
                                    </div>
                                    <!-- Feature block 4 -->
                                    <div class="feature-box feature-box-primary wow  slideInUp">
                                        <a href="#">
                                            <span class="badge badge-second">alpha</span>
                                            <i class="icon-bell" style="color: white"></i> <!-- icon -->
                                            <p>Project Messaging</p>
                                        </a>
                                    </div>
                                    <!-- Feature block 5 -->
                                    <div class="feature-box feature-box-primary wow slideInUp">
                                        <a href="#">
                                            <span class="badge badge-second">alpha</span>
                                            <i class="icon-note" style="color: white"></i> <!-- icon -->
                                            <p>Task Collaboration</p>
                                        </a>
                                    </div>
                                    <!-- Feature block 6 -->
                                    <div class="feature-box feature-box-primary wow slideInUp">
                                        <a href="#">
                                            <span class="badge badge-primary">enterprise</span>
                                            <i class="icon-chemistry" style="color: white"></i> <!-- icon -->
                                            <p>Laboratory Info System</p>
                                        </a>
                                    </div>
                                </div> <!-- .about-features -->
                            </div>
                            <div class="col-md-6 col-sm-5 col-xs-12 about-text">
                                <h2 class="wow slideInRight">Products <span class="badge badge-second">beta access</span></h2>
                                <p class="wow fadeInUp">High quality and complete information results in more effective decisions and actions. A system that is built from the ground up with each
                                    function's singular purpose to integrate, can profoundly affect the way business gets done.</p>
                                <a href="https://dev.16ahead.com/" class="button button-full wow fadeInUp" title="More Products Under Development">More Products Under Development</a>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <!-- Start About Block 3 -->
                <section id="about---3" class="container-fluid color-block about-3">
                    <div class="container">
                        <div class="row">
                            <!-- Text block -->
                            <div class="col-md-6 col-sm-5 col-xs-12 about-text">
                                <h2 class="wow fadeInUp">Losing customers?</h2>
                                <p class="wow fadeInUp">Can’t get repeat business? Managing your customers should not be an after thought. Put your customers front and center with our Customer
                                    Relationship Manager (with the emphasis on "Relationship"). Our software helps you build upon those relationships, by telling you who to contact and why? You're
                                    busy, and you don't have the time searching through your contacts trying to figure out who to contact - tell you. </p>
                                <a href="https://crm.taliferro.com" class="button button-full wow fadeInUp" title="button">Read More</a>
                            </div>
                            <!-- Image block -->
                            <div class="col-md-6 col-sm-7 col-xs-12">
                                <div class="about-image-block">
                                    <div class="about-image">
                                        <img src="assets/images/customer-relationship-management.png" alt="Customer-Relationship Management" class="wow fadeInUp">
                                        <!-- Feature block -->
                                        <div class="feature-box feature-box-second feature-image wow fadeInUp">
                                            <span class="badge badge-primary">beta</span>
                                            <i class="icon-user" style="color: white"></i>
                                            <p>Contact Suggestion</p>
                                        </div>
                                    </div> <!-- .about-image -->
                                </div> <!-- .about-features -->
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <!-- End About Block 3 -->
                <!-- Start About Block 6 -->
                <section id="about---6" class="container-fluid section-block about-6">
                    <div class="container">
                        <div class="row">
                            <!-- Image block -->
                            <div class="col-md-6 col-sm-7 col-xs-12">
                                <div class="about-image-block">
                                    <div class="about-image">
                                        <img src="assets/images/lis3.png" alt="Laboratory Information System Screenshot" class="wow fadeInUp">
                                        <div class="ui">
                                            <img src="assets/images/lis1.png" data-aos="fade-up" alt="Laboratory Information System Screenshot" class="wow fadeInUp">
                                        </div>
                                    </div> <!-- .about-image -->
                                </div> <!-- .about-features -->
                            </div>
                            <!-- Text block -->
                            <div class="col-md-6 col-sm-5 col-xs-12 about-text">
                                <h2 class="wow fadeInUp">Laboratory Information System</h2>
                                <p class="wow fadeInUp">A complete solution end-to-end solution for your Laboratory. Runs in the cloud and is completely secure. Works extremely well with our Customer
                                    Relationship product.</p>
                                <ul>
                                    <li class="wow fadeInUp">User-friendly Interface</li>
                                    <li class="wow fadeInUp">Cloud based</li>
                                    <li class="wow fadeInUp">HIPPA Compliant</li>
                                </ul>
                                <a href="https://calendly.com/ty-showers" class="button button-full wow fadeInUp" title="button">Schedule a Demo</a>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <!-- End About Block 6 -->
                <a name="integration"></a>
                <section id="integration---1" class="container-fluid color-block integration">
                    <div class="container">
                        <div class="row">
                            <h2 class=" wow fadeInUp">Integration</h2>
                            <div class="block-desc wow fadeInUp">
                                <p>Achieving any overall business objective, such as retaining customers, requires a seamless flow of information between all business functions. Integration can
                                    dissolve barriers to communication, reveal opportunities for revenue growth, and help remove expenses.</p>
                            </div>
                            <!-- Block 1 -->
                            <div class="col-md-6 col-sm-3 integration-block wow fadeInUp">
                                <div class="border-box">
                                    <div class="integration-img">
                                        <i class="fa fa-apple fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="integration-text">
                                        <h3>Apple</h3>
                                        <p><small>Authentication</small> </p>
                                        <div class="integration-link">
                                            <a href="http://www.apple.com" title="link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- .integration-block -->
                            <!-- Block 2 -->
                            <div class="col-md-6 col-sm-3 integration-block wow fadeInUp">
                                <div class="border-box">
                                    <div class="integration-img">
                                        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="integration-text">
                                        <h3>Shopify</h3>
                                        <p><small>e-Commerce</small></p>
                                        <div class="integration-link">
                                            <a href="https://www.shopify.com" title="link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- .integration-block -->
                            <!-- Block 3 -->
                            <div class="col-md-6 col-sm-3 integration-block wow fadeInUp">
                                <div class="border-box">
                                    <div class="integration-img">
                                        <i class="fa fa-cc-stripe fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="integration-text">
                                        <h3>Stripe</h3>
                                        <p><small>Payments</small></p>
                                        <div class="integration-link">
                                            <a href="https://www.stripe.com" title="link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- .integration-block -->
                            <!-- Block 4 -->
                            <div class="col-md-6 col-sm-3 integration-block wow fadeInUp">
                                <div class="border-box">
                                    <div class="integration-img">
                                        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="integration-text">
                                        <h3>Facebook</h3>
                                        <p><small>Leads</small></p>
                                        <div class="integration-link">
                                            <a href="https://www.facebook.com" title="link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- .integration-block -->
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <section id="cta---1" class="container-fluid section-block cta bg-primary-color">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 cta-block cta-content-1 cta-button">
                                <h2 class=" wow fadeInUp">Try it Out</h2>
                                <p class=" wow fadeInUp">Contact us to arrange a product demonstration. The best move you'll ever make.</p>
                                <a href="tel:425.305.3748" class="button button-full wow fadeInUp">Request a Demo</a>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <a name="process"></a>
                <section id="how-to-use---2" class="container-fluid section-block how-to-use-2 color-block">
                    <div class="container">
                        <div class="row">
                            <h2 class="wow fadeInUp">Moving From Pieces to Processes</h2>
                            <div class="block-desc wow fadeInUp">
                                <p>The ongoing challenge of operating more efficiently and doing more with less is forcing companies and organizations to streamline and improve their business
                                    processes. But these improvements require investments - investments that must yield reduced costs and improved responsiveness quickly and with minimal risk.</p>
                            </div>
                            <div class="col-md-4 how-to-block-2 wow fadeInUp">
                                <span class="number">1</span>
                                <h3>Vision</h3>
                                <p>We provide you with a key software elements that have been left out of most solutions - a clear road map for business process improvement. </p>
                            </div>
                            <div class="col-md-4 how-to-block-2 wow fadeInUp">
                                <span class="number">2</span>
                                <h3>Intrinsic</h3>
                                <p>Configurable business processes, inherent in our solutions, are based on the flow of information through natural linkages of business activities.</p>
                            </div>
                            <div class="col-md-4 how-to-block-2 wow fadeInUp">
                                <span class="number">3</span>
                                <h3>Fluidity</h3>
                                <p>The concept of fluidity, or being able to make what you want out of the product is something we think further differentiates us.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <a name="services"></a>
                <section id="features---2" class="container-fluid section-block features">
                    <div class="container">
                        <div class="row">
                            <h2 class=" wow fadeInUp">Services</h2>
                            <div class="block-desc wow fadeInUp">
                                <p>Let's align your organization's goals with a long term strategy that is effective across multiple devices and platforms and takes into account governance, risk, and
                                    security factors.</p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-rocket"></i>
                                <h3>API Design</h3>
                                <p>Experts in counseling and guidance on proper API development for higher developer adoption.</p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-diamond"></i>
                                <h3>SPA Development</h3>
                                <p>No stress over requirements changing, we are adamant about applying agile methodologies to keep costs down.</p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-refresh"></i>
                                <h3>Architecture</h3>
                                <p>We have architected hundreds of successful systems for dozens of companies.</p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-refresh"></i>
                                <h3>Security</h3>
                                <p>Software security analysis, recommendations and implementation. Network penetration testing and analysis.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="features---2a" class="container-fluid section-block features">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-pencil"></i>
                                <h3>Technical Writing</h3>
                                <p></p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-people"></i>
                                <h3>Scrum</h3>
                                <p></p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-direction"></i>
                                <h3>Social Media Marketing</h3>
                                <p></p>
                            </div>
                            <div class="col-md-3 feature feature-center feature-second-color feature-border wow fadeInUp">
                                <i class="icon-refresh"></i>
                                <h3>Website Design</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="reviews---3" class="container-fluid section-block reviews reviews-3 color-block">
                    <div class="container">
                        <div class="row">
                            <h2 class=" wow fadeInUp">Reviews</h2>
                            <div class="block-desc wow fadeInUp">
                                <p><i> “Ty is an expert in REST, having studied the area extensively and having analyzed and evaluated hundreds of REST implementations. He has evaluated both
                                        externally developed RESTful APIs and AT&T developed APIs. These implementations run the gamut of what is considered REST. Ty will bring an interesting
                                        perspective to the discipline because his work has been in a large company rather than academia.”</i> Amy Zwarico of the Chief Security Office AT&T</p>
                            </div>
                            <!-- Review 1 -->
                            <div class="col-md-6 review wow fadeInUp">
                                <div class="border-box">
                                    <div class="avatar">
                                        <img src="assets/images/avatar.png" alt="avatar">
                                    </div>
                                    <!-- Rating -->
                                    <span class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <div class="review-text">
                                        <p>Ty developed proper architecture deliverables and pushed to have them all reviews by the team, such as security, caching strategy, implementation plan,
                                            technology plan, and capability roadmap. For example: Ty took the lead in partnering with the Azure team to ensure the application followed proper design
                                            principles. Ty also partnered witth the securitty organizaiton to ensure that proper application security processes, and most importantly Ty took the lead
                                            to partner with EDP Pipeline to develop the first pipeline utilizing Azure. </p>
                                    </div> <!-- .review-text -->
                                    <h3>Kevin Stride</h3>
                                    <p>Manager | EY Cyber Security</p>
                                </div>
                            </div> <!-- .review -->
                            <!-- Review 2 -->
                            <div class="col-md-6 review wow fadeInUp">
                                <div class="border-box">
                                    <div class="avatar">
                                        <img src="assets/images/avatar.png" alt="avatar">
                                    </div>
                                    <!-- Rating -->
                                    <span class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <div class="review-text">
                                        <p> ... Ty authored the bulk of AT&T's Guidelines for RESTful API Design. This document is an extremely useful compendium of best practices that we have used to
                                            drive consistency across APIs. The AT&T model has been to allow multiple diverse teams to create APIs that provide access to their technical services. In
                                            this model, it is critical that there be some standards that enable these teams to create APIs that can be easily consumed. This common approach allows
                                            developers consuming these APIs to understand and use these diverse services quickly and easily. ... </p>
                                    </div> <!-- .review-text -->
                                    <h3>Ed Lambert</h3>
                                    <p>Director | AT&T Technology Development</p>
                                </div>
                            </div> <!-- .review -->
                            <!-- Review 3 -->
                            <div class="col-md-6 review wow fadeInUp">
                                <div class="border-box">
                                    <div class="avatar">
                                        <img src="assets/images/avatar.png" alt="avatar">
                                    </div>
                                    <!-- Rating -->
                                    <span class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <div class="review-text">
                                        <p> I wanted to give Ty a shout-out because he’s been a rock star and delivering quality work despite dealing with resource constraints, scope changes, project
                                            delays, product team prioritization changes, etc. </p>
                                    </div> <!-- .review-text -->
                                    <h3>Joe Thompson,</h3>
                                    <p>Sr. Technology Solutions Manager | AT&T Managed Security Services </p>
                                </div>
                            </div> <!-- .review -->
                            <!-- Review 4 -->
                            <div class="col-md-6 review wow fadeInUp">
                                <div class="border-box">
                                    <div class="avatar">
                                        <img src="assets/images/avatar.png" alt="avatar">
                                    </div>
                                    <!-- Rating -->
                                    <span class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <div class="review-text">
                                        <p> ... He followed all standards and formats to provide detailed explanations of his proposed implementation, which, upon review with Azure, was the exact
                                            solution they would have created for us. Ty’s wealth of knowledge and dedication to providing sound, scalable architecture would best be leveraged within an
                                            organization where management does not think of themselves as architects. </p>
                                    </div> <!-- .review-text -->
                                    <h3>Summer Anderson</h3>
                                    <p>DSO | T-Mobile Platform Assurance</p>
                                </div>
                            </div> <!-- .review -->
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <a name="faq"></a>
                <section id="faq---2" class="container-fluid section-block faq">
                    <div class="container">
                        <div class="row">
                            <h2 class=" wow fadeInUp">FAQ</h2>
                            <div class="block-desc wow fadeInUp">
                                <p>Below are some commonly asked questions about Taliferro and the services we offer. If further assistance is required, please reach out by filling out the contact
                                    form or calling the phone number below.</p>
                            </div>
                            <div class="col-md-12 wow fadeInUp">
                                <div id="accordion" class="panel-group faq-group" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> WHAT IS YOUR
                                                    TYPICAL CLIENT SIZE? </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p> Our work spans Fortune 500 companies to start-ups across 4 continents. </p>
                                            </div>
                                        </div>
                                    </div> <!-- .panel-default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo"> CAN YOU HELP WITH CLOUD INITIATIVES? </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p> Any company trying to navigate cloud technology and business processes in today’s challenging global environment will benefit from his knowledge and
                                                    expertise in software architecture. Tyrone holds a bachelor of science in computer science. </p>
                                            </div>
                                        </div>
                                    </div> <!-- .panel-default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree"> WHAT IS A SPA APPLICATION? </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p> SPA stands for Single Page Application. A SPA is a web application that runs in a browser where a single page or URL acts like an entire website.
                                                    Pages load fast and usually require no trips back to a server to request the load of a new page. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Start Download 1 -->
                <a name="about"></a>
                <section id="download---1" class="container-fluid section-block download-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 download-img wow fadeInUp">
                                <img src="assets/images/taliferro-group-logo.png" alt="Taliferro Group">
                            </div>
                            <div class="col-md-6 col-xs-12 download-text">
                                <h2 class=" wow fadeInUp">About Taliferro Group</h2>
                                <p class=" wow fadeInUp">We offer our expertise as a service and provide SaaS products. Our intention is to create software that is data-aware. We want to create a
                                    software products that disappears into the experience. Developing software that performs several business processes together defines a whole new integration —
                                    making the boundary between software and business process hard to discern. The machine learning engine is engineered to ascertain the way you work. Separate
                                    applications give way to fluidity and transparency. No multiple logins. A single entry point takes you to real-time views of various business aspects. Making
                                    processes and data more liquid.</p>
                                <a class="button button-full wow fadeInUp" href="https://calendly.com/ty-showers" target="_blank">Schedule a FREE Consultation!</a>
                            </div>
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
                <!-- End Download 1 -->
                <section id="contact-us---1" class="container-fluid section-block contact-form-section">
                    <div class="form-bg"></div> <!-- Background image -->
                    <div class="overlay"></div> <!-- Overlay -->
                    <div class="container">
                        <div class="row">
                            <!-- Start Contact Form -->
                            <div *ngIf="message">
                                <div class="alert alert-success text-center" role="alert"> {{message}} </div>
                            </div>
                            <div class="col-md-6 center-form border-box wow fadeIn" *ngIf="!message">
                                <form #dataForm="ngForm" (ngSubmit)="onSubmit();dataForm.reset();" class="contact-form">
                                    <div class="col-md-12">
                                        <h2 class=" wow fadeInUp">Contact Us</h2>
                                    </div>
                                    <div class="col-md-6 wow fadeInUp">
                                        <input [(ngModel)]="contact.companyName" id="companyName" class="form-control" type="text" name="companyName" autocomplete="off" placeholder="Company Name"
                                            required>
                                    </div>
                                    <div class="col-md-6 wow fadeInUp">
                                        <input [(ngModel)]="contact.firstName" id="firstName" class="form-control" type="text" name="firstName" autocomplete="off" placeholder="First Name" required>
                                    </div>
                                    <div class="col-md-6 wow fadeInUp">
                                        <input [(ngModel)]="contact.lastName" id="lastName" class="form-control" type="text" name="lastName" autocomplete="off" placeholder="Last Name" required>
                                    </div>
                                    <div class="col-md-12 wow fadeInUp">
                                        <input [(ngModel)]="email.emailAddress" type="email" id="emailAddress" class="form-control" name="emailAddress" autocomplete="off" placeholder="Email Address"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                    </div>
                                    <div class="col-md-12 wow fadeInUp">
                                        <input [(ngModel)]="contact.website" type="text" id="website" class="form-control" name="website" autocomplete="off" placeholder="Website Address" required>
                                    </div>
                                    <div class="col-md-12 wow fadeInUp">
                                        <select [(ngModel)]="contact.requestType" name="requestType" id="requestType" class="form-control" required>
                                            <option selected>Choose</option>
                                            <option value="API Design">API Design</option>
                                            <option value="APIGEE">APIGEE</option>
                                            <option value="Architecture">Architecture</option>
                                            <option value="CI/CD">CI/CD</option>
                                            <option value="Social Media Marketing">Social Media Marketing</option>
                                            <option value="Security">Security</option>
                                            <option value="Scrum">Scrum</option>
                                            <option value="Software Development">Software Development</option>
                                            <option value="Technical Writing">Technical Writing</option>
                                            <option value="Website Design">Website Design</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 wow fadeInUp">
                                        <textarea [(ngModel)]="note.text" id="message" class="form-control" name="message" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="col-md-12 form-text">
                                        <re-captcha (resolved)="resolved($event)" siteKey="6LcxPI8hAAAAADx9HjHU-dhIeIYp69oTdxms5esv"></re-captcha>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 form-btn-submit" [hidden]="!captcha">
                                        <input id="contact-button" class="button button-full contact-submit" name="contact-submit" value="Send Message" type="submit" [disabled]="!dataForm.form.valid">
                                    </div>
                                    <div class="col-md-12 form-text wow fadeInUp">
                                        <br>Taliferro Group | 1424 11th Ave STE 400 | Seattle, WA 98122
                                    </div>
                                </form>
                            </div>
                            <!-- End Contact Form -->
                        </div> <!-- .row -->
                    </div> <!-- .container -->
                </section>
            </main>
        </div>
    </div>
    <footer id="colophon" class="container-fluid site-footer footer-color">
        <div class="container footer-container site-top-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 bottom-footer">
                    <div class="col-md-12 col-sm-12 copy-text">
                        <p class="text-center">© Copyright Taliferro. Taliferro ® Is Registered In The U.S. Patent And Trademark Office. 425.305.3748. | <a routerLink="/privacy-policy"
                                style="color:aliceblue">Privacy Policy</a> | <a routerLink="/terms-of-service" style="color:aliceblue">Terms of Service</a> | <a routerLink="/refund-policy"
                                style="color:aliceblue">Refund Policy</a>. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>