<div id="page" class="site">
	<!-- Start Header -->
	<!-- End Header -->
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
				<!-- Start About Block 6 -->
				<section id="about---6" class="container-fluid section-block about-6">
					<div class="container">
						<div class="row">
							<!-- Image block -->
							<div class="col-md-6 col-sm-7 col-xs-12">
								<div class="about-image-block">
									<div class="about-image wow slideInLeft">
										<img src="/assets/images/team-slider2.jpg" alt="image">
									</div> <!-- .about-image -->
								</div> <!-- .about-features -->
							</div>
							<!-- Text block -->
							<div class="col-md-6 col-sm-5 col-xs-12 about-text">
								<h2 class="wow fadeIn">Booker Tyrone Showers</h2>
								<p class="wow fadeIn">I am an award-winning technologist who demonstrates and offers extensive experience in competitive technology, telecommunications, and wireless services industries,
									a strong commitment to education and training that includes a Bachelor's Degree in Computer Science, and a proven history of leadership excellence while driving
									diverse engineering teams to identify and develop high quality technical solutions that achieve aggressive business goals and maximize client satisfaction. I
									leverage over 30 years of Engineering and Executive IT leadership experience to fully address the evolving needs of business through innovative technology
									solutions. </p>
								<p class="wow fadeIn">As a top-performing IT leader who has built a reputation for success in aligning IT strategies and engineering solutions that drive client success, I have been
									recognized for significant accomplishments as a technology leader including the development of revenue-boosting smart marketing applications, creation of the
									innovative WebwareLIVE SaaS solution, and the founding of Expedia.com. I also possess an unparalleled level of analytical acumen, am adept at identifying unique
									client technology requirements, and display a track record of successfully managing large business-focused implementation, integration, acquisition, and migration
									projects. </p>
								<p  class="wow fadeIn">Also, with my hands-on approach to leadership and strong interpersonal skills, I am passionate about promoting a successful growth-focused team culture and building
									strong relationships with peers, key clients, and major industry stakeholders. This, along with my high proficiency in all major computer and network technologies,
									SaaS engineering, the software development life cycle, and countless applications, makes me a highly valuable and extremely effective executive leader for any
									business or organization. </p>
								<a class="button button-full wow fadeIn" href="https://calendly.com/ty-showers" target="_blank">Need help? Let's talk.</a>
								<p>&nbsp;</p>
								<p>
									<a href="/assets/files/booker-tyrone-showers-resume.pdf" alt="Booker Tyrone Showers Resume">
										<i class="fa fa-file-pdf-o fa-3x wow fadeInUp" aria-hidden="true"></i></a>
									<a href="https://github.com/tshowers"> <i class="fa fa-github-alt  fa-3x wow fadeInUp" aria-hidden="true"></i></a> 
									<a href="https://twitter.com/tyrone_showers/"><i class="fa fa-twitter fa-3x wow fadeInUp" aria-hidden="true"></i></a>
									<a href="https://www.linkedin.com/in/bookershowers/"><i class="fa fa-linkedin-square fa-3x wow fadeInUp" aria-hidden="true"></i></a>
								</p>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</section>
				<!-- End About Block 6 -->
				<!-- Start Reviews 2 -->
				<section id="reviews---2" class="container-fluid section-block reviews reviews-2 color-block">
					<div class="container">
						<div class="row">
							<h2  class="wow fadeInUp">Praise</h2>
							<div class="block-desc">
							</div>
							<!-- Review 1 -->
							<div class="col-md-4 review">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h3>Amy Zwarico</h3>
										<p>Chief Security Office AT&T</p>
									</div>
									<div class="review-text">
										<p> Ty is an expert in REST, having studied the area extensively and having analyzed and evaluated hundreds of REST implementations. He has evaluated both
											externally developed RESTful APIs and AT&T developed APIs. These implementations run the gamut of what is considered REST. Ty will bring an interesting
											perspective to the discipline because his work has been in a large company rather than academia. </p>
										<!-- Rating -->
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div> <!-- .review -->
							<!-- Review 2 -->
							<div class="col-md-4 review">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h3>Ken Crismon</h3>
										<p>T-Mobile</p>
									</div>
									<div class="review-text">
										<p> I was asked to sit in on one of his API Dev Team interviews where he works with the team to understand their API, tech stack and the various Use Cases. 
											What I observed was Tyrone’s very methodical and centered approach at surfacing the right amount of detail from the team to help assess the Security Posture
											of the API in question.  Often in these types of interviews the team being interviewed is already on edge, fearing judgement of their quality yet Tyrone was
											able to keep the team centered and on task.  It was a pleasure to hear him in action. </p>
										<!-- Rating -->
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div> <!-- .review -->
							<!-- Review 3 -->
							<div class="col-md-4 review">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h3>Joe Thompson </h3>
										<p>Sr. Technology Solutions Manager, AT&T Managed Security Services</p>
									</div>
									<div class="review-text">
										<p> wanted to give Ty a shout-out because he’s been a rock star and delivering quality work despite dealing with resource constraints, scope changes, project
											delays, product team prioritization changes, etc. </p>
										<!-- Rating -->
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i> <!-- .no -->
										</span>
									</div>
								</div>
							</div> <!-- .review -->
						</div> <!-- .row -->
					</div> <!-- .container -->
				</section>
				<!-- End Reviews 2 -->
				<!-- Start How to use 2 -->
				<section id="how-to-use---2" class="container-fluid section-block how-to-use-2">
					<div class="container">
						<div class="row">
							<h2 class="wow slideInLeft">Why You Should Hire Me</h2>
							<div class="block-desc wow fadeInUp">
								<p>Having a keen attention to detail and being an effective leader of cross-functional project teams, I’ve honed my abilities as a Manager and am always looking for new
									ways to innovate. During my career I have implemented process changes that reduced software project completion expenses by over 21% while also maximizing the
									quality of every solution developed right out of the gate. I look forward to using these abilities to maximize the success and quality of every project and solution
									at your company. </p>
							</div>
							<!-- Block 1 -->
							<div class="col-md-4 how-to-block-2 wow fadeInUp">
								<span class="number">1</span>
								<h3>Dedidication</h3>
								<p>I’m driven to research new ways to more effectively plan projects, implement operational best practices, and delegate specific tasks to the best team member
									possible, which has helped me revolutionize the operations of numerous project and technology teams during my career.</p>
							</div> <!-- .how-to-block -->
							<!-- Block 2 -->
							<div class="col-md-4 how-to-block-2 wow fadeInUp">
								<span class="number">2</span>
								<h3>Forward Thinking</h3>
								<p>I was featured in the Miami Herald as one of the first CEOs of a SaaS company in 2001. I was creating software agents that performed actual artificial intelligence
									back in 2005.</p>
							</div> <!-- .how-to-block -->
							<!-- Block 3 -->
							<div class="col-md-4 how-to-block-2 wow fadeInUp">
								<span class="number">3</span>
								<h3>Interpersonal</h3>
								<p>I’ve always been complemented on my interpersonal skills, which demonstrate a friendly, approachable demeanor and make it easy for me to lead highly diverse
									technology teams. </p>
							</div> <!-- .how-to-block -->
						</div> <!-- .row -->
					</div> <!-- .container -->
				</section>
				<!-- End How to use 2 -->
				<!-- Start Features 2 -->
				<section id="features---2" class="container-fluid section-block features color-block">
					<div class="container">
						<div class="row">
							<h2 class="wow fadeInUp">Expertise</h2>
							<div class="block-desc wow fadeInUp">
								<p>I'm driven to explore new technologies and have become highly proficient with a wide variety of languages, tools, and applications including API security, CRM
									systems, SaaS platforms, NoSQL, REST, SPA, GraphQL, network technologies, and the entire DevOps process. I’ve also led numerous successful projects focused on
									implementing and developing new functionality for key online business applications and patentable functionality and data management programs, and have extensive
									experience in creating data models and other tools to improve engineering team success. With my vast technical skill set, I play a key role in ensuring that
									technology teams stay innovative in the development of new features. </p>
							</div>
							<!-- Feature 1 -->
							<div class="col-md-4 feature feature-center feature-primary-color feature-border wow fadeInUp">
								<i class="icon-rocket"></i>
								<h3>Google Cloud Platform</h3>
							</div>
							<!-- Feature 2 -->
							<div class="col-md-4 feature feature-center feature-primary-color feature-border wow fadeInUp">
								<i class="icon-diamond"></i>
								<h3>APIGEE Architecture and API Design</h3>
							</div>
							<!-- Feature 3 -->
							<div class="col-md-4 feature feature-center feature-primary-color feature-border wow fadeInUp">
								<i class="icon-refresh"></i>
								<h3>Managed Security Services</h3>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</section>
				<!-- End Features 2 -->
				<!-- Start Counter 2 -->
				<section id="counter---2" class="container-fluid section-block counter-2">
					<div class="container">
						<div class="row wow fadeInUp">
							<div class="col-md-3 col-sm-6 counter-block">
								<span class="number">183</span>
								<span class="number-desc">Total Technology Projects</span>
							</div>
							<div class="col-md-3 col-sm-6 counter-block">
								<span class="number">16</span>
								<span class="number-desc">Cloud Projects</span>
							</div>
							<div class="col-md-3 col-sm-6 counter-block">
								<span class="number">5</span>
								<span class="number-desc">APIGEE Projects</span>
							</div>
							<div class="col-md-3 col-sm-6 counter-block">
								<span class="number">32</span>
								<span class="number-desc">Managed Security Service Projects</span>
							</div>
						</div>
					</div>
				</section>
				<!-- End Counter 2 -->
				<!-- Start Video 1 -->
				<!-- End Video 1 -->
				<!-- Start Latest Posts -->
				<section id="latest-posts---1" class="container-fluid section-block">
					<div class="container">
						<div class="row">
							<h2 class="wow fadeInUp">Latest Projects</h2>
							<div class="block-desc wow fadeInUp">
								<p>During the course of my career, I’ve worked in key technology leadership roles for numerous major companies such as Accenture, Telstra, Amtrak and AT&T, as well as
									several Fortune 500 organizations, including S&P Global, United Airlines, and HNTB. These roles encompassed team leadership, technology solutions development, and
									client collaboration. </p>
							</div>
							<article id="post-0a" class="col-md-4 index-post-block">
								<div class="border-box wow fadeInUp">
									<header class="post-preview-header">
										<div class="post-thumb">
											<img src="assets/images/project5.png" alt="Taliferro - CRM Platform"> <!-- Post thumbnail -->
										</div>
									</header>
									<div class="post-preview-content">
										<h3><a href="#" title="link">Taliferro Group</a></h3>
										<div class="post-preview-text">
											<p>Creator - Customer Relationship Manager</p>
										</div>
									</div> <!-- .post-preview-content -->
									<footer class="post-preview-footer">
										<a href="https://e-commerce.taliferro.com" class="button button-full" title="See It Live">See It Live</a>
									</footer>
								</div>
							</article>
							<article id="post-0" class="col-md-4 index-post-block">
								<div class="border-box wow fadeInUp">
									<header class="post-preview-header">
										<div class="post-thumb">
											<img src="assets/images/project4.png" alt="Taliferro - SaaS e-Commerce Platform"> <!-- Post thumbnail -->
										</div>
									</header>
									<div class="post-preview-content">
										<h3><a href="#" title="link">Taliferro Group</a></h3>
										<div class="post-preview-text">
											<p>Creator - e-Commerce platform</p>
										</div>
									</div> <!-- .post-preview-content -->
									<footer class="post-preview-footer">
										<a href="https://e-commerce.taliferro.com" class="button button-full" title="See It Live">See It Live</a>
									</footer>
								</div>
							</article>
							<!-- Post 1 -->
							<article id="post-1" class="col-md-4 index-post-block">
								<div class="border-box wow fadeInUp">
									<header class="post-preview-header">
										<div class="post-thumb">
											<img src="assets/images/project1.png" alt="US Biotek Labs - Drop Shipping"> <!-- Post thumbnail -->
										</div>
									</header>
									<div class="post-preview-content">
										<h3><a href="#" title="link">US Biotek Laboratories</a></h3>
										<div class="post-preview-text">
											<p> Director - Drop Shipping. </p>
										</div>
									</div> <!-- .post-preview-content -->
									<footer class="post-preview-footer">
										<a href="https://practitioner.usbiotek.com/" class="button button-full" title="See It Live">See It Live</a>
									</footer>
								</div>
							</article> <!-- .index-post-block -->
							<!-- Post 2 -->
							<article id="post-2" class="col-md-4 index-post-block">
								<div class="border-box wow fadeInUp">
									<header class="post-preview-header">
										<div class="post-thumb">
											<img src="assets/images/project2.png" alt="Notch Health"> <!-- Post thumbnail -->
										</div>
									</header>
									<div class="post-preview-content">
										<h3><a href="#" title="link">Notch Health</a></h3>
										<div class="post-preview-text">
											<p> Director - B2C Food Sensitivity, COVID19 testing. </p>
										</div>
									</div> <!-- .post-preview-content -->
									<footer class="post-preview-footer">
										<a href="https://notch.health" class="button button-full" title="See It Live">See It Live</a>
									</footer>
								</div>
							</article> <!-- .index-post-block -->
							<!-- Post 3 -->
							<article id="post-3" class="col-md-4 index-post-block">
								<div class="border-box wow fadeInUp">
									<header class="post-preview-header">
										<div class="post-thumb">
											<img src="assets/images/project3.png" alt="post-3"> <!-- Post thumbnail -->
										</div>
									</header>
									<div class="post-preview-content">
										<h3><a href="#" title="link">T-Mobile</a></h3>
										<div class="post-preview-text">
											<p> Architect - Sign In/Out Modernization. </p>
										</div>
									</div> <!-- .post-preview-content -->
									<footer class="post-preview-footer">
										<a href="https://account.t-mobile.com/signin/v2/?redirect_uri=https:%2F%2Fwww.t-mobile.com%2Fsignin&scope=TMO_ID_profile%2520associated_lines%2520billing_information%2520associated_billing_accounts%2520extended_lines%2520token%2520openid%2520vault&client_id=MYTMO&access_type=ONLINE&response_type=code&approval_prompt=auto&prompt=select_account&state=eyJpbnRlbnQiOiJBQUwiLCJib29rbWFya1VybCI6Imh0dHBzOi8vbXkudC1tb2JpbGUuY29tL3B1cmNoYXNlL2RldmljZS1pbnRlbnQifQ"
											class="button button-full" title="See It Live">See it Live</a>
									</footer>
								</div>
							</article>
							<article id="post-4" class="col-md-4 index-post-block">
								<div class="border-box wow fadeInUp">
									<header class="post-preview-header">
										<div class="post-thumb">
											<img src="assets/images/project6.png" alt="post-3"> <!-- Post thumbnail -->
										</div>
									</header>
									<div class="post-preview-content">
										<h3><a href="#" title="link">AT&T</a></h3>
										<div class="post-preview-text">
											<p> Architect/REST SME - APIGEE - Developer Portal </p>
										</div>
									</div> <!-- .post-preview-content -->
									<footer class="post-preview-footer">
										<a href="https://developer.att.com/products"
											class="button button-full" title="See It Live">See it Live</a>
									</footer>
								</div>
							</article> <!-- .index-post-block -->
						</div> <!-- .row -->
					</div> <!-- .container -->
				</section>
				<!-- End Latest Posts -->
			</main>
		</div> <!-- #primary -->
	</div> <!-- #content -->
	<!-- Start Footer -->
	<!-- End Footer -->
</div>