<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
				<section id="about---6" class="container-fluid section-block about-6">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 about-text">
								<h2 class="wow fadeInUp">Booker Tyrone Showers</h2>

								<div class="row">
									<div class="col-md-4">
										<img src="/assets/images/team-slider2.webp" alt="Booker Tyrone Showers" class="img-fluid rounded float-start me-5 mb-5">
										<p class="wow fadeInUp">&nbsp;</p>
										<p class="wow fadeInUp">
											<a title="Resume" href="/assets/files/Booker_Tyrone_Showers.pdf"><i class="fa fa-file-pdf-o fa-2x wow fadeInUp ps-3" aria-hidden="true"></i></a>
											<a href="https://www.linkedin.com/in/bookershowers/"><i class="fa fa-linkedin-square fa-2x wow fadeInUp ps-3" aria-hidden="true"></i></a>
											<a href="https://twitter.com/tyrone_showers/"><i class="fa fa-twitter fa-2x wow fadeInUp ps-3" aria-hidden="true"></i></a>
											<a href="https://www.instagram.com/tyshowers/"><i class="fa fa-instagram fa-2x wow fadeInUp ps-3" aria-hidden="true"></i></a>
											<a href="https://github.com/tshowers"> <i class="fa fa-github-alt  fa-2x wow fadeInUp ps-3" aria-hidden="true"></i></a>
											<a title="Investor Pitches" href="assets/files/Archive.zip"> <i class="fa fa-file-archive-o  fa-2x wow fadeInUp ps-3" aria-hidden="true"></i></a>
										</p>
		
									</div>
									<div class="col-md-8">
										<p class="wow fadeInUp">
											Are you looking for a talented augmentation
										   for your technology department? A proven technologist who demonstrates and offers extensive experience in competitive industries? An experienced technologist who
										   knows a variety of industries. A visionary who can help transform your business processes and future?
									   </p>
									   <p> Are you searching for someone who can take the initiative, drive results and support the achievement of business goals? Need maximum efficiency for your company's
										   infrastructure. </p>
									   <p> Tyrone Showers is an award-winning technologist who demonstrates and offers extensive experience in competitive travel, biotechnology, telecommunications, and
										   retail industries. He profoundly understands APIGEE, REST, security, eCommerce, and cloud architecture. </p>
									   <p> View his online profile, check out some of his <a routerLink="/blog"><strong>blogs</strong></a> or connect with him on LinkedIn. </p>
									   <p> He will be glad to discuss the best approach to satisfying your needs. </p>
	   
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="reviews---2" class="container-fluid section-block reviews reviews-2 color-block">
					<div class="container">
						<div class="row">
							<h2 class="wow fadeInUp text-center">Praise</h2>
							<div class="block-desc">
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Ed Lambert </h6>
										<p class="wow fadeInUp">Director, Developer Advocacy AT&T Technology Development</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp">Ty has been a technical subject matter expert for RESTful API design on my team since 2010. Ty authored the bulk of AT&T’s Guidelines
											for RESTful API Design. This document is an extremely useful compendium of best practices that we have used to drive consistency across APIs. The AT&T model
											has been to allow multiple diverse teams to create APIs that provide access to their technical services. In this model, it is critical that there be some
											standards that enable these teams to create APIs that can be easily consumed. This common approach allows developers consuming these APIs to understand and
											use these diverse services quickly and easily. In addition to authoring these standards for AT&T, Ty also sits as a member of the governing body that
											evaluated all APIs externally exposed by the company. Ty’s role on the “Northbound API Governance Board” has been to determine whether these emerging APIs
											adhere to RESTful guidelines and are appropriately useable for the developer community. Finally, in addition to authoring the standards and governing on
											their adherence, Ty plays an important consultative role with teams creating APIs. During the API design phase, countless teams have reached out for Ty’s
											guidance and he has helped them with a more effective RESTful design from the outset. This step has saved a tremendous amount of time by advising teams on
											how to pass the governance review ahead of time. Ty is a skilled API standards resource. However, I want to be sure to point out that Ty also has critical
											soft skills that make him a valuable member of the team. Ty has a very engaging personality and is a much more effective verbal communicator than most
											technical resources. I could see Ty doing an outstanding job as an API Evangelist or within Technical Sales. In summary, Ty has solid technical skills and
											outstanding people skills. I would strongly urge you to consider his candidacy for a wide range of positions. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Karthic Raghavan </h6>
										<p class="wow fadeInUp">DeveloperAdvocacy Group AT&T</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> Ty sits as a member of the North Bound API Governance team representing the Developer Advocacy group to ensure that APIs that are to be
											published by AT&T adhere to RESTful best practices, as defined by the industry as well as defined internally by AT&T. I would say he would have seen
											hundreds of RESTful API designs and implementations (in various flavors) for approval till now. Also, not to forget that those are not any theories or
											hypothesis but real world implementations. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Kevin Stride</h6>
										<p class="wow fadeInUp">EY</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> During my duration at T­Mobile, Ty was an excellent addition to the team. Prior to Ty’s arrival the team was struggling, especially
											between the UI and the API layers, often with each team saying the other team was not following the correct approach. Ty was a key resource in getting the
											team on track and successfully communicate between the canvas team, API, and UDP team to ensure each of the teams were following industry best practices as
											well as follow application architecture standards. Ty developed proper architecture deliverables and pushed to have them all reviwe by the team, such as
											security, caching strategy, implementation plan, technology plan, and capability roadmap. For example: Ty took the lead in partnering with the Azure team to
											ensure the application followed T­mobile’s Azure design principles. Ty also partnered witth the securitty organizaiton to ensure that proper application
											security processes, and most importantly Ty took the lead to partner with EDP Pipeline to develop T­Mobiles first pipeline utilizing Azure. Towards the end
											of my time at T­Mobile, there was confusion in what the client was looking for in a future state architecture. Ty had developed a future state that
											leveraged many of the existing components, it was unclear that the client was truly looking for a future state ignoring what was in place today. This was
											not identified until after our second review meeting, when I specifically asked the question to the stakeholder. This was particulary challenging situation,
											as each of the tracks (UDP, API, UI) had expressed need, that Ty was taking into account. In the end I would love the opportunity to work with Ty in the
											future and respect in knowledge as an architect, and most importantly, his ability to overcome difficult sitiations. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Raviteja Cheruvu</h6>
										<p class="wow fadeInUp">Wipro</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> I would like to admire Ty Showers for his work as a member of Asset Management Project in T­Mobile in few words during my journey with
											him till date. Ty is always driven and motivated with his work. He is very clear about what he owns within the department. Ty is a great asset to the team.
											He is very professional and focused in his work. Despite the difficult deadlines he maintains a positive attitude. He always responds to problems without
											getting angry or frustrated. His most outstanding “value” from what I have seen is his attitude towards continuous improvement. Always greeting with a smile
											is his forte which makes other co­workers like myself and others work energetically and focus on what is being done what needs to be done. The way of
											understanding his Architectural works like design flow, technical flow Department/Team wise is always crisp and clear when Ty puts them into words and
											pictorial representations apart from his other excellent works. Any Project is likely to be shallow and hollow without a valuable asset like Ty. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Nilaf Talapady</h6>
										<p class="wow fadeInUp">Moonraft</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> I came to know recently that Ty is off the project and honestly it came as surprise to me. It was great pleasure working with Ty
											discussing various architecture requirements and best practices for the project. His valuable inputs really helped in shaping early aspects of Canvas
											especially when each of our teams were not aligned. As you are the reporting manager I wanted to say that he was valuable asset on the team. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Sommer Anderson</h6>
										<p class="wow fadeInUp">T-Mobile</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> I just wanted to commend Ty Showers on his excellent work as an architect for the T-Mobile Canvas project. He is extremely
											knowledgeable about best practices and ideal state architecture for API applications. He addresses customer concerns with industry experts and software
											vendors (such as Azure) to ensure his proposed solutions are feasible and meet customer requirements. He clarifies requirements that are vague or do not
											align with industry best practice to advise the customer of a better solution and to ensure the customer understands potential pitfalls. He was a pleasure
											to work with and found many details we had not considered that were crucial to our future state plans. He followed all T-Mobile standards and formats to
											provide detailed explanations of his proposed implementation, which, upon review with Azure, was the exact solution they would have created for us. Ty’s
											wealth of knowledge and dedication to providing sound, scalable architecture would best be leveraged within an organization where management does not think
											of themselves as architects. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Christine Davis</h6>
										<p class="wow fadeInUp">Shire</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> Ty helped us thoroughly go over our requirements and why we needed this solution. He promptly and frequently followed up until the
											issue was resolved. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Corey Kallison</h6>
										<p class="wow fadeInUp">Takeda</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> Ty is extremely responsive, provided clear guidance and helped navigate the process of enabling cross company access. As more and more
											of Takeda manages through “distribution lists”, it was nice to have a real contact to work with who really pushed the other groups into providing a
											solution. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Leslie Turkson</h6>
										<p class="wow fadeInUp">Deloitte Consulting</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> Ty is an accomplished software architect with excellent interpersonal and client facing skills. Booker can be counted upon to architect
											and deliver complex software applications and has the requisite project management and leadership skills to lead application teams. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Amy Zwarico</h6>
										<p class="wow fadeInUp">Chief Security Office AT&T</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> Ty is an expert in REST, having studied the area extensively and having analyzed and evaluated hundreds of REST implementations. He has
											evaluated both externally developed RESTful APIs and AT&T developed APIs. These implementations run the gamut of what is considered REST. Ty will bring an
											interesting perspective to the discipline because his work has been in a large company rather than academia. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div>
							<!-- Review 2 -->
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Ken Crismon</h6>
										<p class="wow fadeInUp">T-Mobile</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> I was asked to sit in on one of his API Dev Team interviews where he works with the team to understand their API, tech stack and the
											various Use Cases.  What I observed was Tyrone’s very methodical and centered approach at surfacing the right amount of detail from the team to help assess
											the Security Posture of the API in question.  Often in these types of interviews the team being interviewed is already on edge, fearing judgement of their
											quality yet Tyrone was able to keep the team centered and on task.  It was a pleasure to hear him in action. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
									</div>
								</div>
							</div> <!-- .review -->
							<!-- Review 3 -->
							<div class="col-md-4 review mb-5">
								<div class="no-border-box wow fadeInUp">
									<div class="avatar">
										<h6>Joe Thompson </h6>
										<p class="wow fadeInUp">Sr. Technology Solutions Manager, AT&T Managed Security Services</p>
									</div>
									<div class="review-text">
										<p class="wow fadeInUp"> wanted to give Ty a shout-out because he’s been a rock star and delivering quality work despite dealing with resource constraints,
											scope changes, project delays, product team prioritization changes, etc. </p>
										<span class="stars">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i> <!-- .no -->
										</span>
									</div>
								</div>
							</div> <!-- .review -->
						</div> <!-- .row -->
					</div> <!-- .container -->
				</section>
			</main>
		</div> <!-- #primary -->
	</div> <!-- #content -->
	<!-- Start Footer -->
	<!-- End Footer -->
</div>