<!--=====================================-->
<!--=        Banner Area Start         =-->
<!--=====================================-->
<section class="banner banner-style-5" id="op-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="banner-content">
                    <h1 class="title sal-animate wow fadeInUp">Begin Your IT Success Story</h1>
                    <div class="wow fadeInUp mb-2" style="color: white; font-weight: 700;"><strong>Is the software you use</strong></div>
                    <ul style="color: white">
                        <li>Too expensive?</li>
                        <li>Too complicated?</li>
                        <li>Too time-consuming?</li>
                        <li>Too slow?</li>
                        <li>Suffering from App Fatigue?</li>
                    </ul>
                    <div style="color: white;" class="wow fadeInUp mb-3"><strong>Try Our Easy Setup and Ready to Use Products</strong> </div>
                    <div class="sal-animate  wow fadeInUp">
                        <a href="#op-portfolio" aria-label="View Products" class="axil-btn btn-fill-white btn-large">View Products</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 sal-animate wow fadeInUp">
                <div *ngIf="message">
                    <div class="alert alert-success text-center" role="alert"> {{message}} </div>
                </div>
                <div class="banner-form">
                    <div class="contact-form-box shadow-box">
                        <h3 class="title text-sentence">Free Analysis and Action Plan to Improve Customer Engagement</h3>
                        <form #dataForm="ngForm" (ngSubmit)="onSubmit();dataForm.reset();" class="axil-contact-form">
                            <div class="form-group">
                                <label>First Name</label>
                                <input [(ngModel)]="contact.firstName" id="firstName" name="firstName" autocomplete="off" type="text" class="form-control" placeholder="John" required>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input [(ngModel)]="contact.lastName" id="lastName" name="lastName" autocomplete="off" type="text" class="form-control" placeholder="Smith" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input [(ngModel)]="email.emailAddress" id="emailAddress" type="email" class="form-control" name="emailAddress" placeholder="example@mail.com"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off" required>
                            </div>
                            <div class="form-group mb--40">
                                <label>Website</label>
                                <input [(ngModel)]="contact.website" id="userWebsite" type="url" class="form-control" name="userWebsite" placeholder="https://wwww.example.com" pattern="https://.*" autocomplete="off" required>
                            </div>
                            <div class="form-group mb--40">
                                <re-captcha (resolved)="resolved($event)" siteKey="6LcxPI8hAAAAADx9HjHU-dhIeIYp69oTdxms5esv"></re-captcha>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group"  [hidden]="!captcha">
                                <button type="submit" style="cursor:pointer" class="axil-btn btn-borderd btn-fluid btn-primary" name="submit-btn" aria-label="Submit" [disabled]="!dataForm.form.valid">Submit</button>
                            </div>
                            <input type="hidden" class="form-control" name="contact-message" value="Null">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>