<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
<header class="header axil-header header-style-4">
    <div id="axil-sticky-placeholder" style="height: 0px;"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <div class="header-logo">
                    <a routerLink="/" style="color: aliceblue;"> Taliferro Group</a>
                </div>
                <div class="header-main-nav">
                    <!-- Start Mainmanu Nav -->
                    <nav class="mainmenu-nav" id="mobilemenu-popup">
                        <div class="d-block d-lg-none">
                            <div class="mobile-nav-header">
                                <div class="mobile-nav-logo">
                                    <a routerLink="/" style="color: aliceblue;">
                                        Taliferro Group
                                    </a>
                                </div>
                                <!-- <button class="mobile-menu-close" data-bs-dismiss="offcanvas"><i class="fa fa-times"></i></button> -->
                            </div>
                        </div>
                        <ul class="mainmenu" id="onepagenav">
                            <li class="current">
                                <a href="#op-home">Home</a>
                            </li>
                            <li class="">
                                <a href="#op-service">Services</a>
                            </li>
                            <li class="">
                                <a href="#op-portfolio">Products</a>
                            </li>
                            <li class="">
                                <a href="#op-testimonial">Testimonials</a>
                            </li>
                            <li class="">
                                <a href="#op-experience">Expertise</a>
                            </li>
                            <li class="">
                                <a href="#op-blog">Blog</a>
                            </li>
                            <li class="header-btn">
                                <a href="#op-contact" class="axil-btn btn-fill-white">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->
                </div>
                <div class="header-action">
                    <ul class="list-unstyled">
                        <li class="mobile-menu-btn sidemenu-btn d-lg-none d-block">
                            <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu-popup">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>